1)The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

In [ ]:
for i in range(1,100):
    if(i%3!=0 and i%5!=0 and i%15!=0):
        print(str(i))
    if(i%3==0 and i%5!=0 and i%15!=0):
        print("Micky")
    if(i%5==0 and i%15!=0 and i%3!=0):
        print("Mouse")
    if(i%15==0):
        print("MickyMouse")

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
t1=()
l1=[]
for i in range(1,101):
    if(i%3!=0 and i%5!=0 and i%15!=0):
        t1 = t1 + (i,)
    if(i%3==0 and i%5!=0 and i%15!=0):
        t1 = t1 + ("Micky",)
    if(i%5==0 and i%15!=0 and i%3!=0):
        t1 = t1 + ("Mouse",)
    if(i%15==0):
        t1 = t1 + ("MickyMouse",)
l1=list(t1)
for j in range(0,len(t1)):
    if l1[j]=="Micky":
        l1[j]="Donald"
    if l1[j]=="Mouse":
        l1[j]="Duck"
    if l1[j]=="MickyMouse":
        l1[j]="DonaldDuck"
       
t1=tuple(l1)
print(t1)

2.The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def function(a,b):
    a,b=b,a
    return a,b
print(function(2,5))

3. Computing the distance

Write a function that calculates and returns the euclidean distance between two points u and v, where u and v are both 2-tuples (x,y). For example, if u=(3,0) and v=(0,4), the function should return 5

In [ ]:
import math
def function(v,u):
    a=abs(int(v[1])-int(u[1]))
    b=abs(int(v[0])-int(u[0]))
    return math.sqrt((a**2)+(b**2))
v=(input("type first eleman of v"),input("type second eleman of v"))
u=(input("type first eleman of u"),input("type second eleman of u"))
print(function(v,u))

4. Counting letters

Write a program to calculate the number of times each character occurs in a given string s. Ignore differneces in capitalization

s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [ ]:
liste=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','.']
liste2=[]
string=s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
string=string.upper()
chracters=[x for x in string]
for i in range (0,len(liste)):
    count=0
    for j in range(0,len(chracters)):
        if(str(liste[i])==str(chracters[j])):
            count+=1
        if(j==len(chracters)-1 and count!=0):
            print(str(liste[i]),count)

5. Isolating the unique

Write a function that determines and count the unique numbers in the list l

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [ ]:
# Write a function that determines and count the unique numbers in the list
unique_list = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
     85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
     1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
     45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

my_list=[8,15,7,1,4,9,6,7,25,78,96,56,356,47,62]

found_in_unique_list = []
def unique_numbers(unique_list):
    for i in range(len(my_list)):
        for j in range(len(unique_list)):
            if int(my_list[i]) == int(unique_list[j]):
                found_in_unique_list.append(int(unique_list[j]))
        j=0
    i=0        
    for i in range(len(found_in_unique_list)):
        print(found_in_unique_list[i])
    print("Number of unique numbers:" , len(found_in_unique_list))
   
print("Unique numbers in list:")
unique_numbers(unique_list)

6. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
a=input("input number")
def function2(a):
    return a**2
def function3(a):
    return a**3
def function6(a):
    return int(function2(a)*function3(a)*(function2(a)/a))
function2(int(a))
function3(int(a))
print(function6(int(a)))

7. Cubes

Create a list of the cubes of x for x in [0, 10] using:

a) a for loop

In [ ]:
liste=[]
for x in range(0,10):
    liste.append(x**3);
for i in range(0,10):
    print(liste[i])

7. Cubes

Create a list of the cubes of x for x in [0, 10] using:

b) a list comprehension

In [ ]:
liste=[(i**3)for i in range(0,10)]
print(liste)

8. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
for a in range(0,100):
    for b in range(0,100):
        for c in range(0,100):
            if (int(c**2)==(int(a**2)+int(b**2))and int(a)!=0 and int(b)!=0 and int(c)!=0):
                print("a="+str(a),"b="+str(b),"c="+str(c))

9. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
# List we define
my_list = [2, 4, 10, 6, 8, 4, 10, 12, 18, 19, 25, 5, 7]
# max and min of our list
my_list_min, my_list_max = min(my_list), max(my_list)
# Normalization of our list according to max and min value of our list
for i, num in enumerate(my_list):
    my_list[i]=(num-my_list_min)/(my_list_max-my_list_min)
print("Normalization : ", my_list)