1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [7]:
Lis = []
print("\n--------Before Substitution--------")
for i in range(1,101):
    if(i % 3 == 0 and i % 5 == 0 ):
        Lis.append("MickeyMouse")
    elif( i % 3 == 0 ):
        Lis.append("Mickey")
    elif( i % 5 == 0 ):
        Lis.append("Mouse")
    else:    
        Lis.append(str(i))
        
print(Lis)

print("\n------------------AFTER 1st Substitution --------------")
Lis = [w.replace('Mickey', 'Donald') for w in Lis]
print(Lis)

print("\n------------------AFTER 2nd Substitution-------------")
Lis = [w.replace('Mouse', 'Duck') for w in Lis]

t = tuple(Lis)
print(t)

--------Before Substitution--------
['1', '2', 'Mickey', '4', 'Mouse', 'Mickey', '7', '8', 'Mickey', 'Mouse', '11', 'Mickey', '13', '14', 'MickeyMouse', '16', '17', 'Mickey', '19', 'Mouse', 'Mickey', '22', '23', 'Mickey', 'Mouse', '26', 'Mickey', '28', '29', 'MickeyMouse', '31', '32', 'Mickey', '34', 'Mouse', 'Mickey', '37', '38', 'Mickey', 'Mouse', '41', 'Mickey', '43', '44', 'MickeyMouse', '46', '47', 'Mickey', '49', 'Mouse', 'Mickey', '52', '53', 'Mickey', 'Mouse', '56', 'Mickey', '58', '59', 'MickeyMouse', '61', '62', 'Mickey', '64', 'Mouse', 'Mickey', '67', '68', 'Mickey', 'Mouse', '71', 'Mickey', '73', '74', 'MickeyMouse', '76', '77', 'Mickey', '79', 'Mouse', 'Mickey', '82', '83', 'Mickey', 'Mouse', '86', 'Mickey', '88', '89', 'MickeyMouse', '91', '92', 'Mickey', '94', 'Mouse', 'Mickey', '97', '98', 'Mickey', 'Mouse']

------------------AFTER 1st Substitution --------------
['1', '2', 'Donald', '4', 'Mouse', 'Donald', '7', '8', 'Donald', 'Mouse', '11', 'Donald', '13', '14', 'DonaldMouse', '16', '17', 'Donald', '19', 'Mouse', 'Donald', '22', '23', 'Donald', 'Mouse', '26', 'Donald', '28', '29', 'DonaldMouse', '31', '32', 'Donald', '34', 'Mouse', 'Donald', '37', '38', 'Donald', 'Mouse', '41', 'Donald', '43', '44', 'DonaldMouse', '46', '47', 'Donald', '49', 'Mouse', 'Donald', '52', '53', 'Donald', 'Mouse', '56', 'Donald', '58', '59', 'DonaldMouse', '61', '62', 'Donald', '64', 'Mouse', 'Donald', '67', '68', 'Donald', 'Mouse', '71', 'Donald', '73', '74', 'DonaldMouse', '76', '77', 'Donald', '79', 'Mouse', 'Donald', '82', '83', 'Donald', 'Mouse', '86', 'Donald', '88', '89', 'DonaldMouse', '91', '92', 'Donald', '94', 'Mouse', 'Donald', '97', '98', 'Donald', 'Mouse']

------------------AFTER 2nd Substitution-------------
('1', '2', 'Donald', '4', 'Duck', 'Donald', '7', '8', 'Donald', 'Duck', '11', 'Donald', '13', '14', 'DonaldDuck', '16', '17', 'Donald', '19', 'Duck', 'Donald', '22', '23', 'Donald', 'Duck', '26', 'Donald', '28', '29', 'DonaldDuck', '31', '32', 'Donald', '34', 'Duck', 'Donald', '37', '38', 'Donald', 'Duck', '41', 'Donald', '43', '44', 'DonaldDuck', '46', '47', 'Donald', '49', 'Duck', 'Donald', '52', '53', 'Donald', 'Duck', '56', 'Donald', '58', '59', 'DonaldDuck', '61', '62', 'Donald', '64', 'Duck', 'Donald', '67', '68', 'Donald', 'Duck', '71', 'Donald', '73', '74', 'DonaldDuck', '76', '77', 'Donald', '79', 'Duck', 'Donald', '82', '83', 'Donald', 'Duck', '86', 'Donald', '88', '89', 'DonaldDuck', '91', '92', 'Donald', '94', 'Duck', 'Donald', '97', '98', 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [8]:
print("-------Without Temporary Variable---------")
def swap(a, b):
    print("\nBefore swap a = %d and b = %d" %(a, b))
    a,b = b,a
    print("\nAfterswap a = %d and b = %d" %(a, b))
        
swap(17,52)

print("\n-------With Temporary Variable---------")

def swap(a, b):
    print("\nBefore swap a = %d and b = %d" %(a, b))
    temp = a
    a = b
    b = temp
    print("\nAfter swap a = %d and b = %d" %(a, b))
        
swap(17,52)

-------Without Temporary Variable---------

Before swap a = 17 and b = 52

Afterswap a = 52 and b = 17

-------With Temporary Variable---------

Before swap a = 17 and b = 52

Afterswap a = 52 and b = 17

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [12]:
import math 

def Euclidean(u,v):
    distance = math.sqrt (sum ([(a - b) ** 2 for a, b in zip(u, v)]) )
    print(distance)
    
u = (3,0)
v = (0,4)

print(Euclidean(u,v))

5.0
None

4. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [16]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"


def char_count(string):
    dict = {}
    for n in string:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict

print( char_count(s) )

{'W': 1, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 2, 'B': 1, 'l': 6, 'M': 4, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2, 'F': 1, 'w': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [17]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

import collections

def uniq_num(Lis) :
     counter=collections.Counter(Lis)
     print("\nNumber Frequency : ",counter)
     print("\nUnique Numbers ",counter.keys())
        
uniq_num(l)

Number Frequency :  Counter({84: 4, 36: 3, 45: 3, 70: 3, 85: 3, 20: 3, 51: 3, 91: 3, 3: 2, 31: 2, 63: 2, 56: 2, 42: 2, 66: 2, 89: 2, 50: 2, 34: 2, 58: 1, 74: 1, 96: 1, 64: 1, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 47: 1, 88: 1, 55: 1, 54: 1, 8: 1, 79: 1, 81: 1, 57: 1, 37: 1, 1: 1, 9: 1, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1})

Unique Numbers  dict_keys([36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53])

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [4]:

def square(a):
    print("Square :",a**2)
    return a**2;
    
def cube(b):
    print("Cube :",b**3)
    return b**3;
    
def sixth(c,d):
    print("Sixth power :",(c+d)**6)

c = square(1)
d = cube(2)
sixth(c,d)

Square : 1
Cube : 8
Sixth power : 531441

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
print("-- list of the cubes using for loop--")
for x in range ( 0, 10):
    print(x ** 3)
print("\n-- list of the cubes using List Comprehension--")
cubes = [ x**3 for x in range(10)]
print(cubes)

-- list of the cubes using for loop--
0
1
8
27
64
125
216
343
512
729

-- list of the cubes using List Comprehension--
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [21]:

def pythagoreanTriplets(limits) : 
    c, m = 0, 2
    while c < limits : 
        for n in range(1, m) : 
            a = m * m - n * n 
            b = 2 * m * n 
            c = m * m + n * n 

            if c > limits : 
                break
            print(a, b, c) 
  
        m = m + 1
print("---- Pythagorean tuple upto  100----")

pythagoreanTriplets(100)

---- Pythagorean tuple upto  100----
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20
7 24 25
24 10 26
21 20 29
16 30 34
9 40 41
35 12 37
32 24 40
27 36 45
20 48 52
11 60 61
48 14 50
45 28 53
40 42 58
33 56 65
24 70 74
13 84 85
63 16 65
60 32 68
55 48 73
48 64 80
39 80 89
28 96 100

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [8]:
def sumtupleinlist(lst):
    return [sum(i) for i in lst]

list = [(1, 2), (1, 3), (2, 3)]


print(sumtupleinlist(list))

[3, 4, 5]