1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

In [1]:
for i in range(1,101): 
    if (i%3==0 and i%5!=0):
        print("Mickey")
    elif (i%3!=0 and i%5==0):
        print("Mouse")
    elif (i%3==0 and i%5==0):
        print("MickeyMouse")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
my_list = []

# create a list instead of a tuple
# because I can not change the tuple variables
for i in range(1,101): 
    if (i%3==0 and i%5!=0):
        my_list.append("Mickey")
    elif (i%3!=0 and i%5==0):
        my_list.append("Mouse")
    elif (i%3==0 and i%5==0):
        my_list.append("MickeyMouse")
    else:
        my_list.append(i)
        
# now I can change the list variables 
for j in range(0,len(my_list)):
    a = my_list[j]
    if (a == "Mickey"):
        my_list[j] = "Donald"
    elif (a == "Mouse"):
        my_list[j] = "Duck"
    elif (a == "MickeyMouse"):
        my_list[j] = "DonaldDuck"

# change list to tuple
my_list = tuple(my_list)

print(my_list)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [5]:
x = input("set x = ")
y = input("set y = ")

# function swap: swaps the values of the variables
def swap():
    global x
    global y
    t = x
    x = y
    y = t

swap()

print("x now is = " + x + " and y now is = " + y)

set x =  5
set y =  6

x now is = 6 and y now is = 5

In [6]:
w = int(input("set w = "))
z = int(input("set z = "))

# without temporary variable
def new_swap():
    global w
    global z
    w = w + z
    z = w - z
    w = w - z
    
new_swap()

print("w now is = " + str(w) + " and z now is = " + str(z))

set w =  5
set z =  9

w now is = 9 and z now is = 5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [8]:
import math

x1 = input("set x1 = ")
y1 = input("set y1 = ")

x2 = input("set x2 = ")
y2 = input("set y2 = ")

u = (x1, y1)
v = (x2, y2)

def euclidian_distance(u1, u2, v1, v2):
    distance = math.sqrt((float(v1)-float(u1))**2 + (float(v2)-float(u2))**2)
    return distance
    
print(euclidian_distance(u[0], u[1], v[0], v[1]))

set x1 =  5
set y1 =  2
set x2 =  7
set y2 =  12

10.198039027185569

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [9]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s = s.lower()

alphabet = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]

for char in alphabet:
    print("Character " + char + " appears " + str(s.count(char)) + " times")

Character a appears 7 times
Character b appears 5 times
Character c appears 3 times
Character d appears 3 times
Character e appears 22 times
Character f appears 10 times
Character g appears 1 times
Character h appears 9 times
Character i appears 14 times
Character j appears 0 times
Character k appears 2 times
Character l appears 6 times
Character m appears 12 times
Character n appears 10 times
Character o appears 13 times
Character p appears 8 times
Character q appears 0 times
Character r appears 17 times
Character s appears 9 times
Character t appears 19 times
Character u appears 9 times
Character v appears 2 times
Character w appears 2 times
Character x appears 0 times
Character y appears 2 times
Character z appears 0 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [10]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

l = set(l)
print(l)
print("Number of unique numbers = " + str(len(l)))

{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
Number of unique numbers = 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [11]:
x = int(input())

def power_2(x):
    return pow(x,2)

def power_3(x):
    return pow(x,3)

def power_6(x2,x3):
    return x2*x3*x

print(power_6(power_2(x), power_3(x)))

 6

46656

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [12]:
a = []
for i in range(0, 10):
    a.append(pow(i, 3))
    
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [13]:
a = [pow(x, 3) for x in range(0, 10)]
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [14]:
d = [[(a, b, c) for c in range(100) for b in range(c) for a in range(b) if c*c == a*a + b*b]]
print(d)

# not sure about uniqueness

[[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97)]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [17]:
def normalization():
    # empty list 
    lst = [] 
    # number of elements as input 
    n = int(input("Enter number of elements : ")) 
    #insert elements
    for i in range(0, n): 
        element = float(input()) 
        lst.append(element) # adding the element 
        
    s = sum(lst)
    lst = [i/s for i in lst]

    return(tuple(lst))

tpl = normalization()

print(tpl)

Enter number of elements :  5
 1
 3
 5
 7
 3

(0.05263157894736842, 0.15789473684210525, 0.2631578947368421, 0.3684210526315789, 0.15789473684210525)