1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
#1a

for i in range (1,101):
    if (i%3==0 and i%5!=0):
        print("Mickey")
    elif (i%5==0 and i%3!=0):
        print("Mouse")
    elif (i%3==0 and i%5==0):
        print("MickeyMouse")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [2]:
#1b

A_tuple=()
for i in range (1,101):
    if (i%3==0 and i%5!=0):
        A_tuple += ("Mickey",)
    elif (i%5==0 and i%3!=0):
        A_tuple += ("Mouse",)
    elif (i%3==0 and i%5==0):
        A_tuple += ("MickeyMouse",)
    else:
        A_tuple += (i,)  
print(A_tuple)

#In order to assign new values to the elements of A_tuple it will be changed into a list
A_list = list(A_tuple)
for i in range(0,len(A_list)):
    if A_list[i] == "Mickey":
        A_list[i] = "Donald"
    elif A_list[i] == "Mouse":
        A_list[i] = "Duck"
A_tuple = tuple(A_list)
print(A_tuple)

(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
X = 'a'
Y = 1

def swap(a, b):
    return b, a
    
X, Y = swap(X,Y)

print(X,Y)

1 a

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
u = (3,0)
v = (0,4)

def euclidean(p,q):
    d = ((p[0]-q[0])**2 + (p[1]-q[1])**2)**0.5
    return d
  
D = euclidean(u,v)
print(D)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

#at first capital letters are changed into small ones
t = s.lower()

a = []

for c in t:
    if c in a:
        continue
    else:
        n = t.count(c)
        print("# of '%c' character: %.0f" %(c, n))
        a.append(c) 

#Inside the for loop it is checked if the character has been counted yet looking at list a where all the already counted characters are stored. 
#This program can be done using dictionaries.

dic={}

for c in t:
    if c in dic:
        dic[c] += 1
    else:
        dic[c] = 1

print(dic)

# of 'w' character: 2
# of 'r' character: 17
# of 'i' character: 14
# of 't' character: 19
# of 'e' character: 22
# of ' ' character: 41
# of 'a' character: 7
# of 'p' character: 8
# of 'o' character: 13
# of 'g' character: 1
# of 'm' character: 12
# of 'h' character: 9
# of 'n' character: 10
# of 's' character: 9
# of 'u' character: 9
# of 'b' character: 5
# of 'f' character: 10
# of '1' character: 2
# of '0' character: 2
# of '.' character: 2
# of 'l' character: 6
# of 'c' character: 3
# of 'k' character: 2
# of 'y' character: 2
# of 'd' character: 3
# of 'v' character: 2
{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [1]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

dic = {}

for i in l:
    if i in dic:
        dic[i] += 1
    else:
        dic[i] = 1
        
m = [i for i in dic if dic[i]==1]

print(m)

print("# of unique numbers: %.0f" %len(m))

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
# of unique numbers: 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return cube(square(x))

print(sixth(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
#a
l = []
for x in range(0,10):
    l.append(x**3)
print(l)

#b
m = [x**3 for x in range(0, 10)]
print(m)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
m = tuple([[i,j,k] for i in range(1,100) for j in range(i, 100) for k in range(j, 100) if k**2 - j**2 - i**2 == 0])
print(m)

([3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97])

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [10]:
def norm(t):
    M=0
    for i in t:
        M += i**2
    M = M**0.5
    s = [x/M for x in t]
    return tuple(s)

a = (1, 1)
an = norm(a)
print(an)

m = 0
for i in an:
    m += i**2
print("module = %.2f" %m)

#The normalization has been done with respect to the module of the n-vector represented by the tuple

(0.7071067811865475, 0.7071067811865475)
module = 1.00