1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
a=[]
for i in range (1,101) :
	if i%3==0 and i%5==0 :
		a.append('MickeyMouse')
	elif i%3==0 :
		a.append('Mickey')
	elif i%5==0 :
		a.append('Mouse')
	else:
		a.append(i)
        
print (a)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [30]:
def swap(x,y):
    a=[x,y]
    a=a*2
    del a[0]
    del a[2]
    return a
swap(4,5)

[5, 4]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
import math
def Distance(ux,uy,vx,vy):
	dx=ux-vx
	dy=uy-vy
	distance=math.sqrt(dx**2+dy**2)
	print (distance)
    
    
    Distance (3,0,0,4)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [7]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
alphabet='abcdefghijklmnopqrstuvwxyz'
for char in alphabet:
    print (char,s.count(char))

a 7
b 4
c 3
d 3
e 22
f 9
g 1
h 9
i 14
j 0
k 2
l 6
m 8
n 10
o 13
p 8
q 0
r 17
s 9
t 19
u 9
v 2
w 1
x 0
y 2
z 0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [9]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
for i in l:
    print (i, 'is repeated', l.count(i),'times')

36 is repeated 3 times
45 is repeated 3 times
58 is repeated 1 times
3 is repeated 2 times
74 is repeated 1 times
96 is repeated 1 times
64 is repeated 1 times
45 is repeated 3 times
31 is repeated 2 times
10 is repeated 1 times
24 is repeated 1 times
19 is repeated 1 times
33 is repeated 1 times
86 is repeated 1 times
99 is repeated 1 times
18 is repeated 1 times
63 is repeated 2 times
70 is repeated 3 times
85 is repeated 3 times
85 is repeated 3 times
63 is repeated 2 times
47 is repeated 1 times
56 is repeated 2 times
42 is repeated 2 times
70 is repeated 3 times
84 is repeated 4 times
88 is repeated 1 times
55 is repeated 1 times
20 is repeated 3 times
54 is repeated 1 times
8 is repeated 1 times
56 is repeated 2 times
51 is repeated 3 times
79 is repeated 1 times
81 is repeated 1 times
57 is repeated 1 times
37 is repeated 1 times
91 is repeated 3 times
1 is repeated 1 times
84 is repeated 4 times
84 is repeated 4 times
36 is repeated 3 times
66 is repeated 2 times
9 is repeated 1 times
89 is repeated 2 times
50 is repeated 2 times
42 is repeated 2 times
91 is repeated 3 times
50 is repeated 2 times
95 is repeated 1 times
90 is repeated 1 times
98 is repeated 1 times
39 is repeated 1 times
16 is repeated 1 times
82 is repeated 1 times
31 is repeated 2 times
92 is repeated 1 times
41 is repeated 1 times
45 is repeated 3 times
30 is repeated 1 times
66 is repeated 2 times
70 is repeated 3 times
34 is repeated 2 times
85 is repeated 3 times
94 is repeated 1 times
5 is repeated 1 times
3 is repeated 2 times
36 is repeated 3 times
72 is repeated 1 times
91 is repeated 3 times
84 is repeated 4 times
34 is repeated 2 times
87 is repeated 1 times
75 is repeated 1 times
53 is repeated 1 times
51 is repeated 3 times
20 is repeated 3 times
89 is repeated 2 times
51 is repeated 3 times
20 is repeated 3 times

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [11]:
def sqr(x):
    return(x**2)

def cube(x):
    return (x**3)


def sixthpower(x):
    return(cube(sqr(x)))

sixthpower(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [12]:
cube=[]
for i in range (0,11):
	cube.append(i**3)


print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [20]:
for a in range (0,11):
	for b in range (0,11):
		c2=a**2+b**2
		if c2<101:
			print(a,b,math.sqrt(c2))
		else :
			print('')

0 0 0.0
0 1 1.0
0 2 2.0
0 3 3.0
0 4 4.0
0 5 5.0
0 6 6.0
0 7 7.0
0 8 8.0
0 9 9.0
0 10 10.0
1 0 1.0
1 1 1.4142135623730951
1 2 2.23606797749979
1 3 3.1622776601683795
1 4 4.123105625617661
1 5 5.0990195135927845
1 6 6.082762530298219
1 7 7.0710678118654755
1 8 8.06225774829855
1 9 9.055385138137417

2 0 2.0
2 1 2.23606797749979
2 2 2.8284271247461903
2 3 3.605551275463989
2 4 4.47213595499958
2 5 5.385164807134504
2 6 6.324555320336759
2 7 7.280109889280518
2 8 8.246211251235321
2 9 9.219544457292887

3 0 3.0
3 1 3.1622776601683795
3 2 3.605551275463989
3 3 4.242640687119285
3 4 5.0
3 5 5.830951894845301
3 6 6.708203932499369
3 7 7.615773105863909
3 8 8.54400374531753
3 9 9.486832980505138

4 0 4.0
4 1 4.123105625617661
4 2 4.47213595499958
4 3 5.0
4 4 5.656854249492381
4 5 6.4031242374328485
4 6 7.211102550927978
4 7 8.06225774829855
4 8 8.94427190999916
4 9 9.848857801796104

5 0 5.0
5 1 5.0990195135927845
5 2 5.385164807134504
5 3 5.830951894845301
5 4 6.4031242374328485
5 5 7.0710678118654755
5 6 7.810249675906654
5 7 8.602325267042627
5 8 9.433981132056603


6 0 6.0
6 1 6.082762530298219
6 2 6.324555320336759
6 3 6.708203932499369
6 4 7.211102550927978
6 5 7.810249675906654
6 6 8.48528137423857
6 7 9.219544457292887
6 8 10.0


7 0 7.0
7 1 7.0710678118654755
7 2 7.280109889280518
7 3 7.615773105863909
7 4 8.06225774829855
7 5 8.602325267042627
7 6 9.219544457292887
7 7 9.899494936611665



8 0 8.0
8 1 8.06225774829855
8 2 8.246211251235321
8 3 8.54400374531753
8 4 8.94427190999916
8 5 9.433981132056603
8 6 10.0




9 0 9.0
9 1 9.055385138137417
9 2 9.219544457292887
9 3 9.486832980505138
9 4 9.848857801796104






10 0 10.0

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [27]:
 import math
def normalization (x,y):
	a=x/math.sqrt(x**2+y**2)
	b=y/math.sqrt(x**2+y**2)
	print ((a,b))
    
    
normalization (6,8)

(0.6, 0.8)