1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [22]:
for i in range(1,100):
    if i%3 == 0 and i%5 == 0:
        print("MickeyMouse")
    elif i%3 == 0:
        print("Mickey")
    elif i%5== 0:
        print("Mouse")
    else:
        print(i)
        

# Less if statements could have been made:
#
# for i in range(1,100)
#     if i%3 == 0:
#          print("Mickey")
#          if i%5 == 0:
#               print("Mouse")
#     if i%5 == 0:
#          print("Mouse")
#
# But print creates a new line, so for numbers that are multiples of 3 and 5 'Mickey' and 'Mouse' would be
# in 2 different lines (also \b before 'Mouse' doesn't work)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [37]:
x = 4
y = "four"

print(x,y) # the output is '4 four'

# with a temporary variable
def swap_values_withtemp():
    global x
    global y
    
    temp = x
    x = y
    y = temp

swap_values_withtemp()
print(x,y) # being swapped, the output should be 'four 4'

4 four
four 4

In [40]:
# without a temporary variable, I use lists as a workaround
x = [4]
y = ['four']

print(x,y) # the output is '4 four'

# without a temporary variable
def swap_values_withouttemp():
    global x
    global y
    
    x.append(y)
    y = [x[0]]
    x.remove(x[0])

swap_values_withouttemp()
print(x,y) # being swapped again, the output should be the original one '4 four'

[4] ['four']
[['four']] [4]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [46]:
import math

u = (3,0)
v = (0,4)
badvector = (1,2,3)

def printdistance(a,b):
    dim = len(a)
    distance = 0
    if (dim == len(b)):
        # general dimension function
        for i in range(dim):
            distance += (u[i]-v[i])**2
        distance = math.sqrt(distance)
        print(distance)
    else:
        print("ERROR: The two vectors don't share the same dimension")

printdistance(u,v)
printdistance(u,badvector)

5.0
ERROR: The two vectors don't share the same dimension

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [52]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s=s.lower()
alfabeto = ('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z')

for i in range(26):
    print(alfabeto[i]," = ", s.count(alfabeto[i]))

a  =  7
b  =  5
c  =  3
d  =  3
e  =  22
f  =  10
g  =  1
h  =  9
i  =  14
j  =  0
k  =  2
l  =  6
m  =  12
n  =  10
o  =  13
p  =  8
q  =  0
r  =  17
s  =  9
t  =  19
u  =  9
v  =  2
w  =  2
x  =  0
y  =  2
z  =  0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [66]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#print(len(l)) 80
#print(len(set(l))) 54
dim = len(l)
g = []
for i in range(dim):
    if l.count(l[i]) == 1 :
        g.append(l[i])

print(set(g))
print("The unique numbers are", len(g))

{1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99}
The unique numbers are 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [77]:
num = 2

def square(a):
    return a**2

b = square(num)
print("The square of 2 is",b)

def cube(a):
    return a**3

c = cube(num)
print("The cube of 2 is",c)

def sixth_withsquares(a):
    return (square(a)*square(a)*square(a))

def sixth_withcubes(a):
    return (cube(a)*cube(a))

d = sixth_withsquares(num)
e = sixth_withcubes(num)

print("64 =",d,"=",e)

The square of 2 is 4
The cube of 2 is 8
64 = 64 = 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [80]:
# using a for loop
cubes_loop = []

for i in range(10):
    cubes_loop.append(i**3)
    
print(cubes_loop)

# using list comprehension
cubes_com = [x**3 for x in range(10)]

print(cubes_com)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [97]:
# isinstance(<var>, int)

import math

pythagoreannumbers = []
for a in range(1,99):
    for b in range(1,99):
        c = math.sqrt(a**2 + b**2)
        
        if c.is_integer() and c < 100:
            pythagoreannumbers.append((a,b,c))

mytuple = tuple(pythagoreannumbers)
print(mytuple)

((3, 4, 5.0), (4, 3, 5.0), (5, 12, 13.0), (6, 8, 10.0), (7, 24, 25.0), (8, 6, 10.0), (8, 15, 17.0), (9, 12, 15.0), (9, 40, 41.0), (10, 24, 26.0), (11, 60, 61.0), (12, 5, 13.0), (12, 9, 15.0), (12, 16, 20.0), (12, 35, 37.0), (13, 84, 85.0), (14, 48, 50.0), (15, 8, 17.0), (15, 20, 25.0), (15, 36, 39.0), (16, 12, 20.0), (16, 30, 34.0), (16, 63, 65.0), (18, 24, 30.0), (18, 80, 82.0), (20, 15, 25.0), (20, 21, 29.0), (20, 48, 52.0), (21, 20, 29.0), (21, 28, 35.0), (21, 72, 75.0), (24, 7, 25.0), (24, 10, 26.0), (24, 18, 30.0), (24, 32, 40.0), (24, 45, 51.0), (24, 70, 74.0), (25, 60, 65.0), (27, 36, 45.0), (28, 21, 35.0), (28, 45, 53.0), (30, 16, 34.0), (30, 40, 50.0), (30, 72, 78.0), (32, 24, 40.0), (32, 60, 68.0), (33, 44, 55.0), (33, 56, 65.0), (35, 12, 37.0), (35, 84, 91.0), (36, 15, 39.0), (36, 27, 45.0), (36, 48, 60.0), (36, 77, 85.0), (39, 52, 65.0), (39, 80, 89.0), (40, 9, 41.0), (40, 30, 50.0), (40, 42, 58.0), (40, 75, 85.0), (42, 40, 58.0), (42, 56, 70.0), (44, 33, 55.0), (45, 24, 51.0), (45, 28, 53.0), (45, 60, 75.0), (48, 14, 50.0), (48, 20, 52.0), (48, 36, 60.0), (48, 55, 73.0), (48, 64, 80.0), (51, 68, 85.0), (52, 39, 65.0), (54, 72, 90.0), (55, 48, 73.0), (56, 33, 65.0), (56, 42, 70.0), (57, 76, 95.0), (60, 11, 61.0), (60, 25, 65.0), (60, 32, 68.0), (60, 45, 75.0), (60, 63, 87.0), (63, 16, 65.0), (63, 60, 87.0), (64, 48, 80.0), (65, 72, 97.0), (68, 51, 85.0), (70, 24, 74.0), (72, 21, 75.0), (72, 30, 78.0), (72, 54, 90.0), (72, 65, 97.0), (75, 40, 85.0), (76, 57, 95.0), (77, 36, 85.0), (80, 18, 82.0), (80, 39, 89.0), (84, 13, 85.0), (84, 35, 91.0))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [88]:
mytuple = (1,2,3,4,5,6)

denominator = 0
lentuple = len(mytuple)
for i in range(lentuple):
    denominator += mytuple[i]

#print(denominator)

normalizedtuple = [ x/denominator for x in mytuple]

print(normalizedtuple)

[0.047619047619047616, 0.09523809523809523, 0.14285714285714285, 0.19047619047619047, 0.23809523809523808, 0.2857142857142857]