1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
import numpy as np
from random import randint

In [2]:
num=[x for x in range(1,101)]
def mickeymouse(vect):
    length=len(vect)
    for i in range(1,length+1):
        if i%15==0:
            vect[i-1]='MickeyMouse'
        elif i%5==0:
            vect[i-1]='Mouse'
        elif i%3==0:
            vect[i-1]='Mickey'
    return vect
    
print(mickeymouse(num))

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
#swap function with temporary variable
a='destra'
b='sinistra'
print('a='+a +' and b='+b)
def swap(x,y):
    temp=x
    x=y
    y=temp
    return x,y

[a,b]=swap(a,b)
print('a='+a +' and b='+b)

a=destra and b=sinistra
a=sinistra and b=destra

In [4]:
#swap function withput temporary variable
[a,b]=['destra','sinistra']

print('a='+a +' and b='+b)

def alternativeSwap(a,b):
    return [b,a]

[a,b]=alternativeSwap(a,b)
print('a='+a +' and b='+b)

a=destra and b=sinistra
a=sinistra and b=destra

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
import numpy as np
print(np.sqrt(25))

5.0

In [6]:
x=[randint(0,10),randint(0,10)]
y=[randint(0,10),randint(0,10)]

def euclideanDist(u,v): #compute the euclidean distance between two bidimensional vectors
    dist=np.sqrt((u[0]-v[0])**2+(u[1]-v[1])**2)
    return dist
print(x,y)
print(euclideanDist(x,y))
print('Euclidean distance between '+str(x)+' and '+str(y)+' is Dist='+str(euclideanDist(x,y)))

[2, 10] [6, 3]
8.06225774829855
Euclidean distance between [2, 10] and [6, 3] is Dist=8.06225774829855

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [7]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

char_list=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','0','p','q','r','s','t','u','v','w','x','y','z',' ','.']

for letter in range(0,len(char_list)):
    count=0
    for i in range(0,len(s)):
        if char_list[letter]==s[i].lower():
            count+=1
    print('character '+char_list[letter]+' appears '+str(count)+' times in string s')

character a appears 7 times in string s
character b appears 5 times in string s
character c appears 3 times in string s
character d appears 3 times in string s
character e appears 22 times in string s
character f appears 10 times in string s
character g appears 1 times in string s
character h appears 9 times in string s
character i appears 14 times in string s
character j appears 0 times in string s
character k appears 2 times in string s
character l appears 6 times in string s
character m appears 12 times in string s
character n appears 10 times in string s
character 0 appears 2 times in string s
character p appears 8 times in string s
character q appears 0 times in string s
character r appears 17 times in string s
character s appears 9 times in string s
character t appears 19 times in string s
character u appears 9 times in string s
character v appears 2 times in string s
character w appears 2 times in string s
character x appears 0 times in string s
character y appears 2 times in string s
character z appears 0 times in string s
character   appears 41 times in string s
character . appears 2 times in string s

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [8]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#I want to preserve the original list
original_L=[0 for x in range(0,len(l))]
for i in range(0,len(l)):
    original_L[i]=l[i]

l.sort()
print(l)

count=0  #counts the number of values in l that are uniques
index=0
a=1  #counts the number each member of l is repeated
interventionFLAG=0   #this flag value states when recurrent values must be set to zero (=1), else the value is unique (=0)
while index<=len(l):
    
    if index+a>=len(l):
        count+=1
        break

    while l[index]==l[index+a]:
        a=a+1
        interventionFLAG=1
    if interventionFLAG==1:
        for j in range(index,index+a):
            l[j]=0
        index=index+a
        a=1
        interventionFLAG=0
    elif interventionFLAG==0:
        index=index+1
        count=count+1


#Now all NOT UNIQUES numbers have been set equal to zero
print(l)
print(count)

uniques=[0 for i in range(0,count)]
i=0
for a in range(0,len(l)):
    if l[a]!=0:
        uniques[i]=l[a]
        i+=1
        
#Now all uniques number in l are listed in list 'uniques'
print('List of uniques unmbers in l: '+str(uniques))

[1, 3, 3, 5, 8, 9, 10, 16, 18, 19, 20, 20, 20, 24, 30, 31, 31, 33, 34, 34, 36, 36, 36, 37, 39, 41, 42, 42, 45, 45, 45, 47, 50, 50, 51, 51, 51, 53, 54, 55, 56, 56, 57, 58, 63, 63, 64, 66, 66, 70, 70, 70, 72, 74, 75, 79, 81, 82, 84, 84, 84, 84, 85, 85, 85, 86, 87, 88, 89, 89, 90, 91, 91, 91, 92, 94, 95, 96, 98, 99]
[1, 0, 0, 5, 8, 9, 10, 16, 18, 19, 0, 0, 0, 24, 30, 0, 0, 33, 0, 0, 0, 0, 0, 37, 39, 41, 0, 0, 0, 0, 0, 47, 0, 0, 0, 0, 0, 53, 54, 55, 0, 0, 57, 58, 0, 0, 64, 0, 0, 0, 0, 0, 72, 74, 75, 79, 81, 82, 0, 0, 0, 0, 0, 0, 0, 86, 87, 88, 0, 0, 90, 0, 0, 0, 92, 94, 95, 96, 98, 99]
37
List of uniques unmbers in l: [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [9]:
def square(x):
    return x**2
def cube(x):
    return x**3
n=2
print(n,square(n),cube(n))

def sixthPow(x):
    return x*square(x)*cube(x)

print(sixthPow(n))

2 4 8
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
#for loop:
cube_list=[x for x in range(0,11)]
for i in range(0,10+1):
    cube_list[i]=i**3
    
print(cube_list)


#NOW using list comprehension
CUBE_list=[x**3 for x in range(0,11)]
print(CUBE_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [14]:
triple=[]

for a in range(1,100):
    for b in range(1,100):
        for c in range(1,100):
            if c**2 == a**2 + b**2:
                triple.append((a,b,c))

print(triple)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [15]:
x=[randint(0,100) for i in range(0,randint(1,10))] #generate a list of random length (between 1 and 10) of random integer \
#ranging from 0 to 99
print(x)

tuple(x)

def normalizeTup(tupla):
    list(tupla)   #now 'tupla' is a list
    s=sum(tupla)
    for i in range(0,len(tupla)):
        tupla[i]=tupla[i]/s
    return tuple(tupla)

x_norm=normalizeTup(x)
print('Normalized tuple: '+str(x_norm))

[40, 30, 75]
Normalized tuple: (0.27586206896551724, 0.20689655172413793, 0.5172413793103449)