1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
res = []
for i in range(1, 101):
    if(i%3 == 0 and i%5 == 0):
        res.append("MickeyMouse")
    elif(i%3==0):
        res.append("Mickey")
    elif(i%5==0):
        res.append("Mouse")
    else:
        res.append(i)

for index, element in enumerate(res):
    if(type(element) is not int):
        if(element == "Mickey"):
            res[index] = "Donald"
        elif (element == "Mouse"):
            res[index] = "Duck"
        else:
            res[index] = "DonaldDuck"
res = tuple(res)

#test
print(res)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [34]:
def swap(x,y):
    x,y = y,x
    return x,y

#test
swap("test", 1)

(1, &#39;test&#39;)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [2]:
def distance(u,v):
    dist = ((u[0]-v[0])**2 + (u[1]-v[1])**2)**(1/2)
    return dist

#test
print(distance((3,0), (0,4)))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [3]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s = s.lower()
dict((x,s.count(x)) for x in set(s))

{'g': 1,
 'e': 22,
 'u': 9,
 'b': 5,
 'a': 7,
 'h': 9,
 ' ': 41,
 'v': 2,
 'd': 3,
 '.': 2,
 't': 19,
 's': 9,
 'l': 6,
 'n': 10,
 'k': 2,
 'o': 13,
 'w': 2,
 '0': 2,
 'p': 8,
 'c': 3,
 'm': 12,
 'f': 10,
 'y': 2,
 'r': 17,
 'i': 14,
 '1': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def find_unique(l):
   s = set(l)
   print('Number of unique elements: ' + str(len(s)))
   return(s)

#test
print(find_unique(l))

Number of unique elements: 54
{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
def square(a):
    return a**2

def cube(a):
    return a**3

def sixth(a):
    return square(cube(a))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
l_a = []
for i in range(0,11):
    l_a.append(i**3)

#test
print(l_a)

l_b = [x**3 for x in range(0,11)]

#test
print(l_b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [85]:
u_bound = 101
l = []

def check_div(a,b,c):
    tmp = [a,b,c]
    tmp.sort()
    i=2
    div = []
    while i<=tmp[0]:
        if(tmp[0]%i==0):
            div.append(i)
        i+=1
    for d in div:
        if(tmp[1]%d==0 or tmp[2]%d==0):
            return False

    return True

for a in range(1,u_bound):
    for b in range(a,u_bound):
        for c in range(b,u_bound):
            if(a**2 + b**2 == c**2):
                x = (c+a)**0.5
                y = (c-a)**0.5
                X = (c+b)**0.5
                Y = (c-b)**0.5
                if(check_div(a,b,c)):
                    l.append((a,b,c))
#test
print(tuple(l))

((3, 4, 5), (5, 12, 13), (7, 24, 25), (8, 15, 17), (9, 40, 41), (11, 60, 61), (12, 35, 37), (13, 84, 85), (16, 63, 65), (20, 21, 29), (28, 45, 53), (33, 56, 65), (36, 77, 85), (39, 80, 89), (48, 55, 73), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [57]:
def normalize(t):
    sum = 0
    for i in t:
        sum+=i
    t = list(t)
    for i in range(len(t)):
        t[i] = t[i]/sum
    return tuple(t)

#test
normalize((1,2,3))

(0.16666666666666666, 0.3333333333333333, 0.5)