1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [44]:
for i in range(1,101): 
    if ((i % 5 ==0) and (i%3 ==0)): 
        print('MickeyMouse')       
    elif i % 5 ==0: 
        print('Mouse')
    elif i % 3 ==0: 
        print('Mickey')
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [68]:
b=()                                  #First we define an empty tuple
for i in range(1,101):                #We determine de adequate value for the tuple a
    if ((i % 5 ==0) and (i%3 ==0)): 
        a=('DonaldDuck',)       
    elif i % 5 ==0: 
        a=('Duck',)
    elif i % 3 ==0: 
        a=('Donald',)
    else:
        a=(i,)
    b=b+a                            #The main tuple is consructed concatenating single tuples
print(b)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [74]:
def swap_function1(x,y):  #With temporal variable
    temp = x
    x = y
    y = temp
    return x,y

swap_function('hola',1)

(1, 'hola')

In [75]:
def swap_function1(x,y):  #Without temporal variable
    x,y = y,x
    return x,y

swap_function('hola',1)

(1, 'hola')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [1]:
import math 

def euclidean_distance(u,v):  
    dx = u[0]-v[0] 
    dy = u[1]-v[1]
    d  = math.sqrt(dx**2+dy**2)
    return d

euclidean_distance((0,2),(1,2))

1.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [10]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [13]:
alpha = ['a','b','c','d','e','f', 'g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0','1','2','3','4','5','6','7','8','9','.',',']

sl = s.lower()                           #In order to ignore capitalizacion the whole string is lowered
for i in range(len(alpha)):              #iteration over the alphabet and characters
    print(alpha[i], sl.count(alpha[i]))  #Each character is counted

a 7
b 5
c 3
d 3
e 22
f 10
g 1
h 9
i 14
j 0
k 2
l 6
m 12
n 10
o 13
p 8
q 0
r 17
s 9
t 19
u 9
v 2
w 2
x 0
y 2
z 0
0 2
1 2
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0
. 2
, 0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [9]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [10]:
def unique_num(list1): 
     
    unique_list = []               # intilize the unique list 
       
    for x in list1:                #this for goes among list 1 elements        
        if x not in unique_list:   #if x is not in unique_list we add it 
            unique_list.append(x) 
    
    list.sort(unique_list)         #order the list of unique numbers
    return unique_list

In [11]:
unique_num(l)

[1,
 3,
 5,
 8,
 9,
 10,
 16,
 18,
 19,
 20,
 24,
 30,
 31,
 33,
 34,
 36,
 37,
 39,
 41,
 42,
 45,
 47,
 50,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 63,
 64,
 66,
 70,
 72,
 74,
 75,
 79,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 98,
 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [26]:
cube_list_loop = []
for x in range(0,11):
    cube_list_loop.append(x**3)
print(cube_list_loop)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [27]:
cube_list_c = [x**3 for x in range(0,11)]
print (cube_list_c)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [78]:
pythaa = [(a,b,c) for c in range(101) for b in range(c) for a in range(b) if a**2 + b**2 == c**2]
pythaa =tuple(pythaa)
pythaa

((3, 4, 5),
 (6, 8, 10),
 (5, 12, 13),
 (9, 12, 15),
 (8, 15, 17),
 (12, 16, 20),
 (15, 20, 25),
 (7, 24, 25),
 (10, 24, 26),
 (20, 21, 29),
 (18, 24, 30),
 (16, 30, 34),
 (21, 28, 35),
 (12, 35, 37),
 (15, 36, 39),
 (24, 32, 40),
 (9, 40, 41),
 (27, 36, 45),
 (30, 40, 50),
 (14, 48, 50),
 (24, 45, 51),
 (20, 48, 52),
 (28, 45, 53),
 (33, 44, 55),
 (40, 42, 58),
 (36, 48, 60),
 (11, 60, 61),
 (39, 52, 65),
 (33, 56, 65),
 (25, 60, 65),
 (16, 63, 65),
 (32, 60, 68),
 (42, 56, 70),
 (48, 55, 73),
 (24, 70, 74),
 (45, 60, 75),
 (21, 72, 75),
 (30, 72, 78),
 (48, 64, 80),
 (18, 80, 82),
 (51, 68, 85),
 (40, 75, 85),
 (36, 77, 85),
 (13, 84, 85),
 (60, 63, 87),
 (39, 80, 89),
 (54, 72, 90),
 (35, 84, 91),
 (57, 76, 95),
 (65, 72, 97),
 (60, 80, 100),
 (28, 96, 100))

In [74]:
pytha = []
for a in range(1,101):
    for b in range(1,101):
        x =a**2 + b**2
        for c in range(1,101):
            if x == c**2:
                if (b,a,c) not in pytha:
                    pytha.append((a,b,c))
pytha =tuple(pytha)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [1]:
l_tuple = (36, 45, 58, 3, 74, 96, 64, 45, 31, 10)

In [2]:
l_list = list(l_tuple)                       #tuple convertion into list for redefining
l_list_norm =[]                              # defininng the normalized list
n=len(l_list)
for i in range(0,n):
    b=(float(l_list[i])/float(max(l_list)))  #Obtain the normalized element and add to the normalized list
    l_list_norm.append(b)
l_tuple_norm=tuple(l_list_norm)              #list convertion into tuple

In [3]:
l_tuple_norm

(0.375,
 0.46875,
 0.6041666666666666,
 0.03125,
 0.7708333333333334,
 1.0,
 0.6666666666666666,
 0.46875,
 0.3229166666666667,
 0.10416666666666667)