1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [6]:
lis = [x for x in range(1,101)]
for i in range(1,101) : 
    if i % 3 == 0 and i % 5 == 0 : 
        lis[i-1] = "MickeyMouse"
    elif i % 5 == 0 :
        lis[i-1] = "Mouse"
    elif i % 3 == 0 :
        lis[i-1] = "Mickey"
print(lis)
for i in range(1,101) : 
    if i % 3 == 0 and i % 5 == 0 : 
        lis[i-1] = "DonaldDuck"
    elif i % 5 == 0 :
        lis[i-1] = "Duck"
    elif i % 3 == 0 :
        lis[i-1] = "Donald"
tup = (lis)
print(tup)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [68]:
#with a temporary variable
a,b = input("Write two values: ")
def swap(x,y) :
    c = x
    x = y
    y = c
    return(x,y)
print(swap(a,b))

#without a temporary variable
c,d = input("Write two values: ")
def swap(x,y) :
    x,y=y,x
    return(x,y)
print(swap(c,d))

Write two values: 34
('4', '3')
Write two values: 56
('6', '5')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [34]:
def dis(u,v):
    return(((u[0]-v[0])**2 + (u[1]-v[1])**2)**(1/2))
u = (3,0)
v = (0,4)
dis(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [67]:
import string
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
alph = list(string.ascii_lowercase)
for i in range(0,len(alph)) :
    print(alph[i], " occurs: ", s.count(alph[i]))

a  occurs:  7
b  occurs:  4
c  occurs:  3
d  occurs:  3
e  occurs:  22
f  occurs:  9
g  occurs:  1
h  occurs:  9
i  occurs:  14
j  occurs:  0
k  occurs:  2
l  occurs:  6
m  occurs:  8
n  occurs:  10
o  occurs:  13
p  occurs:  8
q  occurs:  0
r  occurs:  17
s  occurs:  9
t  occurs:  19
u  occurs:  9
v  occurs:  2
w  occurs:  1
x  occurs:  0
y  occurs:  2
z  occurs:  0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [74]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def uni_search(list):
    uniq = []
    for h in l:
        if l.count(h) == 1:
            uniq.append(h)
    return(uniq)
print(uni_search(l), "in total are: ", len(uni_search(l)), " unique numbers")

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53] in total are:  37  unique numbers

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [119]:
def sqrt(m):
    r = m**(1/2)
    return(r)
def cub(m):
    return(m**3)
def sixth(m):
    return(cub(m)*cub(m))
#example
print(sixth(9))

531441

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [94]:
list1 = []
for n in range(11) :
    list1.append(n**3)
list2 = [x**3 for x in range(11)]
print(list1, list2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000] [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [139]:
tri = []
c, m = 0, 2
while c < 100 : 
    for n in range(1, m) : 
        a = m * m - n * n 
        b = 2 * m * n 
        c = m * m + n * n 
        if c > 100 : 
            break
        tri.append([a,b,c])
    m = m + 1
tru=(tri)
print(tru)

[[3, 4, 5], [8, 6, 10], [5, 12, 13], [15, 8, 17], [12, 16, 20], [7, 24, 25], [24, 10, 26], [21, 20, 29], [16, 30, 34], [9, 40, 41], [35, 12, 37], [32, 24, 40], [27, 36, 45], [20, 48, 52], [11, 60, 61], [48, 14, 50], [45, 28, 53], [40, 42, 58], [33, 56, 65], [24, 70, 74], [13, 84, 85], [63, 16, 65], [60, 32, 68], [55, 48, 73], [48, 64, 80], [39, 80, 89], [28, 96, 100]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [115]:
def norm(tup1):
    s=0
    for w in tup1:
        s +=w
    l =[x/s for x in tup1]
    return(l)
#example
u = (10,20,20)
print(norm(u))

[0.2, 0.4, 0.4]