1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [149]:
#a
a = []

for i in range(1,101): 
    
    if i%3==0:
        
        if i%3==0 and i%5==0:
            
            print('Mickey Mouse')
            a.append('Mickey Mouse')
            
        else: 
            
            print('Mickey')
            a.append('Mickey')
            
    elif i%5==0: 
        
        print('Mouse')
        a.append('Mouse')
        
    else:
        
        print(i)
        a.append(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [150]:
#b
b = ()

for i in range(len(a)):
    
    if a[i] == 'Mickey':
        
        b+=('Donald',)
        
    elif a[i] == 'Mouse':
        
        b+=('Duck',)
        
    elif a[i] == 'Mickey Mouse':
        
        b+=('Donald Duck',)
        
    else:
        
        b+=(a[i],)
print(b)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [151]:
#using a temporary variable

a=10
b=5

def swap():
    
    global a
    global b
    c = a
    a = b
    b = c

print("a was: ",a)
print("b was: ",b)

swap()

print("a is now: ",a)
print("b is now: ",b)

a was:  10
b was:  5
a is now:  5
b is now:  10

In [152]:
#without using a temporary variable

a=10
b=5

def swap(a,b):
    
    return b,a

print("a was: ",a)
print("b was: ",b)

a,b = swap(a,b)

print("a is now: ",a)
print("b is now: ",b)

a was:  10
b was:  5
a is now:  5
b is now:  10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [153]:
u = (3,0)
v = (0,4)

def euclidean_dist_2D(x_1,x_2):
    
    dist=pow((pow(x_1[0]-x_2[0],2)+pow(x_1[1]-x_2[1],2)),1/2) #or i can import some math libraries
    return dist

print(euclidean_dist_2D(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [154]:
s= "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

char_dictionary = {}

for i in s:
    
    if i.lower() in char_dictionary: char_dictionary[i.lower()]+=1
        
    else: char_dictionary[i.lower()]=1

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [156]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def counter_func(l):
    
    num_dict ={}
    count=0
    
    for i in l: 
        
        if i in num_dict: num_dict[i] += 1
            
        else: num_dict[i]=1
            
    for j in num_dict:
        
        if num_dict[j] ==1:
            
            print("%s appears %s time" % (j, num_dict[j]))
            count+=1
            
    print('There are in total %s single numbers' %(count))

counter_func(l)

58 appears 1 time
74 appears 1 time
96 appears 1 time
64 appears 1 time
10 appears 1 time
24 appears 1 time
19 appears 1 time
33 appears 1 time
86 appears 1 time
99 appears 1 time
18 appears 1 time
47 appears 1 time
88 appears 1 time
55 appears 1 time
54 appears 1 time
8 appears 1 time
79 appears 1 time
81 appears 1 time
57 appears 1 time
37 appears 1 time
1 appears 1 time
9 appears 1 time
95 appears 1 time
90 appears 1 time
98 appears 1 time
39 appears 1 time
16 appears 1 time
82 appears 1 time
92 appears 1 time
41 appears 1 time
30 appears 1 time
94 appears 1 time
5 appears 1 time
72 appears 1 time
87 appears 1 time
75 appears 1 time
53 appears 1 time
There are in total 37 single numbers

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [157]:
def square(a):
    
    return a**2

def cube(a):
    
    return a**3

def sixth_power(a):
    
    return cube(square(a))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [158]:
a=[]

for i in range(0,10):
    
    a.append(i**3)
    
b = [x**3 for x in range(10)]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [159]:
collection = ()

for a in range(1,101):
    
    for b in range(a,101):
        
        c = pow(pow(a,2)+pow(b,2),1/2)
        sub=()
        
        if c==int(c) and c <100:
            
            sub+=(a,b,c,)
            collection+=(sub,)
            
        else: pass
        
print(collection)

((3, 4, 5.0), (5, 12, 13.0), (6, 8, 10.0), (7, 24, 25.0), (8, 15, 17.0), (9, 12, 15.0), (9, 40, 41.0), (10, 24, 26.0), (11, 60, 61.0), (12, 16, 20.0), (12, 35, 37.0), (13, 84, 85.0), (14, 48, 50.0), (15, 20, 25.0), (15, 36, 39.0), (16, 30, 34.0), (16, 63, 65.0), (18, 24, 30.0), (18, 80, 82.0), (20, 21, 29.0), (20, 48, 52.0), (21, 28, 35.0), (21, 72, 75.0), (24, 32, 40.0), (24, 45, 51.0), (24, 70, 74.0), (25, 60, 65.0), (27, 36, 45.0), (28, 45, 53.0), (30, 40, 50.0), (30, 72, 78.0), (32, 60, 68.0), (33, 44, 55.0), (33, 56, 65.0), (35, 84, 91.0), (36, 48, 60.0), (36, 77, 85.0), (39, 52, 65.0), (39, 80, 89.0), (40, 42, 58.0), (40, 75, 85.0), (42, 56, 70.0), (45, 60, 75.0), (48, 55, 73.0), (48, 64, 80.0), (51, 68, 85.0), (54, 72, 90.0), (57, 76, 95.0), (60, 63, 87.0), (65, 72, 97.0))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [160]:
a = (1,2,4)

def normalization(a):
    
    b=()
    norm_factor = 0
    
    for i in range(len(a)):
        
        norm_factor+=a[i]
        
    for i in range(len(a)):
        
        b+=(a[i]/norm_factor,)
        
    return b

print(normalization(a))

(0.14285714285714285, 0.2857142857142857, 0.5714285714285714)