1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
#A
result=[]

#add values to the empty list
for i in range(1,101):
    if i%3==0 and i%5==0 : result.append("MickeyMouse")
    elif i%5==0: result.append("Mouse")
    elif i%3==0: result.append("Mickey")
    else: result.append(i) 
        
print(result)
    
#B
replace={'Mickey':'Donald','Mouse':'Duck','MickeyMouse':'DonaldDuck'}
result = [replace.get(x, x) for x in result] #replace values

a=tuple(result) #put the result into a tuple

print(a)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
#With a temporary variable c

x=input("Set the value of x: ")
y=input("Set the value of y: ")

#define the swap function
def swap(a,b):
    c=a #temporary variable
    a=b
    b=c
    return (a,b)

swap(x,y)

Set the value x: 1
Set the value y: 2

('2', '1')

In [4]:
#Without a temporary variable

x=input("Set the value of x: ")
y=input("Set the value of y: ")

#define the swap function
def swap(a,b):
    global x #change the values of global variables
    x=b
    global y
    y=a
    return (x,y)

swap(x,y)

Set the value x: 1
Set the value y: 2

('2', '1')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
u=(6,8)
v=(9,4)

#calculate the distance
def distance(a,b):
    x=a[0]-b[0]
    y=a[1]-b[1]
    distance=pow(pow(x,2)+pow(y,2),1/2)
    return distance

distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [55]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

#create a dictionary{character:number}
dictionary={}

#calculate how many and which characters we have in the string
for i in range(len(s)):
    k=0
    for j in range(len(s)): 
        if s[i]==s[j]: k+=1
    dictionary[s[i]] = k
    
print(dictionary)

{'W': 1, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 2, 'B': 1, 'l': 6, 'M': 4, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2, 'F': 1, 'w': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

u=[] #null list of unique numbers

#search throught the numbers
for i in range(len(l)):
    k=0
    for j in range(len(l)):
        if l[i]==l[j]: k+=1 #count how many times they appear
    if k==1: u.append(l[i]) #select the unique numbers

print(u,len(u))

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53] 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [13]:
#define square function
def square(x):return x**2

#define cube function
def cube(x):return x**3

#define sixth power function
def sixth(x):return cube(square(x))

print(square(2),cube(2),sixth(2))

4 8 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [12]:
#A
cubesA=[]

for i in range(11):cubesA.append(i**3)
    
print(cubesA)

#B
cubesB=[i**3 for i in range(11)]

print(cubesB)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [111]:
#list of Pythagorean triples without repetitions
pyt=[(x,y,z) for x in range(1,101) for y in range(1,101) for z in range(1,101) if x**2==y**2+z**2 and x>y>z]

print(pyt,"\n",len(pyt),"triplets.")

[(5, 4, 3), (10, 8, 6), (13, 12, 5), (15, 12, 9), (17, 15, 8), (20, 16, 12), (25, 20, 15), (25, 24, 7), (26, 24, 10), (29, 21, 20), (30, 24, 18), (34, 30, 16), (35, 28, 21), (37, 35, 12), (39, 36, 15), (40, 32, 24), (41, 40, 9), (45, 36, 27), (50, 40, 30), (50, 48, 14), (51, 45, 24), (52, 48, 20), (53, 45, 28), (55, 44, 33), (58, 42, 40), (60, 48, 36), (61, 60, 11), (65, 52, 39), (65, 56, 33), (65, 60, 25), (65, 63, 16), (68, 60, 32), (70, 56, 42), (73, 55, 48), (74, 70, 24), (75, 60, 45), (75, 72, 21), (78, 72, 30), (80, 64, 48), (82, 80, 18), (85, 68, 51), (85, 75, 40), (85, 77, 36), (85, 84, 13), (87, 63, 60), (89, 80, 39), (90, 72, 54), (91, 84, 35), (95, 76, 57), (97, 72, 65), (100, 80, 60), (100, 96, 28)]
 52 triplets.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [37]:
entries=(12,25,64,42,76,22,44,58,97,60)

#define normalizing function
def norm(a):
    norma=0
    a=list(a)
    for i in range(len(a)):norma=norma+a[i] #sum the entries
    a_norm=[x/norma for x in a] #normalize
    return tuple(a_norm)

print(entries)
print(norm(entries))

(12, 25, 64, 42, 76, 22, 44, 58, 97, 60)
(0.024, 0.05, 0.128, 0.084, 0.152, 0.044, 0.088, 0.116, 0.194, 0.12)