1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [105]:
#Part A
for i in range (1,100):
    if i% 15 ==0:
        MickeyMouse = i
        print('MickeyMouse')
    elif i % 3 ==0:
        Mickey = (i)
        print('Mickey')
    elif i % 5 ==0:
        Mouse = (i)
        print('Mouse')    
    else:
        print(i)

Mickey = [Mickey]
Donald = tuple (Mickey)
Mouse = [Mouse]
Duck = tuple (Mouse)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [107]:
def swap(a,b):
    temp = a
    a = b
    b = temp
    return a
    
x = input('input x value')
y = input('input y value')
x_new = swap(x,y)
y_new = swap(y,x)
print("the new value of x is:",x_new)
print("the new value of y is:",y_new)

input x value3
input y value9
the new value of x is: 9
the new value of y is: 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [108]:
import math
# the euclidean distance between two u and v points which u =(x1,y1) and v =(x2,y2)
def euclideandistance(x1,y1,x2,y2):
    dist = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
    return dist
#You can change the values of u and v
u = (x1,y1) = (3,0)
v = (x2,y2) = (0,4)
print(euclideandistance(x1, y1, x2, y2))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [25]:
def calculate(str,c) : 
    res = 0
    for i in range(len(str)) : 
    # Checking character in string 
        if (str[i] == c): 
            res = res + 1
    return res 
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
c = 's'
#lower() makes the code insensetive to uppercase letters
print(calculate(s.lower(),c))

9

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [34]:
def unique(list1): 
    
    unique_list = [] 
    for x in list1: 
        # check if exists in unique_list or not 
        if x not in unique_list: 
            unique_list.append(x) 
    # print list 
    for x in unique_list: 
        print(x)
    
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
print("the unique values from 1st list is") 
unique(l)

the unique values from 1st list is
36
45
58
3
74
96
64
31
10
24
19
33
86
99
18
63
70
85
47
56
42
84
88
55
20
54
8
51
79
81
57
37
91
1
66
9
89
50
95
90
98
39
16
82
92
41
30
34
94
5
72
87
75
53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [114]:
def square(x):
    sq = x*x
    return sq

def cube(x):
    cu = x*x*x
    return cu
def pow6(x):
    po = square(cube(x))
    return po

number = 3
print(square(number))
print(cube(number))
print(pow6(number))

9
27
729

7\. Cubes

Create a list of the cubes of x for x in [0, 10] using:

a) a for loop

b) a list comprehension

In [68]:
#part a
cubes = []
for number in range(0, 11):
    cube = number**3
    cubes.append(cube)
print('with for loop:',cubes)

#part b
cubes1 = [d**3 for d in range(0,11)]
print('with list comprehension:', cubes1)

with for loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
with list comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [73]:
import math
def pythagoreantriplet(n):
  for b in range(n):
    for a in range(1, b):
        c = math.sqrt( a * a + b * b)
        if c % 1 == 0:
            print(a, b, int(c))
            
print('a b c :')
pythagoreantriplet(100)

a b c :
3 4 5
6 8 10
5 12 13
9 12 15
8 15 17
12 16 20
15 20 25
20 21 29
7 24 25
10 24 26
18 24 30
21 28 35
16 30 34
24 32 40
12 35 37
15 36 39
27 36 45
9 40 41
30 40 50
40 42 58
33 44 55
24 45 51
28 45 53
14 48 50
20 48 52
36 48 60
39 52 65
48 55 73
33 56 65
42 56 70
11 60 61
25 60 65
32 60 68
45 60 75
16 63 65
60 63 87
48 64 80
51 68 85
24 70 74
21 72 75
30 72 78
54 72 90
65 72 97
40 75 85
57 76 95
36 77 85
18 80 82
39 80 89
60 80 100
13 84 85
35 84 91
63 84 105
80 84 116
66 88 110
48 90 102
56 90 106
60 91 109
69 92 115
28 96 100
40 96 104
72 96 120
20 99 101

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [121]:
def norm(a):
    amin, amax = min(a), max(a)
    for i, val in enumerate(a):
        a[i] = (val-amin) / (amax-amin)
    return a
#define your tuple of numbers here
x=(24,33,67,89,14,44,33)
norm(list(x))
print(norm(list(x)))

[0.13333333333333333, 0.25333333333333335, 0.7066666666666667, 1.0, 0.0, 0.4, 0.25333333333333335]