1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
lista=[] 

for i in range (1,100):
    if i%15==0:
        lista.append("MickeyMouse")
    elif i%3==0:
        lista.append("Mickey")
    elif i%5==0:
        lista.append("Mouse")
    else:
        lista.append(i)
        
print ('Case (A) --> first version of the list is: \n\n', tuple(lista) ,'\n')

for y in range(len(lista)):
    if lista[y]=='Mickey':
        lista[y]='Donald'
    elif lista[y]=='Mouse':
        lista[y]='Duck'


print ('Case (B) --> last version of the list is: \n\n', tuple(lista) ,'\n')

Case (A) --> first version of the list is:

 (1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey')

Case (B) --> last version of the list is:

 (1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [5]:
a=float(input("set the value of x: "))
b=float(input("set the value of y: "))

def swap1(x,y):
    tmp=x
    x=y
    y=tmp
    return x,y

def swap2(x,y):
    x,y=y,x
    return x,y
    
print('Using a temporal variable: ', swap1(a,b))
print('Without using a temporal variable: ', swap2(a,b))

set the value of x: 1
set the value of y: 5
Using a temporal variable:  (5.0, 1.0)
Without using a temporal variable:  (5.0, 1.0)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [21]:
inp=int(input("Set the dimension of the space: "))
i=0
e=0
u=[]
v=[]

while i<inp:
    print("Set the ", i+1 ,"coordinate of 1st vector")
    x=float(input())
    u.append(x)
    i+=1
    
while e<inp:    
    print("Set the ", e+1 ,"coordinate of 2nd vector")
    y=float(input())
    v.append(y)   
    e+=1

a=tuple(u)
b=tuple(v)

print ("The first vector is:  u= ", a)
print ("The second vector is:  v= ", b)

def distance(x,y):
    summ=0
    ris=0
    i=0
    while i<len(x):
        
        summ=summ + (x[i] - y[i])**2
        
        i+=1
    
    ris=summ**0.5
    print("Distance between {v} and {u} is ", ris)

distance(a,b)

Set the dimension of the space: 5
Set the  1 coordinate of 1st vector
4
Set the  2 coordinate of 1st vector
5
Set the  3 coordinate of 1st vector
6
Set the  4 coordinate of 1st vector
7
Set the  5 coordinate of 1st vector
8
Set the  1 coordinate of 2nd vector
5
Set the  2 coordinate of 2nd vector
6
Set the  3 coordinate of 2nd vector
2
Set the  4 coordinate of 2nd vector
6
Set the  5 coordinate of 2nd vector
8
The first vector is:  u=  (4.0, 5.0, 6.0, 7.0, 8.0)
The second vector is':  v=  (5.0, 6.0, 2.0, 6.0, 8.0)
Distance between {v} and {u} is  4.358898943540674

54\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
s=input("Inserisci una frase: ")
s2=s.lower()
alph=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

for i in s:
    print ("The caracter '", i, "' appears ",s2.count(i), "times in the sentence ")

Inserisci una frase: cfyvukjAvkgubliunTYUI
The caracter ' c ' appears  1 times in the sentence
The caracter ' f ' appears  1 times in the sentence
The caracter ' y ' appears  2 times in the sentence
The caracter ' v ' appears  2 times in the sentence
The caracter ' u ' appears  4 times in the sentence
The caracter ' k ' appears  2 times in the sentence
The caracter ' j ' appears  1 times in the sentence
The caracter ' A ' appears  0 times in the sentence
The caracter ' v ' appears  2 times in the sentence
The caracter ' k ' appears  2 times in the sentence
The caracter ' g ' appears  1 times in the sentence
The caracter ' u ' appears  4 times in the sentence
The caracter ' b ' appears  1 times in the sentence
The caracter ' l ' appears  1 times in the sentence
The caracter ' i ' appears  2 times in the sentence
The caracter ' u ' appears  4 times in the sentence
The caracter ' n ' appears  1 times in the sentence
The caracter ' T ' appears  0 times in the sentence
The caracter ' Y ' appears  0 times in the sentence
The caracter ' U ' appears  0 times in the sentence
The caracter ' I ' appears  0 times in the sentence

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [12]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def findout (a):
    n=[]
    for i in a:
        if a.count(i) == 1:
            n.append(i)
            
    print('The numbers that appear only 1 times are \n',n)
    return ()

findout(l)

The numbers that appear only 1 times are
 [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

()

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
a=float(input("Insert the number: "))

def square (a):
    return (a*a)

def cube (a):
    return (a*a*a)

def sixt(x):
    return (square(cube(x)))

print("The number '",a, "' at the 6th power is:",  sixt(a))

Insert the number: 2
The number ' 2.0 ' at the 6th power is: 64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [20]:
cube=[]
for i in range(11):
    cube.append(i**3)

print('Cube list realized by loop: ' , cube)

cube2=[x**3 for x in range (11)]
print('Cube list realized by list comprehension: ' , cube2)

Cube list realized by loop:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Cube list realized by list comprehension:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [18]:
lis=[(a,b,c) for a in range(1,100) for b in range (a,100) for c in range(b,100) if a**2+b**2==c**2]

print(tuple(lis))

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [95]:
from math import sqrt
inp=int(input("Set the dimension number of vector: "))

i=0
s=[]

while i<inp:
    print("insert",i+1,"-coordinate: ")
    x=float(input())
    s.append(x)
    i+=1

#convert list in a tuple to be used in the function below

q=tuple(s)
print('\nThe vector is', q ,'\n')

#funtion definition

def norm (a):
    z=list(a)
    summ=0.0
    for i in range(len(a)): summ+=a[i]**2
        
    summ=sqrt(summ)
    for e in range(len(a)):
        z[e]=z[e]/summ
        tp=tuple(z)
    return(tp)

t=norm(q)
print('The vector normalized is', t)

Set the dimension number of vector: 2
insert 1 -coordinate:
4
insert 2 -coordinate:
6

The vector is (4.0, 6.0)

the vector normalized is (0.5547001962252291, 0.8320502943378437)