1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
#exercise 1.a
def MMfunc(n):
    if n%3 == 0 and n%5 == 0:
        return "Mickey"+"Mouse"
    elif n%3 == 0:
        return "Mickey"
    elif n%5 == 0:
        return "Mouse"
    else:
        return n
    
a = tuple(MMfunc(n) for n in range(1,101))
print("the MickeyMouse tuple:", "\n", a, "\n")

#exercise 1.b
def substitute():
    c=[]
    for i in range(0,100):         
        if a[i] == "Mickey":
            c.append("Donald")
        elif a[i] == "Mouse":
            c.append("Duck")
        elif a[i] == "MickeyMouse":
            c.append("DonaldDuck")
        else:
            c.append(a[i])
    return c

b = tuple(substitute())
print("the DonaldDuck tuple:", "\n", b)

the MickeyMouse tuple:
 (1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')

the DonaldDuck tuple:
 (1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
#exercise 2
#with temporary variable
a = "ciao"
b = 7
print("the initial value of a is:", a, "\n and b is:", b)

temporary = a
a = b
b = temporary
print("the value of a after swapping is:", a, "\n and b is:", b, "\n")

#without temporary variable 
def swap(x,y):
    x, y = y, x
    return x, y

x = "ciao"
y = 7
print("without temporary variable:", "\n",swap(x,y))

the initial value of a is: ciao
 and b is: 7
the value of a after swapping is: 7
 and b is: ciao

without temporary variable:
 (7, 'ciao')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
#exercise 3
def dist(a,b):
    d = ((a[0] - b[0])**2 + (a[1] - b[1])**2)**0.5
    return d

u = (3, 0)
v = (0, 4)

print("u =", u, "and v =",v)
print("the distance between u and v is:", dist(u,v))

u = (3, 0) and v = (0, 4)
the distance between u and v is: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
#exercise 4
S = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
s = S.lower()

def freq(string):
    L = {}
    for char in string:
        if char in L:
            L[char] += 1
        else:
            L[char] = 1
    return L

print("the number of times each character occurs in the given string is:", "\n", freq(s))

the number of times each character occurs in the given string is:
 {'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
#exercise 5
L = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(l):
    D = {}
    for x in l:
        if x in D:
            D[x] += 1
        else:
            D[x] = 1
    print("the number of times each number occurs in the given list is:", "\n", D, "\n")
    
    unique = []
    for i in D:
        if D[i] == 1:
            unique.append(i) 
    print("the unique numbers are:", unique)
    print("the number of uniques is:", len(unique))
    
unique(L)

the number of times each number occurs in the given list is:
 {36: 3, 45: 3, 58: 1, 3: 2, 74: 1, 96: 1, 64: 1, 31: 2, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 63: 2, 70: 3, 85: 3, 47: 1, 56: 2, 42: 2, 84: 4, 88: 1, 55: 1, 20: 3, 54: 1, 8: 1, 51: 3, 79: 1, 81: 1, 57: 1, 37: 1, 91: 3, 1: 1, 66: 2, 9: 1, 89: 2, 50: 2, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 34: 2, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}

the unique numbers are: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
the number of uniques is: 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
#exercise 6
def square(x):
    return x**2

def cube(x):
    return x**3

def six(x):
    return cube(square(x))

a = 2
print(a, "rised to the 6th power is:", six(a))

2 rised to the 6th power is: 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
#exercise 7.a
def cube():
    a = []
    for x in range(0,11): 
        a.append(x**3)
    return a

print("using a for loop:", cube())
    
#exercise 7.b
cube = [x**3 for x in range(0,11)]
print("using a list comprehension", cube)

using a for loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
using a list comprehension [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
#exercise 8
pyth = [(a,b,c) for a in range(1,100) for b in range(a,100) for c in range(b,100) if c*c == a*a + b*b]
P = tuple(pyth)
print("the Pythagorean triples until 100 are: \n",P)

the Pythagorean triples until 100 are:
 ((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [10]:
#exercise 9
def norm():
    n = []
    for i in range (0, len(a)):
        n.append(a[i]/a[i])
    return n

a = (1, 2, 3, 4)
print("the initial tuple is:", a)
b = tuple(norm())
print("the tuple normalized to 1 is:", b)

the initial tuple is: (1, 2, 3, 4)
the tuple normalized to 1 is: (1.0, 1.0, 1.0, 1.0)