1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
print("a)")
number_list= [x for x in range(101)]
# print(number_list)
b="Mickey"
c="Mouse"
d=b+c
#print(d)
x=0;
while x<=100:
    
    if x>=3 and x%3==0 and x%15!=0:
       
        number_list.insert(number_list[x],b)
        number_list.remove(number_list[x+1])
    
    if x>=5 and x%5==0 and x%15!=0:
     
        number_list.insert(number_list[x],c)
        number_list.remove(number_list[x+1])
    
    if x>=3 and x%3==0 and x>=5 and x%5==0 :
      
        number_list.insert(number_list[x],d)
        number_list.remove(number_list[x+1])   
    x+=1
print(number_list)  

print("b)")
print(type(number_list))
b="Mickey"
c="Mouse"
d=b+c
e="Donald"
f="Duck"
g=e+f
#print(d)
x=0;
while x<=100:
    
    if number_list[x]== b :
        number_list[x]=e
    if number_list[x]== c :
        number_list[x]=f
    if number_list[x]== d :
        number_list[x]=g    
    x+=1
print(number_list)
    
tuple_list=tuple(number_list)
print(type(tuple_list))
print(tuple_list)

a)
[0, 1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
b)
<class 'list'>
[0, 1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']
<class 'tuple'>
(0, 1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [4]:
print("with temporary variable")
first_input= input("Please enter first variable: ")
second_input= input("Please enter second variable: ")

temp_first = first_input
first_input = second_input
second_input = temp_first


print("The first variable after swapping: " + first_input)
print("The second variable after swapping: " + second_input)

print("without temporary variable")
x = int(input("Please enter first number: "))
y = int(input("Please enter second number: "))
x = x + y  
y = x - y 
x = x - y  
print("After Swapping: first number =", x, " second number =", y)

with temporary variable
Please enter first variable: 5
Please enter second variable: 6
The first variable after swapping: 6
The second variable after swapping: 5
without temporary variable
Please enter first number: 5
Please enter second number: 6
After Swapping: first number = 6  second number = 5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
from math import sqrt

x1= int(input("Enter x1: "))
y1= int(input("Enter y1: "))
x2= int(input("Enter x2: "))
y2= int(input("Enter y2: "))

u= (x1,y1)
v= (x2,y2)
num = int(sqrt(((u[1]-v[1])**2) + ((u[0]-v[0])**2)))

print(num)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [7]:
s_new=s.lower()
#print(s_new)
characters = {} 
  
for i in s_new: 
    if i in characters: 
        characters[i] += 1
    else: 
        characters[i] = 1
print ("Number of characters: \n " +  str(characters))
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

Number of characters:
 {'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [ ]:
ss= sorted(l)
print(ss)

my_list = list(set(ss))
print(my_list)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
a= int(input(" number 1: "))

def square(a):
    return a*a
print(square(a))

def cube(a):
    return a*a*a
print(cube(a))

def six(a):
      return square(a)*cube(a)*a
print(six(a))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
print("a)")
list1=[]
for x in range(0,11):
  
    a=x*x*x
    list1.append(a)
    x+=1   
print(list1)

print("b)")

list2 = [i*i*i for i in range(0,11)]
print(list2)

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
list=[]
for a in range (1,101):
    for b in range (1,101) :
        for c in range(1,101):
            if c*c == (a*a)+(b*b):
                
                list.append([a,b,c])
        c+=1
    b+=1
a+=1

print(tuple(list))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
a = (2,4,6,8)
aa=list(a)

amin, amax = min(aa), max(aa)
for i, val in enumerate(aa):
    aa[i] = (val-amin) / (amax-amin)
    
print(tuple(aa))