1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
#1.a
aux_list=list()
for i in range(100):
    if i%5==0 and i%3==0:
        i = "MickeyMouse"
    elif i%5 == 0: 
        i="Mouse"
    elif i%3 == 0:
        i="Mickey"
    aux_list.append(i)

mickey_tuple = tuple(aux_list)
mickey_tuple

In [ ]:
#1.b
for x in range(len(aux_list)):
    if aux_list[x] == "MickeyMouse":
        aux_list[x]= "DonaldDuck"
    elif aux_list[x] == "Mickey":
         aux_list[x] = "Donald"
    elif aux_list[x] == "Mouse":
         aux_list[x] = "Duck"
            
donald_tuple = tuple(aux_list)
donald_tuple

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
x=input("Value of x: ")
y=input("Value of y: ")
def swap1(a, b):
    a,b = b, a
    print('x = {}, y = {}'.format(a,b))
    
def swap2(a,b):
    temp = a
    a = b
    b = temp
    print('x = {}, y = {}'.format(a,b))
    
swap1(x,y)
swap2(x,y)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
a_list=list()
for i in range(2):
    i = int(input("coordinate of u: "))
    a_list.append(i)
u = tuple(a_list)
print("\n u =", u,"\n")

b_list=list()
for i in range(2):
    i = int(input("coordinate of v: "))
    b_list.append(i)
v = tuple(b_list)
print("\n v =", v, "\n")

#def euc_dist(a, b, c, d):
#   ((a-c)**2 + (b-d)**2)**(1/2)
    
a = ((u[0]-v[0])**2 + (u[1]-v[1])**2)**(1/2)
print("d(u,v) = ", a)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [ ]:
t=s.lower()
for i in range(len(s)):
    b=t.count(t[i])
    print("{} -- {}".format(s[i],b))

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [ ]:
l_=set(l)
print(l_)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
def square(x):
    y=x**2
    return y

def cube(a):
    b=a**3
    return b

def sixth(z):
    v=square(z)*cube(z)
    return v

sixth(4)

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
cube_list = [x**3 for x in range(11)]
cube_list

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
triplet_list = list()
for b in range(100):
    for a in range(1, b):
        c = ( a * a + b * b)**(1/2)
        if c % 1 == 0:
            t=(a,b,int(c))
            triplet_list.append(t)
triplet_tuple = tuple(triplet_list)
triplet_tuple

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
a_tuple = (2, 5, 68, 53, 444, 33, 23, 182)
a = list(a_tuple)
mag = (sum(i**2 for i in a))**(1/2)
for i in range(len(a)):
    a[i] = a[i]/mag
check_mag =(sum(i**2 for i in a))**(1/2)

norm_tuple = tuple(a)
print("the magnitude of the normalized tuple is", check_mag)
norm_tuple