1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [27]:
a= [x for x in range(1,101)]
for i in a:
    if i % 3 == 0:
        a[i-1] = "Mickey"
    elif i % 5 == 0:
        a[i-1] = "Mouse"
    if i % 3 == 0 and i % 5 == 0:
        a[i-1] = "MickeyMouse"

print(a)
a_tuple = tuple(a)
# Tuples are not changeable

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [98]:
def swap(x,y):
    x = x+y
    y = x-y
    x = x-y
    return x,y

x = 5.0
print("x =",x)
y = 10.0
print("y =",y)
x,y = swap(x,y)
print("x =",x)
print("y =",y)

x = 5.0
y = 10.0
x = 10.0
y = 5.0

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [70]:
def euclidean_dist(u,v):
    value = math.sqrt((u[0]-v[0])**2+(u[1]-v[1])**2)
    return value

u = (3,0)
v = (0,4)
euclidean_dist(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [101]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

characters = [x for x in s.lower()]
unique_char = []
for i in characters:
    if (i not in unique_char):
        unique_char.append(i)

#print(unique_char)
#tot_char=0
for i in unique_char:
    print(i, characters.count(i))
    #tot_char = tot_char+characters.count(i)
    
#print(len(s),tot_char)

w 2
r 17
i 14
t 19
e 22
  41
a 7
p 8
o 13
g 1
m 12
h 9
n 10
s 9
u 9
b 5
f 10
1 2
0 2
. 2
l 6
c 3
k 2
y 2
d 3
v 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [103]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_num = []
for i in l:
    if (i not in unique_num):
        unique_num.append(i)
print(unique_num)        
for i in unique_num:
    print(i, l.count(i))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
36 3
45 3
58 1
3 2
74 1
96 1
64 1
31 2
10 1
24 1
19 1
33 1
86 1
99 1
18 1
63 2
70 3
85 3
47 1
56 2
42 2
84 4
88 1
55 1
20 3
54 1
8 1
51 3
79 1
81 1
57 1
37 1
91 3
1 1
66 2
9 1
89 2
50 2
95 1
90 1
98 1
39 1
16 1
82 1
92 1
41 1
30 1
34 2
94 1
5 1
72 1
87 1
75 1
53 1

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [107]:
def square_num(x):
    return x*x

def cube_num(x):
    return x*x*x

def sixth_power(x):
    return x*square_num(x)*cube_num(x)

x =3
sixth_power(x)

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [115]:
#a)
a = []
for i in range(0,10):
    a.append(i**3)
print(a)

#b)
b= [x**3 for x in range(0,10)]
print(b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [133]:
for a in range(1,100):
    for b in range(1,100):
        c = math.sqrt(a**2+b**2)
        if (c <= 100 and c%1 ==0):
            output = (a,b,int(c))
            print(output)

(3, 4, 5)
(4, 3, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 6, 10)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(11, 60, 61)
(12, 5, 13)
(12, 9, 15)
(12, 16, 20)
(12, 35, 37)
(13, 84, 85)
(14, 48, 50)
(15, 8, 17)
(15, 20, 25)
(15, 36, 39)
(16, 12, 20)
(16, 30, 34)
(16, 63, 65)
(18, 24, 30)
(18, 80, 82)
(20, 15, 25)
(20, 21, 29)
(20, 48, 52)
(21, 20, 29)
(21, 28, 35)
(21, 72, 75)
(24, 7, 25)
(24, 10, 26)
(24, 18, 30)
(24, 32, 40)
(24, 45, 51)
(24, 70, 74)
(25, 60, 65)
(27, 36, 45)
(28, 21, 35)
(28, 45, 53)
(28, 96, 100)
(30, 16, 34)
(30, 40, 50)
(30, 72, 78)
(32, 24, 40)
(32, 60, 68)
(33, 44, 55)
(33, 56, 65)
(35, 12, 37)
(35, 84, 91)
(36, 15, 39)
(36, 27, 45)
(36, 48, 60)
(36, 77, 85)
(39, 52, 65)
(39, 80, 89)
(40, 9, 41)
(40, 30, 50)
(40, 42, 58)
(40, 75, 85)
(42, 40, 58)
(42, 56, 70)
(44, 33, 55)
(45, 24, 51)
(45, 28, 53)
(45, 60, 75)
(48, 14, 50)
(48, 20, 52)
(48, 36, 60)
(48, 55, 73)
(48, 64, 80)
(51, 68, 85)
(52, 39, 65)
(54, 72, 90)
(55, 48, 73)
(56, 33, 65)
(56, 42, 70)
(57, 76, 95)
(60, 11, 61)
(60, 25, 65)
(60, 32, 68)
(60, 45, 75)
(60, 63, 87)
(60, 80, 100)
(63, 16, 65)
(63, 60, 87)
(64, 48, 80)
(65, 72, 97)
(68, 51, 85)
(70, 24, 74)
(72, 21, 75)
(72, 30, 78)
(72, 54, 90)
(72, 65, 97)
(75, 40, 85)
(76, 57, 95)
(77, 36, 85)
(80, 18, 82)
(80, 39, 89)
(80, 60, 100)
(84, 13, 85)
(84, 35, 91)
(96, 28, 100)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [131]:
def norm(entry):
    totsum = 0
    for i in entry:
        totsum = totsum + i 
    a = [x / totsum for x in entry]    
    return tuple(a)

#example
x = (1, 5,1,1, 2)  
norm(x)

(0.1, 0.5, 0.1, 0.1, 0.2)