In [43]:
mm=[]
for j in range(1,101):
    if j%3==0 and j%5==0:
        mm.append('MickeyMouse')  
    elif j%3==0:
        mm.append('Mickey')
    elif j%5==0:
        mm.append('Mouse')
    else:
        mm.append(j)
for item in mm:
        print(item)
for i in range(len(mm)):
    if mm[i]=='Mickey':
        mm[i]='Donald'
    if mm[i]=='Mouse':
        mm[i]='Duck'    
print(tuple(mm))

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

In [47]:
def swap_func1(x,y):
    temp=x
    x=y
    y=temp
    return x,y
swap_func1('hello',5)

(5, 'hello')

In [48]:
def swap_func2(x,y):
    x,y=y,x
    return x,y
swap_func2('hello',5)

(5, 'hello')

In [36]:
import math
def distance(u,v):
    c=math.sqrt(((u[0]-v[0])**2)+((u[1]-v[1])**2))
    return c
u=(3,0)
v=(0,4)
distance(u,v)

5.0

In [37]:
chars ="abcdefghijklmnopqrstuvwxyz0123456789"
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
for char in chars:
    count = s.lower().count(char)
    if count >= 1:
        print(char, count)

a 7
b 5
c 3
d 3
e 22
f 10
g 1
h 9
i 14
k 2
l 6
m 12
n 10
o 13
p 8
r 17
s 9
t 19
u 9
v 2
w 2
y 2
0 2
1 2

In [38]:
def unique_numbers(l):
    k=[]
    for i in l:
        count=l.count(i)
        if count==1:
            k.append(i)
    print(k)
    print(len(k)) 
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_numbers(l)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
37

In [44]:
def sguare_func(m):
    return m**2
def cube_func(m):
    return m**3
def sixth_power_func(m):
    return cube_func(sguare_func(m))
sixth_power_func(2)

64

In [116]:
a=[]
for i in range(11):
    c=i*i*i
    a.append(c)
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [117]:
b=list(map(lambda x: x*x*x,range(11)))
print(b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [141]:

def pythagoreanTriplets(limits) : 
    
    c, m = 0, 2
  
    while c < limits : 
          
        # Now loop on n from 1 to m-1 
       
        for n in range(1, m) : 
           
            a = m * m - n * n 
            b = 2 * m * n 
            c = m * m + n * n
           
            matrix1.append(a)
            matrix2.append(b)
            matrix3.append(c)
            # if c is greater than 
            # limit then break it 
            if c > limits : 
                break
            triple=(list((a,b,c)))
            print(tuple(triple))
       
        m = m + 1
pythagoreanTriplets(100)

(3, 4, 5)
(8, 6, 10)
(5, 12, 13)
(15, 8, 17)
(12, 16, 20)
(7, 24, 25)
(24, 10, 26)
(21, 20, 29)
(16, 30, 34)
(9, 40, 41)
(35, 12, 37)
(32, 24, 40)
(27, 36, 45)
(20, 48, 52)
(11, 60, 61)
(48, 14, 50)
(45, 28, 53)
(40, 42, 58)
(33, 56, 65)
(24, 70, 74)
(13, 84, 85)
(63, 16, 65)
(60, 32, 68)
(55, 48, 73)
(48, 64, 80)
(39, 80, 89)
(28, 96, 100)

In [49]:
def Normalization_func(h):
    
    amin, amax = min(h), max(h)
    for i, val in enumerate(h):
        v=list(h)
        v[i] = (val-amin) / (amax-amin)
        return tuple(v)
h = (2,4,10,6,8,4)
Normalization_func(h)

(0.0, 4, 10, 6, 8, 4)