1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [47]:
for i in range (1, 101): 
    if i%3 ==0 and i%5 !=0: 
        print ("Mickey")
    elif i%5 ==0 and i%3 !=0: 
        print ("Mouse")
    elif i%5 ==0 and i%3 ==0: 
        print ("Mickey Mouse")
    else :
        print (i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(100,)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [39]:
x=input("set the value of x: ")
y=input("set the value of y: ")

def swap():
    global x
    global y
    z=x
    x=y
    y=z
    
swap ()
print("x =", x, ", y =", y)

set the value of x: 33
set the value of y: 4
x = 4 , y = 33

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [15]:
import math
def distance (a, b):
    try:
        d = math.sqrt ( math.pow ( a[0] - b[0], 2) + math.pow ( a[1] - b[1], 2) )
        return (d)
    except:
        print ("can't compute distance for this type of objects")
        
        
u = (3, 0)
v = (0, 4)

distance (u, v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [16]:
s = "i topi non avevano NIPOTI"
for

  : appears
i : appears
  : appears
t : appears
o : appears
p : appears
i : appears
  : appears
n : appears
o : appears
n : appears
  : appears
a : appears
v : appears
e : appears
v : appears
a : appears
n : appears
o : appears
  : appears
n : appears
i : appears
p : appears
o : appears
t : appears
i : appears

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [20]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

import math

def unique (a):
    try:
        count = 0
        for i in a: 
            countDivisor = 0
            c = int ( math.sqrt (i) ) +1
            for j in range (2, c+1):
                if i % j == 0:
                    countDivisor = countDivisor + 1
            if countDivisor == 0 and i != 1:
                print (i, "is prime")
                count = count +1
            
                    
        return (count)

    except:
        print("can'do this operation on ", a)
        
unique (l)

3 is prime
31 is prime
19 is prime
47 is prime
79 is prime
37 is prime
89 is prime
31 is prime
41 is prime
5 is prime
3 is prime
53 is prime
89 is prime

13

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [27]:
import math
def square (a):
    try:
        return ( math.pow( a, 2 ) )
    except:
        print ("can't do this operation on ", a)

def cube (a):
    try:
        return ( math.pow(a, 3) )
    except:
        print ("can't do this operation on ", a)
        
def sixthPower (a):
    try:
        return ( cube ( square(a) ) )
    except:
        print ("can't do this operation on ", a)
        
        
sixthPower(2)

64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [28]:
for i in range (0, 11):
    print ( cube(i) )

0.0
1.0
8.0
27.0
64.0
125.0
216.0
343.0
512.0
729.0
1000.0

In [30]:
cubes = [ cube(x) for x in range(11) ]
print ( cubes )

[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one