## 1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
#a

sequence = []
for n in range(1,101):
    if n%3==0:
        if n%5==0:
            sequence.append('MikeyMouse')
        else:
            sequence.append('Mikey')
    elif n%5==0:
        sequence.append('Mouse')
    else:
        sequence.append(str(n))

#sequence

In [2]:
#b

for i,v in enumerate(sequence):
    sequence[i]=v.replace('Mikey','Donald').replace('Mouse','Duck')

#sequence

## 2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
#it seems to me that it is possoble to swap the values in the external scope only
#if a and b are mutable, and some methods are available to modify them in-place from within the function

#otherwise, if one to consider swap the order of the return parameters of the function one could simply write
def swap(a,b):
    return b,a
    
a='cagnolino'
b= int

print([a,b])

a,b = swap(a,b)

print([a,b])

['cagnolino', <class 'int'>]
[<class 'int'>, 'cagnolino']

## 3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
def distance(u,v):
    return ((v[0]-u[0])**2+(v[1]-u[1])**2)**0.5

u=(3,0)
v=(0,4)

print(distance(u,v))

5.0

## 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s=s.lower()

counting=[]

for i in range(500):# 500 sould contain all the useful char for the purpose of the exercise
    c = s.count(chr(i))
    if c>0:
        counting.append([chr(i),c])

#counting

## 5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *L*

In [6]:
L = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def uniques_finder(L):
    uniques = []

    for l in L:
        if L.count(l)==1:
                uniques.append(l)
            
    return uniques,len(uniques)

#uniques_finder(L)

## 6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
def pow2(x):
    return x**2
def pow3(x):
    return x**3
def pow6(x):
    return pow2(pow3(x))

print(pow2(2),pow3(2),pow6(2))

4 8 64

## 7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
#a
cubes = []
for i in range(11):
    cubes += [i**3]

cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [9]:
#b
cubes = [i**3 for i in range(11)]

cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
pit_trip =  []
for serie in [[ [i,j,(i**2+j**2)**0.5] for i in range(1,101)] for j in range(1,101)]:
        for trip in serie:
            if (trip[1]>trip[0]) & (trip[2]%1 == 0): # a bit risky to be onest
              pit_trip.append( [trip[0],trip[1],int(trip[2])] )

pit_trip

[[3, 4, 5],
 [6, 8, 10],
 [5, 12, 13],
 [9, 12, 15],
 [8, 15, 17],
 [12, 16, 20],
 [15, 20, 25],
 [20, 21, 29],
 [7, 24, 25],
 [10, 24, 26],
 [18, 24, 30],
 [21, 28, 35],
 [16, 30, 34],
 [24, 32, 40],
 [12, 35, 37],
 [15, 36, 39],
 [27, 36, 45],
 [9, 40, 41],
 [30, 40, 50],
 [40, 42, 58],
 [33, 44, 55],
 [24, 45, 51],
 [28, 45, 53],
 [14, 48, 50],
 [20, 48, 52],
 [36, 48, 60],
 [39, 52, 65],
 [48, 55, 73],
 [33, 56, 65],
 [42, 56, 70],
 [11, 60, 61],
 [25, 60, 65],
 [32, 60, 68],
 [45, 60, 75],
 [16, 63, 65],
 [60, 63, 87],
 [48, 64, 80],
 [51, 68, 85],
 [24, 70, 74],
 [21, 72, 75],
 [30, 72, 78],
 [54, 72, 90],
 [65, 72, 97],
 [40, 75, 85],
 [57, 76, 95],
 [36, 77, 85],
 [18, 80, 82],
 [39, 80, 89],
 [60, 80, 100],
 [13, 84, 85],
 [35, 84, 91],
 [63, 84, 105],
 [80, 84, 116],
 [66, 88, 110],
 [48, 90, 102],
 [56, 90, 106],
 [60, 91, 109],
 [69, 92, 115],
 [28, 96, 100],
 [40, 96, 104],
 [72, 96, 120],
 [20, 99, 101],
 [75, 100, 125]]

## 9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
def norm(X):
    val = 0;
    for x in X:
        val+=x**2
    return val**0.5

X = (1,1,1,1,2,2,2)

norm(X)

4.0