1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [35]:
number=[i for i in range(1,101)] 
number[2:100:3]=['Mickey' for i in range(1,34)]
number[4:100:5]=['Mouse' for i in range(1,21)]
number[14:100:15]=['MickeyMouse' for i in range(1,7)]
print(number)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [36]:
for i in range (0,len(number)):
    if number[i]=='Mickey':
        number1[i]='Donald'
    elif number[i]=='Mouse':
        number1[i]='Duck'
    elif number[i]=='MickeyMouse':      
        number1[i]='DonaldDuck'
    else:
        number1[i]=number[i]
print(number1)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [16]:
X=1
Y=2
print('X is',X)
print('Y is',Y)

def swapf1():
    global X
    global Y
    A=X
    X=Y
    Y=A
    
swapf1()
print('X is',X)
print('Y is',Y)

X is 1
Y is 2
X is 2
Y is 1

In [17]:
xy=[1,2]
print('X is',xy[0])
print('Y is',xy[1])

def swapf2():
    xy.reverse()
    
swapf2()
print('X is',xy[0])
print('Y is',xy[1])

#why using reverse dosen't need to define xy global?

X is 1
Y is 2
X is 2
Y is 1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [25]:
u=(4,0)
v=(0,3)

def eucl_dist():
    c=((u[0]-v[0])**2+(u[1]-v[1])**2)**0.5
    return c

print('Distance is:',eucl_dist())

Distance is: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [28]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

chars = [i for i in s]
print('A and a appear:',chars.count('A')+chars.count('a'),' times.')
print('B and b appear:',chars.count('B')+chars.count('b'),' times.')
print('C and c appear:',chars.count('C')+chars.count('c'),' times.')
#...and so on

A and a appear: 7  times.
B and b appear: 5  times.
C and c appear: 3  times.

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
#TO DO
#try to make an automated program instead 26 lines of code.

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [31]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

print('These are all the numbers that appear 1 time:')
for i in range (min(l),max(l)):
    c=l.count(i)
    if c==1:
        print(i)

These are all the numbers that appear 1 time:
1
5
8
9
10
16
18
19
24
30
33
37
39
41
47
53
54
55
57
58
64
72
74
75
79
81
82
86
87
88
90
92
94
95
96
98

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [37]:
x=3

def quad(x):
    x2=x**2
    return x2
def cub(x):
    x3=x**3
    return x3

def sixth(x):
    x6=cub(quad(x))
    return x6

print('x^6 is: ',sixth(x))

x^6 is:  729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [38]:
c=[]
for x in range (0,11):
    c.append(x**3)
print(c)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [237]:
b=[x**3 for x in range (0,11)]
print(b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [39]:
abc=[]
for a in range (1,101):
    for b in range (1,101):
        if b>=a:   
            for c in range (1,101):
                if c>=b:
                    c2=a**2+b**2
                    if c**2==c2:
                        abc.append([a,b,c])
abct=(abc)
print('All the Pythagorean triples with a,b,c less than 100 are: ')
for i in range (0,len(abct)):
    print(abct[i])

All the Pythagorean triples with a,b,c less than 100 are:
[3, 4, 5]
[5, 12, 13]
[6, 8, 10]
[7, 24, 25]
[8, 15, 17]
[9, 12, 15]
[9, 40, 41]
[10, 24, 26]
[11, 60, 61]
[12, 16, 20]
[12, 35, 37]
[13, 84, 85]
[14, 48, 50]
[15, 20, 25]
[15, 36, 39]
[16, 30, 34]
[16, 63, 65]
[18, 24, 30]
[18, 80, 82]
[20, 21, 29]
[20, 48, 52]
[21, 28, 35]
[21, 72, 75]
[24, 32, 40]
[24, 45, 51]
[24, 70, 74]
[25, 60, 65]
[27, 36, 45]
[28, 45, 53]
[28, 96, 100]
[30, 40, 50]
[30, 72, 78]
[32, 60, 68]
[33, 44, 55]
[33, 56, 65]
[35, 84, 91]
[36, 48, 60]
[36, 77, 85]
[39, 52, 65]
[39, 80, 89]
[40, 42, 58]
[40, 75, 85]
[42, 56, 70]
[45, 60, 75]
[48, 55, 73]
[48, 64, 80]
[51, 68, 85]
[54, 72, 90]
[57, 76, 95]
[60, 63, 87]
[60, 80, 100]
[65, 72, 97]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [43]:
a=(3,4,0,0,0)

def norm(a):
    c=0
    for i in range (0,len(a)):
        c=c+a[i]**2
    print('The ||a|| is equal to:',c**0.5)
    b=list(a)
    try:
        for i in range (0,len(b)):
            b[i]=b[i]/(c**0.5)
        return b
    except:
        print('a is not normalizable beacuse is the null vector.')
        return a

print('a normalized is: ',norm(a))

#there's something like break or go to in python?

The ||a|| is equal to: 5.0
a normalized is:  [0.6, 0.8, 0.0, 0.0, 0.0]