1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [206]:
for i in range(1,101):
    if i % 5 == 0 and i % 3 == 0:
        print("MickeyMouse")
    elif i % 3 == 0:
        print("Mickey")
    elif i % 5 == 0:
        print("Mouse")
    else: print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
('Mouse',)

In [208]:
l = []
for i in range(1,101):
    if i % 5 == 0 and i % 3 == 0:
        l.append("DonaldDuck")
    elif i % 3 == 0:
        l.append("Donald")
    elif i % 5 == 0:
        l.append("Duck")
    else: l.append(i)
print(tuple(l))

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [168]:
def swap(x, y):
    temp = x
    x = y
    y = temp
    return(x,y)

def swap1(x, y):
    return y, x

x = [1,2,3]
y = [4,5,6]

print(swap(x,y))
print(swap1(x,y))

print(x)

([4, 5, 6], [1, 2, 3])
([4, 5, 6], [1, 2, 3])
[1, 2, 3]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [169]:
import math
def dist(u, v):
    distance = math.sqrt((v[1] - v[0])**2 + (u[1] - u[0])**2)
    return distance
u = (3,0)
v = (0,4)
print(dist(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [170]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
s1 = s.lower()

for i in s1:
    print(i,s1.count(i))

w 2
r 17
i 14
t 19
e 22
  41
a 7
  41
p 8
r 17
o 13
g 1
r 17
a 7
m 12
  41
t 19
h 9
a 7
t 19
  41
p 8
r 17
i 14
n 10
t 19
s 9
  41
t 19
h 9
e 22
  41
n 10
u 9
m 12
b 5
e 22
r 17
s 9
  41
f 10
r 17
o 13
m 12
  41
1 2
  41
t 19
o 13
  41
1 2
0 2
0 2
. 2
  41
b 5
u 9
t 19
  41
f 10
o 13
r 17
  41
m 12
u 9
l 6
t 19
i 14
p 8
l 6
e 22
s 9
  41
o 13
f 10
  41
t 19
h 9
r 17
e 22
e 22
  41
p 8
r 17
i 14
n 10
t 19
  41
m 12
i 14
c 3
k 2
e 22
y 2
  41
i 14
n 10
s 9
t 19
e 22
a 7
d 3
  41
o 13
f 10
  41
t 19
h 9
e 22
  41
n 10
u 9
m 12
b 5
e 22
r 17
  41
a 7
n 10
d 3
  41
f 10
o 13
r 17
  41
t 19
h 9
e 22
  41
m 12
u 9
l 6
t 19
i 14
p 8
l 6
e 22
s 9
  41
o 13
f 10
  41
f 10
i 14
v 2
e 22
  41
p 8
r 17
i 14
n 10
t 19
  41
m 12
o 13
u 9
s 9
e 22
. 2
  41
f 10
o 13
r 17
  41
n 10
u 9
m 12
b 5
e 22
r 17
s 9
  41
w 2
h 9
i 14
c 3
h 9
  41
a 7
r 17
e 22
  41
m 12
u 9
l 6
t 19
i 14
p 8
l 6
e 22
s 9
  41
o 13
f 10
  41
b 5
o 13
t 19
h 9
  41
t 19
h 9
r 17
e 22
e 22
  41
a 7
n 10
d 3
  41
f 10
i 14
v 2
e 22
  41
p 8
r 17
i 14
n 10
t 19
  41
m 12
i 14
c 3
k 2
e 22
y 2
m 12
o 13
u 9
s 9
e 22

In [171]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

count = 0
for i in l: 
    if l.count(i) == 1: 
        print(i, "is unique")
        count +=1
print(count)

58 is unique
74 is unique
96 is unique
64 is unique
10 is unique
24 is unique
19 is unique
33 is unique
86 is unique
99 is unique
18 is unique
47 is unique
88 is unique
55 is unique
54 is unique
8 is unique
79 is unique
81 is unique
57 is unique
37 is unique
1 is unique
9 is unique
95 is unique
90 is unique
98 is unique
39 is unique
16 is unique
82 is unique
92 is unique
41 is unique
30 is unique
94 is unique
5 is unique
72 is unique
87 is unique
75 is unique
53 is unique
37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [172]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return x*square(x)*cube(x)

sixth(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [189]:

l = []
for i in range(0,11): 
    l.append(i**3)


l1 = [x**3 for x in range(0,11)]
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [148]:
print([(a,b,c) for a in range(1,101) for b in range(a,101) for c in range(b,101) if a**2 + b**2 == c**2])

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [200]:
def norm(t):
    l = list(t)
    new_l = []
    z2 = 0
    for i in l:
        z2 += i**2
    z = math.sqrt(z2)
    for i in l:
        new_l.append(i/z)
    t = tuple(new_l)
    return(t)

a = (1,2,3)
norm(a)

(0.2672612419124244, 0.5345224838248488, 0.8017837257372732)