# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [21]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [25]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [24]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [26]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [5]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    0.601184
b    0.506997
c   -0.792743
d    0.647726
e   -0.375532
dtype: float64
a         NaN
b    1.013994
c   -1.585485
d    1.295451
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [6]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-09
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [29]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [28]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-11-9':'2020-11-11'], '\n') # Note - includes end time

2020-09-11 14:45:00    10.176884
2020-09-12 14:45:00    11.108258
2020-09-13 14:45:00     9.386870
2020-09-14 14:45:00     9.101201
Freq: D, dtype: float64

Series([], Freq: D, dtype: float64)

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [30]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [38]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
print(df)
df

                            A         B         C         D
2020-11-09 14:45:00  0.828709 -0.434904  0.105592 -0.185334
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  1.603389
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711 -0.783752
2020-11-09 17:45:00 -1.631677  1.805456  0.337560 -0.334964
2020-11-09 18:45:00  0.194740 -0.185725  0.110958 -1.704306
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  0.068353
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  0.402715
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  1.970005
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  2.341351
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639 -1.177900

                            A         B         C         D
2020-11-09 14:45:00  0.828709 -0.434904  0.105592 -0.185334
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  1.603389
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711 -0.783752
2020-11-09 17:45:00 -1.631677  1.805456  0.337560 -0.334964
2020-11-09 18:45:00  0.194740 -0.185725  0.110958 -1.704306
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  0.068353
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  0.402715
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  1.970005
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  2.341351
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639 -1.177900

or by means of a dictionary:

In [42]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
print(df2)
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [46]:
df.head()

                            A         B         C         D
2020-11-09 14:45:00  0.828709 -0.434904  0.105592 -0.185334
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  1.603389
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711 -0.783752
2020-11-09 17:45:00 -1.631677  1.805456  0.337560 -0.334964
2020-11-09 18:45:00  0.194740 -0.185725  0.110958 -1.704306

In [47]:
df.tail(4)

                            A         B         C         D
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  0.402715
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  1.970005
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  2.341351
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639 -1.177900

In [50]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [49]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [48]:
df.values

array([[ 0.82870852, -0.43490369,  0.10559178, -0.18533352],
       [-0.51545397, -0.86269833, -0.49728111,  1.60338861],
       [ 0.74621872, -0.12573438, -1.53871144, -0.78375193],
       [-1.63167672,  1.8054557 ,  0.33755971, -0.33496385],
       [ 0.19473977, -0.18572512,  0.11095835, -1.70430596],
       [-1.27351346,  0.94983553, -2.37066587,  0.06835328],
       [-1.30786027, -0.9000201 , -1.30573084,  0.40271537],
       [ 0.15638886, -0.34434782, -0.1799211 ,  1.9700049 ],
       [-0.68098368,  0.09956857,  1.36254094,  2.34135091],
       [ 0.24254659, -0.00799804, -0.10363881, -1.17790027]])

In [17]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.071355   0.308621  -0.142363   0.254839
std     0.968148   1.020905   0.899179   1.035264
min    -1.560130  -1.018462  -1.544296  -1.260795
25%    -0.800339  -0.583595  -0.536135  -0.505973
50%     0.291629   0.314599  -0.234116   0.483264
75%     0.730879   0.908956   0.450745   1.113098
max     1.007611   1.977906   1.266221   1.511437

In [51]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,0.828709,-0.515454,0.746219,-1.631677,0.194740,-1.273513,-1.307860,0.156389,-0.680984,0.242547
B,-0.434904,-0.862698,-0.125734,1.805456,-0.185725,0.949836,-0.900020,-0.344348,0.099569,-0.007998
C,0.105592,-0.497281,-1.538711,0.337560,0.110958,-2.370666,-1.305731,-0.179921,1.362541,-0.103639
D,-0.185334,1.603389,-0.783752,-0.334964,-1.704306,0.068353,0.402715,1.970005,2.341351,-1.177900

In [52]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00 -0.185334  0.105592 -0.434904  0.828709
2020-11-09 15:45:00  1.603389 -0.497281 -0.862698 -0.515454
2020-11-09 16:45:00 -0.783752 -1.538711 -0.125734  0.746219
2020-11-09 17:45:00 -0.334964  0.337560  1.805456 -1.631677
2020-11-09 18:45:00 -1.704306  0.110958 -0.185725  0.194740
2020-11-09 19:45:00  0.068353 -2.370666  0.949836 -1.273513
2020-11-09 20:45:00  0.402715 -1.305731 -0.900020 -1.307860
2020-11-09 21:45:00  1.970005 -0.179921 -0.344348  0.156389
2020-11-09 22:45:00  2.341351  1.362541  0.099569 -0.680984
2020-11-09 23:45:00 -1.177900 -0.103639 -0.007998  0.242547

In [53]:
df.sort_values(by="C")

                            A         B         C         D
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  0.068353
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711 -0.783752
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  0.402715
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  1.603389
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  1.970005
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639 -1.177900
2020-11-09 14:45:00  0.828709 -0.434904  0.105592 -0.185334
2020-11-09 18:45:00  0.194740 -0.185725  0.110958 -1.704306
2020-11-09 17:45:00 -1.631677  1.805456  0.337560 -0.334964
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  2.341351

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [56]:
## standard and safe
print (df['A'],'\n')
## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00    0.828709
2020-11-09 15:45:00   -0.515454
2020-11-09 16:45:00    0.746219
2020-11-09 17:45:00   -1.631677
2020-11-09 18:45:00    0.194740
2020-11-09 19:45:00   -1.273513
2020-11-09 20:45:00   -1.307860
2020-11-09 21:45:00    0.156389
2020-11-09 22:45:00   -0.680984
2020-11-09 23:45:00    0.242547
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00    0.828709
2020-11-09 15:45:00   -0.515454
2020-11-09 16:45:00    0.746219
2020-11-09 17:45:00   -1.631677
2020-11-09 18:45:00    0.194740
2020-11-09 19:45:00   -1.273513
2020-11-09 20:45:00   -1.307860
2020-11-09 21:45:00    0.156389
2020-11-09 22:45:00   -0.680984
2020-11-09 23:45:00    0.242547
Freq: H, Name: A, dtype: float64

In [57]:
# selecting rows by counting
print (df[0:3])
# or by index
print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])

                            A         B         C         D
2020-11-09 14:45:00  0.828709 -0.434904  0.105592 -0.185334
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  1.603389
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711 -0.783752
                            A         B         C         D
2020-11-09 14:45:00  0.828709 -0.434904  0.105592 -0.185334
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  1.603389
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711 -0.783752

### Selection by label

In [66]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    0.828709
B   -0.434904
C    0.105592
D   -0.185334
Name: 2020-11-09 14:45:00, dtype: float64

In [61]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2020-11-09 14:45:00  0.828709 -0.434904
2020-11-09 15:45:00 -0.515454 -0.862698
2020-11-09 16:45:00  0.746219 -0.125734
2020-11-09 17:45:00 -1.631677  1.805456
2020-11-09 18:45:00  0.194740 -0.185725
2020-11-09 19:45:00 -1.273513  0.949836
2020-11-09 20:45:00 -1.307860 -0.900020
2020-11-09 21:45:00  0.156389 -0.344348
2020-11-09 22:45:00 -0.680984  0.099569
2020-11-09 23:45:00  0.242547 -0.007998

In [67]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00  0.194740 -0.185725
2020-11-09 19:45:00 -1.273513  0.949836
2020-11-09 20:45:00 -1.307860 -0.900020

In [68]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-0.515453974146527
-0.515453974146527

### Selecting by position

In [69]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')
# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -1.631677
B    1.805456
C    0.337560
D   -0.334964
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00 -1.631677  1.805456
2020-11-09 18:45:00  0.194740 -0.185725

In [70]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00 -0.515454 -0.497281
2020-11-09 16:45:00  0.746219 -1.538711
2020-11-09 18:45:00  0.194740  0.110958

In [80]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])
df.iloc[:,]
# loc returns the copy, iloc returns the view
#

                            A         B         C         D
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  1.603389
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711 -0.783752

                            B         C
2020-11-09 14:45:00 -0.434904  0.105592
2020-11-09 15:45:00 -0.862698 -0.497281
2020-11-09 16:45:00 -0.125734 -1.538711
2020-11-09 17:45:00  1.805456  0.337560
2020-11-09 18:45:00 -0.185725  0.110958
2020-11-09 19:45:00  0.949836 -2.370666
2020-11-09 20:45:00 -0.900020 -1.305731
2020-11-09 21:45:00 -0.344348 -0.179921
2020-11-09 22:45:00  0.099569  1.362541
2020-11-09 23:45:00 -0.007998 -0.103639

                            A         B         C         D
2020-11-09 14:45:00  0.828709 -0.434904  0.105592 -0.185334
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  1.603389
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711 -0.783752
2020-11-09 17:45:00 -1.631677  1.805456  0.337560 -0.334964
2020-11-09 18:45:00  0.194740 -0.185725  0.110958 -1.704306
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  0.068353
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  0.402715
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  1.970005
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  2.341351
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639 -1.177900

In [77]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.8626983280599406

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [74]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 17:45:00 -1.631677  1.805456  0.337560 -0.334964
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  0.068353
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  2.341351

In [81]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]
# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00  0.828709       NaN  0.105592       NaN
2020-11-09 15:45:00       NaN       NaN       NaN  1.603389
2020-11-09 16:45:00  0.746219       NaN       NaN       NaN
2020-11-09 17:45:00       NaN  1.805456  0.337560       NaN
2020-11-09 18:45:00  0.194740       NaN  0.110958       NaN
2020-11-09 19:45:00       NaN  0.949836       NaN  0.068353
2020-11-09 20:45:00       NaN       NaN       NaN  0.402715
2020-11-09 21:45:00  0.156389       NaN       NaN  1.970005
2020-11-09 22:45:00       NaN  0.099569  1.362541  2.341351
2020-11-09 23:45:00  0.242547       NaN       NaN       NaN

### Setting

Combination of selection and setting of values

In [84]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [90]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.434904  0.105592  5  0.0        0  1.000000
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  5  0.5        2  0.999962
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711  5  1.0        4  0.999848
2020-11-09 17:45:00 -1.631677  1.805456  0.337560  5  1.5        6  0.999657
2020-11-09 18:45:00  0.194740 -0.185725  0.110958  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  5  2.5       10  0.999048
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  5  3.0       12  0.998630
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  5  4.0       16  0.997564
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639  5  4.5       18  0.996917

In [86]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.434904 -0.105592 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -0.746219 -0.125734 -1.538711 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -1.631677 -1.805456 -0.337560 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -0.194740 -0.185725 -0.110958 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -1.273513 -0.949836 -2.370666 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -0.156389 -0.344348 -0.179921 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -0.680984 -0.099569 -1.362541 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -0.242547 -0.007998 -0.103639 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [91]:
# Dropping by column
df.drop(['E prime'], axis=1)
#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2020-11-09 14:45:00  0.000000 -0.434904  0.105592  5  0.0  1.000000
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  5  0.5  0.999962
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711  5  1.0  0.999848
2020-11-09 17:45:00 -1.631677  1.805456  0.337560  5  1.5  0.999657
2020-11-09 18:45:00  0.194740 -0.185725  0.110958  5  2.0  0.999391
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  5  2.5  0.999048
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  5  3.0  0.998630
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  5  3.5  0.998135
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  5  4.0  0.997564
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639  5  4.5  0.996917

In [92]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.434904  0.105592  5  0.0        0  1.000000
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  5  2.5       10  0.999048
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  5  3.0       12  0.998630
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  5  4.0       16  0.997564
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639  5  4.5       18  0.996917

In [89]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.434904  0.105592  5  0.0        0  1.000000
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  5  0.5        2  0.999962
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711  5  1.0        4  0.999848
2020-11-09 17:45:00 -1.631677  1.805456  0.337560  5  1.5        6  0.999657
2020-11-09 18:45:00  0.194740 -0.185725  0.110958  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  5  2.5       10  0.999048
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  5  3.0       12  0.998630
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  5  3.5       14  0.998135
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [93]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN       NaN  0.105592  5  NaN      NaN  1.000000
2020-11-09 15:45:00       NaN       NaN       NaN  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.746219       NaN       NaN  5  1.0      4.0  0.999848
2020-11-09 17:45:00       NaN  1.805456  0.337560  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.194740       NaN  0.110958  5  2.0      8.0  0.999391
2020-11-09 19:45:00       NaN  0.949836       NaN  5  2.5     10.0  0.999048
2020-11-09 20:45:00       NaN       NaN       NaN  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.156389       NaN       NaN  5  3.5     14.0  0.998135
2020-11-09 22:45:00       NaN  0.099569  1.362541  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.242547       NaN       NaN  5  4.5     18.0  0.996917

In [94]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, E, E prime, cosine]
Index: []

In [95]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True   True  False  False   True     True   False
2020-11-09 15:45:00   True   True   True  False  False    False   False
2020-11-09 16:45:00  False   True   True  False  False    False   False
2020-11-09 17:45:00   True  False  False  False  False    False   False
2020-11-09 18:45:00  False   True  False  False  False    False   False
2020-11-09 19:45:00   True  False   True  False  False    False   False
2020-11-09 20:45:00   True   True   True  False  False    False   False
2020-11-09 21:45:00  False   True   True  False  False    False   False
2020-11-09 22:45:00   True  False  False  False  False    False   False
2020-11-09 23:45:00  False   True   True  False  False    False   False

In [96]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.000000  0.105592  5  0.0      0.0  1.000000
2020-11-09 15:45:00  0.000000  0.000000  0.000000  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.746219  0.000000  0.000000  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.000000  1.805456  0.337560  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.194740  0.000000  0.110958  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.000000  0.949836  0.000000  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.000000  0.000000  0.000000  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.156389  0.000000  0.000000  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.000000  0.099569  1.362541  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.242547  0.000000  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [97]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN       NaN  0.105592  5  NaN      NaN  1.000000
2020-11-09 15:45:00       NaN       NaN  0.105592  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.746219       NaN  0.105592  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.746219  1.805456  0.337560  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.194740  1.805456  0.110958  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.194740  0.949836  0.110958  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.194740  0.949836  0.110958  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.156389  0.949836  0.110958  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.156389  0.099569  1.362541  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.242547  0.099569  1.362541  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [99]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')
df

A         -0.406959
B         -0.000657
C         -0.407930
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    0.810098
2020-11-09 15:45:00    0.946361
2020-11-09 16:45:00    1.440232
2020-11-09 17:45:00    2.001571
2020-11-09 18:45:00    2.302766
2020-11-09 19:45:00    2.257815
2020-11-09 20:45:00    2.497860
2020-11-09 21:45:00    3.304322
2020-11-09 22:45:00    3.825527
2020-11-09 23:45:00    4.089690
Freq: H, dtype: float64

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.434904  0.105592  5  0.0        0  1.000000
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  5  0.5        2  0.999962
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711  5  1.0        4  0.999848
2020-11-09 17:45:00 -1.631677  1.805456  0.337560  5  1.5        6  0.999657
2020-11-09 18:45:00  0.194740 -0.185725  0.110958  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  5  2.5       10  0.999048
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  5  3.0       12  0.998630
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  5  4.0       16  0.997564
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639  5  4.5       18  0.996917

In [100]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.434904  0.105592   5   0.0        0  1.000000
2020-11-09 15:45:00 -0.515454 -1.297602 -0.391689  10   0.5        2  1.999962
2020-11-09 16:45:00  0.230765 -1.423336 -1.930401  15   1.5        6  2.999810
2020-11-09 17:45:00 -1.400912  0.382119 -1.592841  20   3.0       12  3.999467
2020-11-09 18:45:00 -1.206172  0.196394 -1.481883  25   5.0       20  4.998858
2020-11-09 19:45:00 -2.479686  1.146230 -3.852549  30   7.5       30  5.997906
2020-11-09 20:45:00 -3.787546  0.246210 -5.158279  35  10.5       42  6.996536
2020-11-09 21:45:00 -3.631157 -0.098138 -5.338201  40  14.0       56  7.994670
2020-11-09 22:45:00 -4.312141  0.001430 -3.975660  45  18.0       72  8.992234
2020-11-09 23:45:00 -4.069594 -0.006568 -4.079298  50  22.5       90  9.989152

In [101]:
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.434904  0.105592  5  0.0        0  1.000000
2020-11-09 15:45:00 -0.515454 -0.862698 -0.497281  5  0.5        2  0.999962
2020-11-09 16:45:00  0.746219 -0.125734 -1.538711  5  1.0        4  0.999848
2020-11-09 17:45:00 -1.631677  1.805456  0.337560  5  1.5        6  0.999657
2020-11-09 18:45:00  0.194740 -0.185725  0.110958  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.273513  0.949836 -2.370666  5  2.5       10  0.999048
2020-11-09 20:45:00 -1.307860 -0.900020 -1.305731  5  3.0       12  0.998630
2020-11-09 21:45:00  0.156389 -0.344348 -0.179921  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.680984  0.099569  1.362541  5  4.0       16  0.997564
2020-11-09 23:45:00  0.242547 -0.007998 -0.103639  5  4.5       18  0.996917

In [102]:
df.apply(lambda x: x.max() - x.min())

A           2.377895
B           2.705476
C           3.733207
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [103]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2020-11-09 14:45:00   -0.434904
2020-11-09 15:45:00   -1.378152
2020-11-09 16:45:00    0.620484
2020-11-09 17:45:00    0.173779
2020-11-09 18:45:00    0.009015
2020-11-09 19:45:00   -0.323678
2020-11-09 20:45:00   -2.207880
2020-11-09 21:45:00   -0.187959
2020-11-09 22:45:00   -0.581415
2020-11-09 23:45:00    0.234549
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [105]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

--2020-11-09 15:59:43--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.69.1, 2620:100:6025:1::a27d:4501
Connecting to www.dropbox.com (www.dropbox.com)|162.125.69.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2020-11-09 15:59:44--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com/cd/0/inline/BC7GLc7Lx3nzg7zER_eY01aWYfhgN_7v-khpNSlmS0FQYFRpCkPZUi5bv75QuXSFONF-GatRtOYDZd0CEBMNAgTmcIpXt-QrDpk8pI8-biB7KZO8AnPoQeBP8jUwPvsmGEw/file# [following]
--2020-11-09 15:59:44--  https://uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com/cd/0/inline/BC7GLc7Lx3nzg7zER_eY01aWYfhgN_7v-khpNSlmS0FQYFRpCkPZUi5bv75QuXSFONF-GatRtOYDZd0CEBMNAgTmcIpXt-QrDpk8pI8-biB7KZO8AnPoQeBP8jUwPvsmGEw/file
Resolving uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com (uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com)... 162.125.69.15, 2620:100:6025:15::a27d:450f
Connecting to uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com (uc2bf07f112d2f4c30ca966ff481.dl.dropboxusercontent.com)|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: ‘/home/neo/data/data_000637.txt.1’

data_000637.txt.1   100%[===================>]  31.64M  1.15MB/s    in 28s

2020-11-09 16:00:13 (1.12 MB/s) - ‘/home/neo/data/data_000637.txt.1’ saved [33179236/33179236]

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xdb in position 0: invalid continuation byte

Let's now do some operations among (elements of) columns

In [106]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

NameError: name 'data' is not defined

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [107]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0  0.671773  0.682947  0.552073 -1.272974
1  1.207047  0.764163 -0.429002 -2.049952
2  0.856388 -1.195881 -2.006825  1.681666
3  1.633599 -2.116407  0.488679  1.002334
4 -1.788028 -1.316663  0.486757 -0.514412
5  0.416619 -0.778705 -1.540630  1.675126
6 -0.133632  0.685508  0.209193  0.133641
7  0.902786 -0.333941 -0.222444 -0.149848
8  0.069939  0.215476  1.113559  0.544881
9 -0.139048  2.298773  0.832984 -2.635130

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')