# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [9]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [10]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [11]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [12]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [13]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    1.217971
b    0.810291
c    0.654230
d   -1.853778
e   -0.285197
dtype: float64
a         NaN
b    1.620581
c    1.308460
d   -3.707556
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [14]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-10
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [15]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [16]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-11-9':'2020-11-11'], '\n') # Note - includes end time

2020-09-11 14:45:00    10.521526
2020-09-12 14:45:00    10.629055
2020-09-13 14:45:00    10.065683
2020-09-14 14:45:00    10.332129
Freq: D, dtype: float64

Series([], Freq: D, dtype: float64)

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [17]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [18]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2020-11-09 14:45:00 -1.188857 -1.725575 -0.555104  0.700103
2020-11-09 15:45:00  1.520583  0.557920  0.815599  1.472590
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  2.339969
2020-11-09 17:45:00  0.790946 -0.595704 -1.189357  0.809138
2020-11-09 18:45:00  1.751363  2.790302 -0.767250  2.375252
2020-11-09 19:45:00 -1.593051 -0.469726  0.060661  0.495177
2020-11-09 20:45:00  1.134519 -1.079502  1.338322 -0.695744
2020-11-09 21:45:00  0.905063  0.111188 -0.319909 -1.411884
2020-11-09 22:45:00 -1.131880  0.561689 -0.914100 -2.666007
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086 -0.307919

or by means of a dictionary:

In [19]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [20]:
df.head()

                            A         B         C         D
2020-11-09 14:45:00 -1.188857 -1.725575 -0.555104  0.700103
2020-11-09 15:45:00  1.520583  0.557920  0.815599  1.472590
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  2.339969
2020-11-09 17:45:00  0.790946 -0.595704 -1.189357  0.809138
2020-11-09 18:45:00  1.751363  2.790302 -0.767250  2.375252

In [21]:
df.tail(4)

                            A         B         C         D
2020-11-09 20:45:00  1.134519 -1.079502  1.338322 -0.695744
2020-11-09 21:45:00  0.905063  0.111188 -0.319909 -1.411884
2020-11-09 22:45:00 -1.131880  0.561689 -0.914100 -2.666007
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086 -0.307919

In [22]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [23]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
df.values

array([[-1.18885701, -1.72557481, -0.55510394,  0.70010253],
       [ 1.52058259,  0.55792049,  0.81559937,  1.47259016],
       [ 1.06911668,  0.37222222, -0.57808497,  2.33996878],
       [ 0.79094564, -0.59570396, -1.18935677,  0.80913849],
       [ 1.75136294,  2.79030223, -0.76725049,  2.37525231],
       [-1.59305099, -0.46972589,  0.06066087,  0.49517708],
       [ 1.13451947, -1.07950246,  1.33832173, -0.69574373],
       [ 0.90506294,  0.11118769, -0.31990892, -1.41188364],
       [-1.13188021,  0.56168944, -0.91410046, -2.66600746],
       [-1.04495006, -0.06674215, -0.91508574, -0.30791851]])

In [25]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.221285   0.045607  -0.302431   0.311068
std     1.294815   1.214064   0.814194   1.612042
min    -1.593051  -1.725575  -1.189357  -2.666007
25%    -1.110148  -0.564209  -0.877388  -0.598787
50%     0.848004   0.022223  -0.566594   0.597640
75%     1.118169   0.511496  -0.034482   1.306727
max     1.751363   2.790302   1.338322   2.375252

In [26]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,-1.188857,1.520583,1.069117,0.790946,1.751363,-1.593051,1.134519,0.905063,-1.131880,-1.044950
B,-1.725575,0.557920,0.372222,-0.595704,2.790302,-0.469726,-1.079502,0.111188,0.561689,-0.066742
C,-0.555104,0.815599,-0.578085,-1.189357,-0.767250,0.060661,1.338322,-0.319909,-0.914100,-0.915086
D,0.700103,1.472590,2.339969,0.809138,2.375252,0.495177,-0.695744,-1.411884,-2.666007,-0.307919

In [27]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00  0.700103 -0.555104 -1.725575 -1.188857
2020-11-09 15:45:00  1.472590  0.815599  0.557920  1.520583
2020-11-09 16:45:00  2.339969 -0.578085  0.372222  1.069117
2020-11-09 17:45:00  0.809138 -1.189357 -0.595704  0.790946
2020-11-09 18:45:00  2.375252 -0.767250  2.790302  1.751363
2020-11-09 19:45:00  0.495177  0.060661 -0.469726 -1.593051
2020-11-09 20:45:00 -0.695744  1.338322 -1.079502  1.134519
2020-11-09 21:45:00 -1.411884 -0.319909  0.111188  0.905063
2020-11-09 22:45:00 -2.666007 -0.914100  0.561689 -1.131880
2020-11-09 23:45:00 -0.307919 -0.915086 -0.066742 -1.044950

In [28]:
df.sort_values(by="C")

                            A         B         C         D
2020-11-09 17:45:00  0.790946 -0.595704 -1.189357  0.809138
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086 -0.307919
2020-11-09 22:45:00 -1.131880  0.561689 -0.914100 -2.666007
2020-11-09 18:45:00  1.751363  2.790302 -0.767250  2.375252
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  2.339969
2020-11-09 14:45:00 -1.188857 -1.725575 -0.555104  0.700103
2020-11-09 21:45:00  0.905063  0.111188 -0.319909 -1.411884
2020-11-09 19:45:00 -1.593051 -0.469726  0.060661  0.495177
2020-11-09 15:45:00  1.520583  0.557920  0.815599  1.472590
2020-11-09 20:45:00  1.134519 -1.079502  1.338322 -0.695744

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [29]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00   -1.188857
2020-11-09 15:45:00    1.520583
2020-11-09 16:45:00    1.069117
2020-11-09 17:45:00    0.790946
2020-11-09 18:45:00    1.751363
2020-11-09 19:45:00   -1.593051
2020-11-09 20:45:00    1.134519
2020-11-09 21:45:00    0.905063
2020-11-09 22:45:00   -1.131880
2020-11-09 23:45:00   -1.044950
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00   -1.188857
2020-11-09 15:45:00    1.520583
2020-11-09 16:45:00    1.069117
2020-11-09 17:45:00    0.790946
2020-11-09 18:45:00    1.751363
2020-11-09 19:45:00   -1.593051
2020-11-09 20:45:00    1.134519
2020-11-09 21:45:00    0.905063
2020-11-09 22:45:00   -1.131880
2020-11-09 23:45:00   -1.044950
Freq: H, Name: A, dtype: float64

In [30]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])

                            A         B         C         D
2020-11-09 14:45:00 -1.188857 -1.725575 -0.555104  0.700103
2020-11-09 15:45:00  1.520583  0.557920  0.815599  1.472590
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  2.339969
                            A         B         C         D
2020-11-09 14:45:00 -1.188857 -1.725575 -0.555104  0.700103
2020-11-09 15:45:00  1.520583  0.557920  0.815599  1.472590
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  2.339969

### Selection by label

In [31]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A   -1.188857
B   -1.725575
C   -0.555104
D    0.700103
Name: 2020-11-09 14:45:00, dtype: float64

In [32]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2020-11-09 14:45:00 -1.188857 -1.725575
2020-11-09 15:45:00  1.520583  0.557920
2020-11-09 16:45:00  1.069117  0.372222
2020-11-09 17:45:00  0.790946 -0.595704
2020-11-09 18:45:00  1.751363  2.790302
2020-11-09 19:45:00 -1.593051 -0.469726
2020-11-09 20:45:00  1.134519 -1.079502
2020-11-09 21:45:00  0.905063  0.111188
2020-11-09 22:45:00 -1.131880  0.561689
2020-11-09 23:45:00 -1.044950 -0.066742

In [33]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00  1.751363  2.790302
2020-11-09 19:45:00 -1.593051 -0.469726
2020-11-09 20:45:00  1.134519 -1.079502

In [34]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

1.5205825926846483
1.5205825926846483

### Selecting by position

In [35]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.790946
B   -0.595704
C   -1.189357
D    0.809138
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00  0.790946 -0.595704
2020-11-09 18:45:00  1.751363  2.790302

In [36]:
# selecting rows 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00  1.520583  0.815599
2020-11-09 16:45:00  1.069117 -0.578085
2020-11-09 18:45:00  1.751363 -0.767250

In [37]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2020-11-09 15:45:00  1.520583  0.557920  0.815599  1.472590
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  2.339969

                            B         C
2020-11-09 14:45:00 -1.725575 -0.555104
2020-11-09 15:45:00  0.557920  0.815599
2020-11-09 16:45:00  0.372222 -0.578085
2020-11-09 17:45:00 -0.595704 -1.189357
2020-11-09 18:45:00  2.790302 -0.767250
2020-11-09 19:45:00 -0.469726  0.060661
2020-11-09 20:45:00 -1.079502  1.338322
2020-11-09 21:45:00  0.111188 -0.319909
2020-11-09 22:45:00  0.561689 -0.914100
2020-11-09 23:45:00 -0.066742 -0.915086

In [38]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

0.5579204902187127

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [39]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 15:45:00  1.520583  0.557920  0.815599  1.472590
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  2.339969
2020-11-09 18:45:00  1.751363  2.790302 -0.767250  2.375252
2020-11-09 21:45:00  0.905063  0.111188 -0.319909 -1.411884
2020-11-09 22:45:00 -1.131880  0.561689 -0.914100 -2.666007

In [40]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00       NaN       NaN       NaN  0.700103
2020-11-09 15:45:00  1.520583  0.557920  0.815599  1.472590
2020-11-09 16:45:00  1.069117  0.372222       NaN  2.339969
2020-11-09 17:45:00  0.790946       NaN       NaN  0.809138
2020-11-09 18:45:00  1.751363  2.790302       NaN  2.375252
2020-11-09 19:45:00       NaN       NaN  0.060661  0.495177
2020-11-09 20:45:00  1.134519       NaN  1.338322       NaN
2020-11-09 21:45:00  0.905063  0.111188       NaN       NaN
2020-11-09 22:45:00       NaN  0.561689       NaN       NaN
2020-11-09 23:45:00       NaN       NaN       NaN       NaN

### Setting

Combination of selection and setting of values

In [41]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [42]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -1.725575 -0.555104  5  0.0        0  1.000000
2020-11-09 15:45:00  1.520583  0.557920  0.815599  5  0.5        2  0.999962
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  5  1.0        4  0.999848
2020-11-09 17:45:00  0.790946 -0.595704 -1.189357  5  1.5        6  0.999657
2020-11-09 18:45:00  1.751363  2.790302 -0.767250  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.593051 -0.469726  0.060661  5  2.5       10  0.999048
2020-11-09 20:45:00  1.134519 -1.079502  1.338322  5  3.0       12  0.998630
2020-11-09 21:45:00  0.905063  0.111188 -0.319909  5  3.5       14  0.998135
2020-11-09 22:45:00 -1.131880  0.561689 -0.914100  5  4.0       16  0.997564
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086  5  4.5       18  0.996917

In [43]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -1.725575 -0.555104 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -1.520583 -0.557920 -0.815599 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -1.069117 -0.372222 -0.578085 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -0.790946 -0.595704 -1.189357 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -1.751363 -2.790302 -0.767250 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -1.593051 -0.469726 -0.060661 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -1.134519 -1.079502 -1.338322 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -0.905063 -0.111188 -0.319909 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -1.131880 -0.561689 -0.914100 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [44]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2020-11-09 14:45:00  0.000000 -1.725575 -0.555104  5  0.0  1.000000
2020-11-09 15:45:00  1.520583  0.557920  0.815599  5  0.5  0.999962
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  5  1.0  0.999848
2020-11-09 17:45:00  0.790946 -0.595704 -1.189357  5  1.5  0.999657
2020-11-09 18:45:00  1.751363  2.790302 -0.767250  5  2.0  0.999391
2020-11-09 19:45:00 -1.593051 -0.469726  0.060661  5  2.5  0.999048
2020-11-09 20:45:00  1.134519 -1.079502  1.338322  5  3.0  0.998630
2020-11-09 21:45:00  0.905063  0.111188 -0.319909  5  3.5  0.998135
2020-11-09 22:45:00 -1.131880  0.561689 -0.914100  5  4.0  0.997564
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086  5  4.5  0.996917

In [45]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -1.725575 -0.555104  5  0.0        0  1.000000
2020-11-09 19:45:00 -1.593051 -0.469726  0.060661  5  2.5       10  0.999048
2020-11-09 20:45:00  1.134519 -1.079502  1.338322  5  3.0       12  0.998630
2020-11-09 21:45:00  0.905063  0.111188 -0.319909  5  3.5       14  0.998135
2020-11-09 22:45:00 -1.131880  0.561689 -0.914100  5  4.0       16  0.997564
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086  5  4.5       18  0.996917

In [46]:
# something like df.drop('index_name') 
# would work but the type of index must be specified, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -1.725575 -0.555104  5  0.0        0  1.000000
2020-11-09 15:45:00  1.520583  0.557920  0.815599  5  0.5        2  0.999962
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  5  1.0        4  0.999848
2020-11-09 17:45:00  0.790946 -0.595704 -1.189357  5  1.5        6  0.999657
2020-11-09 18:45:00  1.751363  2.790302 -0.767250  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.593051 -0.469726  0.060661  5  2.5       10  0.999048
2020-11-09 20:45:00  1.134519 -1.079502  1.338322  5  3.0       12  0.998630
2020-11-09 21:45:00  0.905063  0.111188 -0.319909  5  3.5       14  0.998135
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [47]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN       NaN       NaN  5  NaN      NaN  1.000000
2020-11-09 15:45:00  1.520583  0.557920  0.815599  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.069117  0.372222       NaN  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.790946       NaN       NaN  5  1.5      6.0  0.999657
2020-11-09 18:45:00  1.751363  2.790302       NaN  5  2.0      8.0  0.999391
2020-11-09 19:45:00       NaN       NaN  0.060661  5  2.5     10.0  0.999048
2020-11-09 20:45:00  1.134519       NaN  1.338322  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.905063  0.111188       NaN  5  3.5     14.0  0.998135
2020-11-09 22:45:00       NaN  0.561689       NaN  5  4.0     16.0  0.997564
2020-11-09 23:45:00       NaN       NaN       NaN  5  4.5     18.0  0.996917

In [48]:
# dropping rows with at least a Nan
df_wNan.dropna(how='any')

                            A        B         C  D    E  E prime    cosine
2020-11-09 15:45:00  1.520583  0.55792  0.815599  5  0.5      2.0  0.999962

In [49]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True   True   True  False   True     True   False
2020-11-09 15:45:00  False  False  False  False  False    False   False
2020-11-09 16:45:00  False  False   True  False  False    False   False
2020-11-09 17:45:00  False   True   True  False  False    False   False
2020-11-09 18:45:00  False  False   True  False  False    False   False
2020-11-09 19:45:00   True   True  False  False  False    False   False
2020-11-09 20:45:00  False   True  False  False  False    False   False
2020-11-09 21:45:00  False  False   True  False  False    False   False
2020-11-09 22:45:00   True  False   True  False  False    False   False
2020-11-09 23:45:00   True   True   True  False  False    False   False

In [50]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.000000  0.000000  5  0.0      0.0  1.000000
2020-11-09 15:45:00  1.520583  0.557920  0.815599  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.069117  0.372222  0.000000  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.790946  0.000000  0.000000  5  1.5      6.0  0.999657
2020-11-09 18:45:00  1.751363  2.790302  0.000000  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.000000  0.000000  0.060661  5  2.5     10.0  0.999048
2020-11-09 20:45:00  1.134519  0.000000  1.338322  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.905063  0.111188  0.000000  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.000000  0.561689  0.000000  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.000000  0.000000  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [51]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN       NaN       NaN  5  NaN      NaN  1.000000
2020-11-09 15:45:00  1.520583  0.557920  0.815599  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.069117  0.372222  0.815599  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.790946  0.372222  0.815599  5  1.5      6.0  0.999657
2020-11-09 18:45:00  1.751363  2.790302  0.815599  5  2.0      8.0  0.999391
2020-11-09 19:45:00  1.751363  2.790302  0.060661  5  2.5     10.0  0.999048
2020-11-09 20:45:00  1.134519  2.790302  1.338322  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.905063  0.111188  1.338322  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.905063  0.561689  1.338322  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.905063  0.561689  1.338322  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [52]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.340171
B          0.045607
C         -0.302431
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    0.531332
2020-11-09 15:45:00    1.627723
2020-11-09 16:45:00    1.694729
2020-11-09 17:45:00    1.786506
2020-11-09 18:45:00    2.824829
2020-11-09 19:45:00    2.356705
2020-11-09 20:45:00    3.198853
2020-11-09 21:45:00    3.456354
2020-11-09 22:45:00    3.501896
2020-11-09 23:45:00    3.781448
Freq: H, dtype: float64

In [53]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2020-11-09 14:45:00  0.000000 -1.725575 -0.555104   5   0.0        0  1.000000
2020-11-09 15:45:00  1.520583 -1.167654  0.260495  10   0.5        2  1.999962
2020-11-09 16:45:00  2.589699 -0.795432 -0.317590  15   1.5        6  2.999810
2020-11-09 17:45:00  3.380645 -1.391136 -1.506946  20   3.0       12  3.999467
2020-11-09 18:45:00  5.132008  1.399166 -2.274197  25   5.0       20  4.998858
2020-11-09 19:45:00  3.538957  0.929440 -2.213536  30   7.5       30  5.997906
2020-11-09 20:45:00  4.673476 -0.150062 -0.875214  35  10.5       42  6.996536
2020-11-09 21:45:00  5.578539 -0.038874 -1.195123  40  14.0       56  7.994670
2020-11-09 22:45:00  4.446659  0.522815 -2.109224  45  18.0       72  8.992234
2020-11-09 23:45:00  3.401709  0.456073 -3.024309  50  22.5       90  9.989152

In [54]:
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -1.725575 -0.555104  5  0.0        0  1.000000
2020-11-09 15:45:00  1.520583  0.557920  0.815599  5  0.5        2  0.999962
2020-11-09 16:45:00  1.069117  0.372222 -0.578085  5  1.0        4  0.999848
2020-11-09 17:45:00  0.790946 -0.595704 -1.189357  5  1.5        6  0.999657
2020-11-09 18:45:00  1.751363  2.790302 -0.767250  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.593051 -0.469726  0.060661  5  2.5       10  0.999048
2020-11-09 20:45:00  1.134519 -1.079502  1.338322  5  3.0       12  0.998630
2020-11-09 21:45:00  0.905063  0.111188 -0.319909  5  3.5       14  0.998135
2020-11-09 22:45:00 -1.131880  0.561689 -0.914100  5  4.0       16  0.997564
2020-11-09 23:45:00 -1.044950 -0.066742 -0.915086  5  4.5       18  0.996917

In [55]:
df.apply(lambda x: x.max() - x.min())

A           3.344414
B           4.515877
C           2.527679
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [56]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2020-11-09 14:45:00   -1.725575
2020-11-09 15:45:00    2.078503
2020-11-09 16:45:00    1.441339
2020-11-09 17:45:00    0.195242
2020-11-09 18:45:00    4.541665
2020-11-09 19:45:00   -2.062777
2020-11-09 20:45:00    0.055017
2020-11-09 21:45:00    1.016251
2020-11-09 22:45:00   -0.570191
2020-11-09 23:45:00   -1.111692
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [57]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\ma_gi/data/data_000637.txt'

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')