In [1]:
import numpy as np
import pandas as pd
file_name="/home/ahmed/data/data_000637.txt"
data=pd.read_csv(file_name)
df =data[:15000]
df

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0         1     0          123  3869200167        2374        26
1         1     0          124  3869200167        2374        27
2         1     0           63  3869200167        2553        28
3         1     0           64  3869200167        2558        19
4         1     0           64  3869200167        2760        25
5         1     0           63  3869200167        2762         4
6         1     0           61  3869200167        2772        14
7         1     0          139  3869200167        2776         0
8         1     0           62  3869200167        2774        21
9         1     0           60  3869200167        2788         7
10        1     1            7  3869200167        2785         4
11        1     0           64  3869200167        2786        19
12        1     1            6  3869200167        2792        18
13        1     0           36  3869200167        2791        23
14        1     0           56  3869200167        2789         3
15        1     1          139  3869200167        2797         0
16        1     1            8  3869200167        2787        14
17        1     0           63  3869200167        2790        10
18        1     1            5  3869200167        2795         4
19        1     0           53  3869200167        2796        26
20        1     1           10  3869200167        2789        14
21        1     0           57  3869200167        2789        10
22        1     0           61  3869200167        2790        23
23        1     0           38  3869200167        2799        15
24        1     0           58  3869200167        2795        19
25        1     0           62  3869200167        2797        14
26        1     0           59  3869200167        2799        14
27        1     0           59  3869200167        3081        21
28        1     0           61  3869200167        3081         1
29        1     0           60  3869200167        3083        20
...     ...   ...          ...         ...         ...       ...
14970     1     0          139  3869200316        1001         0
14971     1     0          124  3869200316         999        22
14972     1     0           59  3869200316        1027        13
14973     1     1            4  3869200316        1028        11
14974     1     0           60  3869200316        1026         6
14975     1     0           63  3869200316        2743        18
14976     1     0           64  3869200316        2753        14
14977     1     0           61  3869200316        2754        23
14978     1     1           23  3869200316        2814         8
14979     1     0           60  3869200316        3077        25
14980     1     1            1  3869200316        3076        17
14981     1     1            2  3869200316        3085        27
14982     1     0           58  3869200316        3090         5
14983     1     0           62  3869200316        3375        27
14984     1     0           59  3869200316        3382         5
14985     1     0          139  3869200316        3389         0
14986     1     0           61  3869200316        3380        26
14987     1     1            5  3869200316        3390         7
14988     1     0           60  3869200316        3387        23
14989     1     1          139  3869200316        3398         0
14990     1     1           18  3869200316        3387        22
14991     1     0           64  3869200316        3387        18
14992     1     1            6  3869200316        3389        24
14993     1     1           16  3869200316        3396        14
14994     1     1           19  3869200316        3396        11
14995     1     1            4  3869200316        3399         9
14996     1     1           17  3869200316        3400        15
14997     1     1           10  3869200316        3530        16
14998     1     1            8  3869200316        3533        18
14999     1     0          139  3869200316        3539         0

[15000 rows x 6 columns]

In [2]:
dff=df.loc[:,['ORBIT_CNT','BX_COUNTER']] 
x=np.max(dff['BX_COUNTER'])-np.min(dff['BX_COUNTER'])
print 'x =',x

x = 3563

In [3]:
time = (np.max(df['ORBIT_CNT'])-np.min(df['ORBIT_CNT']))*x*25
print 'time in ns =',time,'+-25 ns'

time in ns = 13272175 +-25 ns

In [4]:
from __future__ import division 
dff=((df['ORBIT_CNT']-np.min(df['ORBIT_CNT']))*x+df['BX_COUNTER']*25+df['TDC_MEAS']*25/30)
dff

0         59371.666667
1         59372.500000
2         63848.333333
3         63965.833333
4         69020.833333
5         69053.333333
6         69311.666667
7         69400.000000
8         69367.500000
9         69705.833333
10        69628.333333
11        69665.833333
12        69815.000000
13        69794.166667
14        69727.500000
15        69925.000000
16        69686.666667
17        69758.333333
18        69878.333333
19        69921.666667
20        69736.666667
21        69733.333333
22        69769.166667
23        69987.500000
24        69890.833333
25        69936.666667
26        69986.666667
27        77042.500000
28        77025.833333
29        77091.666667
             ...
14970    555912.000000
14971    555880.333333
14972    556572.833333
14973    556596.166667
14974    556542.000000
14975    599477.000000
14976    599723.666667
14977    599756.166667
14978    601243.666667
14979    607832.833333
14980    607801.166667
14981    608034.500000
14982    608141.166667
14983    615284.500000
14984    615441.166667
14985    615612.000000
14986    615408.666667
14987    615642.833333
14988    615581.166667
14989    615837.000000
14990    615580.333333
14991    615577.000000
14992    615632.000000
14993    615798.666667
14994    615796.166667
14995    615869.500000
14996    615899.500000
14997    619150.333333
14998    619227.000000
14999    619362.000000
Length: 15000, dtype: float64

In [5]:
frames =[df,dff]
result = pd.concat([df, dff], axis=1, join='inner')

In [6]:
import numpy.random as npr

k=npr.randint(0,2,len(df))
result['HEAD']=result['HEAD']*k
result

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,0
0,0,0,123,3869200167,2374,26,59371.666667
1,1,0,124,3869200167,2374,27,59372.500000
2,1,0,63,3869200167,2553,28,63848.333333
3,1,0,64,3869200167,2558,19,63965.833333
4,0,0,64,3869200167,2760,25,69020.833333
5,0,0,63,3869200167,2762,4,69053.333333
6,1,0,61,3869200167,2772,14,69311.666667
7,0,0,139,3869200167,2776,0,69400.000000
8,0,0,62,3869200167,2774,21,69367.500000
9,1,0,60,3869200167,2788,7,69705.833333
10,0,1,7,3869200167,2785,4,69628.333333
11,0,0,64,3869200167,2786,19,69665.833333
12,1,1,6,3869200167,2792,18,69815.000000
13,0,0,36,3869200167,2791,23,69794.166667
14,1,0,56,3869200167,2789,3,69727.500000
15,0,1,139,3869200167,2797,0,69925.000000
16,0,1,8,3869200167,2787,14,69686.666667
17,0,0,63,3869200167,2790,10,69758.333333
18,1,1,5,3869200167,2795,4,69878.333333
19,0,0,53,3869200167,2796,26,69921.666667
20,1,1,10,3869200167,2789,14,69736.666667
21,0,0,57,3869200167,2789,10,69733.333333
22,1,0,61,3869200167,2790,23,69769.166667
23,0,0,38,3869200167,2799,15,69987.500000
24,0,0,58,3869200167,2795,19,69890.833333
25,1,0,62,3869200167,2797,14,69936.666667
26,0,0,59,3869200167,2799,14,69986.666667
27,1,0,59,3869200167,3081,21,77042.500000
28,1,0,61,3869200167,3081,1,77025.833333
29,1,0,60,3869200167,3083,20,77091.666667
...,...,...,...,...,...,...,...
14970,0,0,139,3869200316,1001,0,555912.000000
14971,0,0,124,3869200316,999,22,555880.333333
14972,1,0,59,3869200316,1027,13,556572.833333
14973,0,1,4,3869200316,1028,11,556596.166667
14974,1,0,60,3869200316,1026,6,556542.000000
14975,0,0,63,3869200316,2743,18,599477.000000
14976,0,0,64,3869200316,2753,14,599723.666667
14977,0,0,61,3869200316,2754,23,599756.166667
14978,1,1,23,3869200316,2814,8,601243.666667
14979,1,0,60,3869200316,3077,25,607832.833333
14980,1,1,1,3869200316,3076,17,607801.166667
14981,0,1,2,3869200316,3085,27,608034.500000
14982,1,0,58,3869200316,3090,5,608141.166667
14983,0,0,62,3869200316,3375,27,615284.500000
14984,0,0,59,3869200316,3382,5,615441.166667
14985,1,0,139,3869200316,3389,0,615612.000000
14986,0,0,61,3869200316,3380,26,615408.666667
14987,0,1,5,3869200316,3390,7,615642.833333
14988,0,0,60,3869200316,3387,23,615581.166667
14989,1,1,139,3869200316,3398,0,615837.000000
14990,0,1,18,3869200316,3387,22,615580.333333
14991,0,0,64,3869200316,3387,18,615577.000000
14992,1,1,6,3869200316,3389,24,615632.000000
14993,1,1,16,3869200316,3396,14,615798.666667
14994,1,1,19,3869200316,3396,11,615796.166667
14995,1,1,4,3869200316,3399,9,615869.500000
14996,0,1,17,3869200316,3400,15,615899.500000
14997,1,1,10,3869200316,3530,16,619150.333333
14998,1,1,8,3869200316,3533,18,619227.000000
14999,1,0,139,3869200316,3539,0,619362.000000

In [7]:
Ne=result[result['HEAD']==1]
Ne

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,0
1,1,0,124,3869200167,2374,27,59372.500000
2,1,0,63,3869200167,2553,28,63848.333333
3,1,0,64,3869200167,2558,19,63965.833333
6,1,0,61,3869200167,2772,14,69311.666667
9,1,0,60,3869200167,2788,7,69705.833333
12,1,1,6,3869200167,2792,18,69815.000000
14,1,0,56,3869200167,2789,3,69727.500000
18,1,1,5,3869200167,2795,4,69878.333333
20,1,1,10,3869200167,2789,14,69736.666667
22,1,0,61,3869200167,2790,23,69769.166667
25,1,0,62,3869200167,2797,14,69936.666667
27,1,0,59,3869200167,3081,21,77042.500000
28,1,0,61,3869200167,3081,1,77025.833333
29,1,0,60,3869200167,3083,20,77091.666667
30,1,0,139,3869200167,3085,0,77125.000000
32,1,0,61,3869200167,3085,25,77145.833333
33,1,0,54,3869200167,3134,4,78353.333333
36,1,0,59,3869200167,3176,8,79406.666667
38,1,0,60,3869200167,3175,17,79389.166667
40,1,0,54,3869200167,3184,28,79623.333333
43,1,1,1,3869200168,7,18,3753.000000
45,1,1,1,3869200168,13,18,3903.000000
46,1,0,63,3869200168,8,28,3786.333333
47,1,1,2,3869200168,17,26,4009.666667
49,1,0,61,3869200168,18,17,4027.166667
51,1,0,61,3869200168,77,26,5509.666667
54,1,1,61,3869200168,260,16,10076.333333
55,1,1,59,3869200168,270,21,10330.500000
56,1,1,139,3869200168,272,0,10363.000000
57,1,1,62,3869200168,263,20,10154.666667
...,...,...,...,...,...,...,...
14945,1,1,8,3869200316,235,26,536783.666667
14946,1,0,59,3869200316,231,26,536683.666667
14947,1,0,62,3869200316,231,1,536662.833333
14949,1,0,47,3869200316,236,26,536808.666667
14950,1,0,54,3869200316,233,21,536729.500000
14951,1,0,56,3869200316,230,17,536651.166667
14952,1,0,63,3869200316,234,27,536759.500000
14955,1,0,51,3869200316,239,17,536876.166667
14956,1,0,139,3869200316,285,0,538012.000000
14957,1,0,60,3869200316,280,14,537898.666667
14960,1,0,58,3869200316,281,14,537923.666667
14961,1,0,64,3869200316,286,22,538055.333333
14964,1,0,62,3869200316,620,10,546395.333333
14966,1,0,16,3869200316,909,13,553622.833333
14969,1,0,62,3869200316,993,18,555727.000000
14972,1,0,59,3869200316,1027,13,556572.833333
14974,1,0,60,3869200316,1026,6,556542.000000
14978,1,1,23,3869200316,2814,8,601243.666667
14979,1,0,60,3869200316,3077,25,607832.833333
14980,1,1,1,3869200316,3076,17,607801.166667
14982,1,0,58,3869200316,3090,5,608141.166667
14985,1,0,139,3869200316,3389,0,615612.000000
14989,1,1,139,3869200316,3398,0,615837.000000
14992,1,1,6,3869200316,3389,24,615632.000000
14993,1,1,16,3869200316,3396,14,615798.666667
14994,1,1,19,3869200316,3396,11,615796.166667
14995,1,1,4,3869200316,3399,9,615869.500000
14997,1,1,10,3869200316,3530,16,619150.333333
14998,1,1,8,3869200316,3533,18,619227.000000
14999,1,0,139,3869200316,3539,0,619362.000000

In [8]:
import matplotlib.pyplot as plt
Ne1 = Ne[Ne['FPGA']==1]
Ne2 = Ne[Ne['FPGA']==0]
Ne1 = Ne1.cumsum()
Ne2 = Ne2.cumsum()


plt.figure(); Ne1.plot(); plt.legend(loc='best')
plt.figure(); Ne2.plot(); plt.legend(loc='best')

In [21]:
Gb=result.groupby('TDC_CHANNEL')
kk=Gb.sum()
kk.apply(lambda x: x.sort_values(ascending=False).head(3))

              HEAD   FPGA     ORBIT_CNT  BX_COUNTER  TDC_MEAS             0
TDC_CHANNEL
1              NaN  338.0           NaN         NaN       NaN           NaN
2              NaN  363.0           NaN         NaN       NaN           NaN
61             NaN    NaN           NaN         NaN    8281.0           NaN
63           358.0    NaN  2.898031e+12   1364359.0   11085.0  2.369135e+08
64           388.0    NaN  2.909639e+12   1394717.0   10889.0  2.400381e+08
139          645.0  389.0  4.906146e+12   2247027.0       NaN  3.897188e+08

In [52]:
print Ne["ORBIT_CNT"].nunique()
print Ne[Ne["TDC_CHANNEL"]==139]["ORBIT_CNT"].nunique()

150
147