## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [1]:
# If you didn't download it yet, please get the relevant file now!
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

--2020-11-10 14:48:20--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.69.1, 2620:100:6025:1::a27d:4501
Connecting to www.dropbox.com (www.dropbox.com)|162.125.69.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2020-11-10 14:48:20--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucabf383b233f79ae4aeff96545e.dl.dropboxusercontent.com/cd/0/inline/BC4MsgBl79WnE_Jgo_EwBiB4Iozlug9TG2T4SZUQZNx1uZzcVEg_gC7zlRPyVaXz0vsQHDS0yLYUhToX-g8-SG0CsbyYeU0lpTmoXwUQVFCbqT0vND5eqttL0enWAJ9yN3Q/file# [following]
--2020-11-10 14:48:20--  https://ucabf383b233f79ae4aeff96545e.dl.dropboxusercontent.com/cd/0/inline/BC4MsgBl79WnE_Jgo_EwBiB4Iozlug9TG2T4SZUQZNx1uZzcVEg_gC7zlRPyVaXz0vsQHDS0yLYUhToX-g8-SG0CsbyYeU0lpTmoXwUQVFCbqT0vND5eqttL0enWAJ9yN3Q/file
Resolving ucabf383b233f79ae4aeff96545e.dl.dropboxusercontent.com (ucabf383b233f79ae4aeff96545e.dl.dropboxusercontent.com)... 162.125.69.15, 2620:100:6025:15::a27d:450f
Connecting to ucabf383b233f79ae4aeff96545e.dl.dropboxusercontent.com (ucabf383b233f79ae4aeff96545e.dl.dropboxusercontent.com)|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: ‘/home/neo/data/data_000637.txt.3’

data_000637.txt.3   100%[===================>]  31.64M  1.26MB/s    in 26s

2020-11-10 14:48:47 (1.23 MB/s) - ‘/home/neo/data/data_000637.txt.3’ saved [33179236/33179236]

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [1]:
# exercise1

import pandas as pd
import numpy as np

file_name = "data_000637.txt"
N = 200
data=pd.read_csv(file_name)
df = pd.DataFrame(data)
df.head(N)

     HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0       1     0          123  3869200167        2374        26
1       1     0          124  3869200167        2374        27
2       1     0           63  3869200167        2553        28
3       1     0           64  3869200167        2558        19
4       1     0           64  3869200167        2760        25
..    ...   ...          ...         ...         ...       ...
195     1     0           61  3869200169        1105        22
196     1     0           62  3869200169        1107        26
197     1     1           14  3869200169        1232        11
198     1     1           12  3869200169        1233        19
199     1     1            2  3869200169        1321        14

[200 rows x 6 columns]

In [5]:
#exercise 2
x = df['BX_COUNTER'].max() + 1
print(x)

3564

In [10]:
#exercise 5

df['HEAD'] = np.random.randint(0,2, size = len(df))
df

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           0     0          123  3869200167        2374        26
1           0     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     0     0           62  3869211171         762        14
1310716     0     1            4  3869211171         763        11
1310717     0     0           64  3869211171         764         0
1310718     0     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

In [11]:
#exercise 6
df_1 = df.loc[df['HEAD'] == 1]
df_1

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
6           1     0           61  3869200167        2772        14
7           1     0          139  3869200167        2776         0
...       ...   ...          ...         ...         ...       ...
1310706     1     0           28  3869211171          44        29
1310709     1     1           38  3869211171         417         8
1310710     1     1           36  3869211171         427        13
1310713     1     0           64  3869211171         758        18
1310719     1     0           61  3869211171         762        18

[655615 rows x 6 columns]

In [13]:
df_new = df.groupby('ORBIT_CNT')
N = df_new.count().shape[0]
print("count of unique orbits:", N)

df_new2 = df.loc[df['TDC_CHANNEL'] == 139] 
df_new2 = df_new2.groupby('ORBIT_CNT')
var = df_new2.count.shape[0]
print(var)

count of unique orbits: 11001

AttributeError: 'function' object has no attribute 'shape'