1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [45]:
n=100
a=[]
for i in range (1,n+1):
    if (i % 3 == 0):
        if (i % 5 ==0): 
            a.insert(i-1,"MickeyMouse")
        else:
            a.insert(i-1,"Mickey")        
    elif (i % 5 ==0):
        if (i % 3 == 0):
            a.insert(i-1,"MickeyMouse")
        else:
            a.insert(i-1,"Mouse")       
    else:
         a.insert(i-1,i)          
print(a) #lista


b=[]
for i in range (1,n+1):
    if (i % 3 == 0):
        if (i % 5 ==0): 
            b.insert(i-1,"DonaldDuck")
        else:
            b.insert(i-1,"Donald")       
    elif (i % 5 == 0):
        if (i % 3 ==0): 
            b.insert(i-1,"DonaldDuck")
        else:
            b.insert(i-1,"Duck")        
    else:
        b.insert(i-1,a[i-1])
        #fino a qui è lista
b=tuple(b)#converto in tupla
print("Questa è una tupla infatti: ",type (b))
print (b)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
Questa è una tupla infatti:  <class 'tuple'>
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [25]:
#a_0=input()
#b_0=input()
#print("inizio","(" ,a_0,"," ,b_0 ,")")
#def scambio(a,b):
#    a_1=b
#    b_1=a
#    return a_1,b_1
#scambio(a_0,b_0)

#without temporary variables
print("First variable")
c_0=input()
print("Second variable")
d_0=input()
print("(" ,c_0,"," ,d_0 ,")")
def scambionuovo(a,b):

    return d_0,c_0

scambionuovo(c_0,d_0)

First variable
1
Second variable
2
( 1 , 2 )

('2', '1')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [37]:
print("Scegli le coordinate del primo vettore")

x1=input()
y1=input()
x_1=float(x1) #converto in float l'input che è una stringa (sempre)
y_1=float(y1)
v= (x_1,y_1)
print("Scegli le coordinate del secondo vettore")
x2=input()
y2=input()
x_2=float(x2)
y_2=float(y2)
u= (x_2,y_2)

d=((x_1-x_2)**2 + (y_1-y_2)**2)**(1/2)
print("La distanza euclidea tra i vettori è : ",d)

Scegli le coordinate del primo vettore
3
0
Scegli le coordinate del secondo vettore
0
4
La distanza euclidea tra i vettori è :  5.0

# 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [93]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
i=0
lst=s.lower()
while i<= len(lst):
    cont=0
    for j in range(0,len(lst)):
        if lst[i] == lst[j]:
            cont+=1
    print(lst[i], "compare", cont, "volte")
    lst=lst.replace(lst[i],"")   
    i+=1

w compare 2 volte
i compare 14 volte
e compare 22 volte
a compare 7 volte
p compare 8 volte
o compare 13 volte
r compare 17 volte
h compare 9 volte
  compare 41 volte
n compare 10 volte
b compare 5 volte
f compare 10 volte
1 compare 2 volte
0 compare 2 volte
u compare 9 volte
l compare 6 volte
s compare 9 volte
c compare 3 volte
y compare 2 volte
d compare 3 volte
m compare 12 volte
t compare 19 volte

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [41]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
cont1=0
for i in range(0,len(l)-1):
    cont=0
    for j in range(0,len(l)-1):         
        if  l[i] == l[j]:
            cont +=1
        
    if cont ==1:
        print(l[i], "E' unico")
        cont1+=1
    else:
        print(l[i])
print("Esistono in totale ",cont1, " numeri unici nella lista")

36
45
58 E' unico
3
74 E' unico
96 E' unico
64 E' unico
45
31
10 E' unico
24 E' unico
19 E' unico
33 E' unico
86 E' unico
99 E' unico
18 E' unico
63
70
85
85
63
47 E' unico
56
42
70
84
88 E' unico
55 E' unico
20
54 E' unico
8 E' unico
56
51
79 E' unico
81 E' unico
57 E' unico
37 E' unico
91
1 E' unico
84
84
36
66
9 E' unico
89
50
42
91
50
95 E' unico
90 E' unico
98 E' unico
39 E' unico
16 E' unico
82 E' unico
31
92 E' unico
41 E' unico
45
30 E' unico
66
70
34
85
94 E' unico
5 E' unico
3
36
72 E' unico
91
84
34
87 E' unico
75 E' unico
53 E' unico
51
20
89
51
Esistono in totale  37  numeri unici nella lista

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [15]:

x_0=input()
print("Il numero inserito è: ",x_0)
x=float(x_0)
def cubo(a):   
    valore_cubo=a**3
    return valore_cubo

def quad (a):
    valore_quad=a**2
    return valore_quad
print("Il quadrato è",quad(x), "mentre il cubo è",cubo(x))

def sesta (a):
    valore_sesta=cubo(quad(a))
    return valore_sesta
print("la potenza sesta è:", sesta(x))

3
Il numero inserito è:  3
Il quadrato è 9.0 mentre il cubo è 27.0
la potenza sesta è: 729.0
729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [2]:
b=[i**3 for i in range(11)]
print(b)

a=[]
for x in range (0,11):
    a.append(x**3)
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [54]:
a=[[3,4,5]]
for i in range (3,100):
    for j in range (4,i):
        for k in range (1,100):
            if i**2 + j**2 ==k**2:
                a.append([i,j,k])
                
             

            

a=tuple(a)
print(type(a))
a

<class 'tuple'>

([3, 4, 5],
 [8, 6, 10],
 [12, 5, 13],
 [12, 9, 15],
 [15, 8, 17],
 [16, 12, 20],
 [20, 15, 25],
 [21, 20, 29],
 [24, 7, 25],
 [24, 10, 26],
 [24, 18, 30],
 [28, 21, 35],
 [30, 16, 34],
 [32, 24, 40],
 [35, 12, 37],
 [36, 15, 39],
 [36, 27, 45],
 [40, 9, 41],
 [40, 30, 50],
 [42, 40, 58],
 [44, 33, 55],
 [45, 24, 51],
 [45, 28, 53],
 [48, 14, 50],
 [48, 20, 52],
 [48, 36, 60],
 [52, 39, 65],
 [55, 48, 73],
 [56, 33, 65],
 [56, 42, 70],
 [60, 11, 61],
 [60, 25, 65],
 [60, 32, 68],
 [60, 45, 75],
 [63, 16, 65],
 [63, 60, 87],
 [64, 48, 80],
 [68, 51, 85],
 [70, 24, 74],
 [72, 21, 75],
 [72, 30, 78],
 [72, 54, 90],
 [72, 65, 97],
 [75, 40, 85],
 [76, 57, 95],
 [77, 36, 85],
 [80, 18, 82],
 [80, 39, 89],
 [84, 13, 85],
 [84, 35, 91])

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [22]:
a=(2,1,1)
mod=0
for i in range(len(a)):
    mod+= a[i]**2
print("La norma del vettore è: ",mod**0.5)
lst=[]
for i in range(len(a)):
    lst.append(a[i]/mod**0.5)
print("tipo lista:",lst)
lst=tuple(lst)
print("tipo", type(lst),", esplicitamente:",lst)

La norma del vettore è:  2.449489742783178
tipo lista: [0.8164965809277261, 0.4082482904638631, 0.4082482904638631]
tipo <class 'tuple'> , esplicitamente: (0.8164965809277261, 0.4082482904638631, 0.4082482904638631)