1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
print("POINT a)")
to_print = list()
for i in range(1, 101):
    string = ""
    if i%3 != 0 and i%5 != 0:
        string = str(i)
    else:
        if i%3 == 0:
            string = string + "Mickey"
        if i%5 == 0:
            string = string + "Mouse"
    to_print.append(string)
print(to_print)

print("\nPOINT b)")
for i in to_print:
    for j,k in enumerate(to_print):
        k = k.replace("Mickey","Donald")
        to_print[j] = k.replace("Mouse","Duck")
to_print = tuple(to_print)
print(to_print)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap(x,y):
    return y,x

a = input("Insert variable a (whatever type) ")
b = "I'm B"
a,b = swap(a,b)
print("\nThe swapped variables are\na:",a,"\tb:",b)

Insert variable a (whatever type) 15

The swapped variables are
a: I'm B 	b: 15

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
def distance(A,B):
    return ( (A[0]-B[0])**2 + (A[1]-B[1])**2 ) ** (1/2)

u = (3,0)
v = (0,4)
print(distance(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

glossary = dict()
for letter in s:
    letter = letter.lower()
    if letter in glossary:
        glossary[letter] += 1
    else:
        glossary[letter] = 1
print(glossary)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

uniques = list()
repeated = list()
for i in range(len(l)):
    is_unique = True
    for k in range(i+1, len(l)):
        if l[i] == l[k]:
            is_unique = False
            repeated.append(l[i])
    if (is_unique and not l[i] in repeated):
        uniques.append(l[i])
print("There are",len(uniques), "uniques number, and they are:")
print(uniques)

There are 37 uniques number, and they are:
[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return cube(square(x))

test = 3
print(square(test), cube(test), sixth(test))

9 27 729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
cubes = list()
for i in range(0, 11):
    cubes.append(cube(i))
print(cubes)

cubes = [cube(i) for i in range(0, 11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
triplets = [(a,b,c) for a in range(3,101) for b in range(a,101) for c in range(b,101) if square(c) == square(a) + square(b)]
print(triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
def normalize(v):
    try:
        norm = (sum((i**2 for i in v)))**(1/2)
        return tuple(i/norm for i in v)
    except:
        print("Impossible to normalize")

v = (1, 3, 4)
print(normalize(v))

(0.19611613513818404, 0.5883484054145521, 0.7844645405527362)