1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [124]:
#code ex1


x = range(1, 101) # range(start,stop,step) - ! stop = stop-1 100=99
n_tup=() #tuple to append, it wants , because it's only one element

for n in x:
    if(n%3==0):
        print("Mickey")
        n_tup = n_tup + (str("Donald"),)
    if(n%5==0):
        print("Mouse")
        n_tup= n_tup + (str("Duck"),)
    if(n%3==0 and n%5==0):
        print("MickeyMouse")
        n_tup= n_tup + (str("MickeyMouse"),)
    if(n%3!=0 and n%5!=0):
        print(n)
        n_tup= n_tup + (n,)
        
print("\n")
print(n_tup)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey
Mouse
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey
Mouse
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey
Mouse
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey
Mouse
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey
Mouse
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey
Mouse
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse


(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald', 'Duck', 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald', 'Duck', 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald', 'Duck', 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald', 'Duck', 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald', 'Duck', 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald', 'Duck', 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [125]:
#code ex 2

#First way with temporary variable
x=5
y=7

def swap(x,y):
    tempvar=x
    x=y
    y=tempvar
    return x,y


print("With a temporary variable: ")
print("Initial variables: ", x,y)
print("Variables after the swap: ", swap(x,y))
print("\n")


#Second way
def swapfunction(x, y): #funtion to swap the variable
    return y, x

x = 3
y = 4

print("Without a temporary variable: ")
print("Initial variables: ", x,y)
print("Variables after the swap: ",swapfunction(x, y))

With a temporary variable:
Initial variables:  5 7
Variables after the swap:  (7, 5)


Without a temporary variable:
Initial variables:  3 4
Variables after the swap:  (4, 3)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [126]:
#code ex 3
utup= (3,0)
vtup= (0,4)

import math

def euclidean(utup, vtup):
    return math.sqrt((utup[0]-vtup[0])**2 + (utup[1]-vtup[1])**2)

print("The euclidean distance between point u =",utup,"and point v =",vtup, "is equal to: ", euclidean(utup,vtup))

The euclidean distance between point u = (3, 0) and point v = (0, 4) is equal to:  5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [127]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [128]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

count = {} #define counter
    
for i in s.lower():  #s.lower -> ignore differences in capitalization 
    if i in count :
        count[i] += 1
    else:
        count[i] = 1

print(str(count))

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [129]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [130]:
#code ex5 

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def prime(n):
    global count
    if n<=1:
        return "np" #np=not prime
    if n<=3:
        count +=1
        return n
    if n>=4:
        for i in range(2, n+1//2):
            if (n % i) ==0:
                return "np" #np=not prime
        else:
            count += 1
            return n

count = 0
newl = [prime(num) for num in l] #can apply the function to each element
print(newl)
print("# prime numbers:" + str(count))

['np', 'np', 'np', 3, 'np', 'np', 'np', 'np', 31, 'np', 'np', 19, 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 47, 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 79, 'np', 'np', 37, 'np', 'np', 'np', 'np', 'np', 'np', 'np', 89, 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 'np', 31, 'np', 41, 'np', 'np', 'np', 'np', 'np', 'np', 'np', 5, 3, 'np', 'np', 'np', 'np', 'np', 'np', 'np', 53, 'np', 'np', 89, 'np', 'np']
# prime numbers:13

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [131]:
#code ex6

def square(n):
    return n*n
def cube(n):
    return n*n*n
def sixth(n):
    return square(n)*cube(n)


n=2 # trial number
print("Square of n=",n,"is: ",square(n))
print("Cube of n=",n, "is: ", cube(n))
print("n=", n, "to the 6th power is: ", sixth(n))

Square of n= 2 is:  4
Cube of n= 2 is:  8
n= 2 to the 6th power is:  32

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [132]:
#code ex7

#mod a with a loop 
a_list=[]
for n in range(0,11):
    a_list.append(n**3)
    
print(a_list)
print("\n")
    
#mod b with a list comprehension
l = [n**3 for n in range(0,11)]
print (l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]


[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [133]:
#code ex 8

import math

for n in range(1, 100):
    if (n**2 + (n+1)**2 > 100):
        break
    for m in range(n+1, 100, 2):
        if (n**2 + m**2 > 100):
            break
        if (math.gcd(n, m) > 1):
            continue
        tup = (m*m - n*n, 2*m*n, m*m + n*n)
        print (tup)

(3, 4, 5)
(15, 8, 17)
(35, 12, 37)
(63, 16, 65)
(5, 12, 13)
(21, 20, 29)
(45, 28, 53)
(77, 36, 85)
(7, 24, 25)
(55, 48, 73)
(9, 40, 41)
(33, 56, 65)
(65, 72, 97)
(11, 60, 61)
(39, 80, 89)
(13, 84, 85)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [134]:
#code ex 9
import math

list = [2,4,8,10,3,6]

def normalize(a):
    amin = min(a)
    amax = max(a)
    for i, val in enumerate(a): #adds counter to an iterable and the returns object is a enume
        a[i] = (val-amin) / (amax-amin)
    return a

print("Tuple of numbers: ", list)
print("Normalized tuple: ", normalize(list))

Tuple of numbers:  [2, 4, 8, 10, 3, 6]
Normalized tuple:  [0.0, 0.25, 0.75, 1.0, 0.125, 0.5]