1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [47]:
x=list()

for i in range(1,101) :#range(100) va da 0 a 99 anziché da 1 a 100
    if i%3 == 0 :
        if i%5 == 0 : x.append("MickeyMouse")
        else : x.append("Mickey")
    elif i%5 == 0 : x.append("Mouse")
    else : x.append(i)
        
print(x)
x2=["MickeyMouse" if i%15 == 0 else "Mickey" if i%3 == 0 else "Mouse" if i%5 == 0 else i for i in range(1,101)]#siccome il primo if in questo modo non penso possa avere un altro if nested credo che bisogni necessariamente fare tre controlli
#print("\n",x2)#vedi https://stackoverflow.com/questions/44636514/python-multiple-nested-ternary-expression
print("\n",x2==x)

y=x
y=["Donald" if i == "Mickey" else i for i in y]#else serve; devo avere una regola "completa" per generare ogni elemento della lista senza ricorrere ad un for esplicito (che è proprio lo scopo della list comprehension)
y=["Duck" if i == "Mouse" else i for i in y]
y=["DonaldDuck" if i == "MickeyMouse" else i for i in y]
y=tuple(y)
print("\n")
print(y)

y2=x
y2=["Donald" if i == "Mickey" else "Duck" if i == "Mouse" else "DonaldDuck" if i == "MickeyMouse" else i for i in y]
y2=tuple(y2)
print("\n",y2==y)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

 True


(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

 True

In [41]:
z=list(range(1,101))
#print(z)
for i in range(1,101) :
    if i%3 == 0 : z[i-1]="Mickey"
    if i%5 == 0 : z[i-1]="MickeyMouse" if type(z[i-1]) == str else "Mouse"#o += o =, non li posso mescolare in quanto devo specificare solo un tipo di assegnazione e cosa assegno nei due casi
    
#print(z)
print(z==x)

a=z
for j,i in enumerate(a) :
    if i == "Mickey" : a[j]="Donald"#per effettuare l'indexing di a serve comunque un "contatore" numerico
    if i == "Mouse" : a[j]="Duck"
    if i == "MickeyMouse" : a[j]="DonaldDuck"
        
a=tuple(a)
#print(a)
print(a==y)

True
True

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [58]:
def swap(x,y) : return y,x

def swap2(x,y) :
    temp=x
    x=y
    y=temp
    return x,y
    
a,b=1,2
print(a,b)
c,d=swap(a,b)
print(c,d)
e,f=swap2(a,b)
print(e,f)

1 2
2 1
2 1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [63]:
import numpy as np

def distance(u,v) :
    if (type(u),type(v))==(tuple,tuple) and (len(u),len(v))==(2,2) :
        return np.sqrt((u[0]-v[0])**2+(u[1]-v[1])**2)
    else :
        print("At least one of the arguments is not a 2-tuple")
        return None
        
def distance_no_checks(u,v) : return np.sqrt((u[0]-v[0])**2+(u[1]-v[1])**2)
        
x=(3,0)
y=(0,4)
d=distance(x,y)
print(d)
d=distance_no_checks(x,y)
print(d)

a=[3,0,1,1,1]
b=[0,4,2,2,2]
d=distance(a,b)
print(d)
d=distance_no_checks(a,b)
print(d)

5.0
5.0
At least one of the arguments is not a 2-tuple
None
5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [68]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s=s.lower().split()
d=dict()

for character in s :
    d[character]=d.get(character,0)+1
    
print(d)

x=sorted([(v,k) for k,v in d.items()],reverse=True)
x=[(k,v) for v,k in x]
print("\n",x)

{'write': 1, 'a': 1, 'program': 1, 'that': 1, 'prints': 1, 'the': 3, 'numbers': 2, 'from': 1, '1': 1, 'to': 1, '100.': 1, 'but': 1, 'for': 3, 'multiples': 3, 'of': 4, 'three': 2, 'print': 3, 'mickey': 1, 'instead': 1, 'number': 1, 'and': 2, 'five': 2, 'mouse.': 1, 'which': 1, 'are': 1, 'both': 1, 'mickeymouse': 1}

 [('of', 4), ('the', 3), ('print', 3), ('multiples', 3), ('for', 3), ('three', 2), ('numbers', 2), ('five', 2), ('and', 2), ('write', 1), ('which', 1), ('to', 1), ('that', 1), ('program', 1), ('prints', 1), ('number', 1), ('mouse.', 1), ('mickeymouse', 1), ('mickey', 1), ('instead', 1), ('from', 1), ('but', 1), ('both', 1), ('are', 1), ('a', 1), ('100.', 1), ('1', 1)]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [72]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

d=dict()

for n in l :
    d[n]=d.get(n,0)+1
    
unique=[x for x,y in d.items() if y==1]
print("there are %d unique numbers"%len(unique))
print("unique numbers:",unique)

there are 37 unique numbers
unique numbers: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one