1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [4]:
for i in range(1,100): print (i)
if i % 3 == 0 && i % 5 ==0:
    print("MickeyMouse")
    elif i % 3 == 0:
        print("Mickey")
        else:
            print("Duck")

SyntaxError: invalid syntax (<ipython-input-4-cfc6d40215f8>, line 4)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [6]:
x = 5
y = 10
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [8]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

print("The original is: " + s)

res = len(s.split())

print("The number of letter is:" + str(res))

The original is: Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse
The number of letter is:42

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [19]:

def unique(l): 
    x = np.array(l) 
    print(np.unique(x)) 
        
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
print("the unique values from 1st list is") 
unique(l)

the unique values from 1st list is

NameError: name 'np' is not defined

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [22]:
X = 3
A = pow(X,2)
B = pow(X,3)
C = A*B*X
print(X,"square =",A)
print(X,"cube =",B)
print(C)

3 square = 9
3 cube = 27
729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [26]:
a = [2,4,10,6,8,4,99,50,0.01,1998,30]
>>> amin, amax = min(a), max(a)
>>> for i, val in enumerate(a):
...     a[i] = (val-amin) / (amax-amin)

In [27]:
a

[0.0009960009809858908,
 0.0019970069920269874,
 0.005000025025150276,
 0.0029980130030680834,
 0.0039990190141091795,
 0.0019970069920269874,
 0.04954479251647906,
 0.0250201452459722,
 0.0,
 1.0,
 0.015010085135561239]