# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [2]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [4]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [5]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    0.059695
b   -1.690548
c    0.115568
d    0.806941
e   -0.091804
dtype: float64
a         NaN
b   -3.381095
c    0.231137
d    1.613882
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [6]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-09
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [7]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [8]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-11-9':'2020-11-11'], '\n') # Note - includes end time

2020-09-11 14:45:00     7.631197
2020-09-12 14:45:00    10.317321
2020-09-13 14:45:00    10.202912
2020-09-14 14:45:00     8.860832
Freq: D, dtype: float64

Series([], Freq: D, dtype: float64)

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [9]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [10]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2020-11-09 14:45:00  0.158752  0.961620 -0.537751 -0.966655
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  0.490684
2020-11-09 16:45:00  1.519918  1.775301 -0.698176 -0.574481
2020-11-09 17:45:00  0.291662 -1.942303 -0.815735 -0.879539
2020-11-09 18:45:00 -1.038869  0.741431 -1.580924  0.351204
2020-11-09 19:45:00  0.681378  0.355366 -0.502682  0.827375
2020-11-09 20:45:00  0.471817  0.720013  0.836488 -0.047980
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  1.164409
2020-11-09 22:45:00 -0.045395 -1.025390 -0.973278 -0.063669
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959  0.772136

or by means of a dictionary:

In [11]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [12]:
df.head()

                            A         B         C         D
2020-11-09 14:45:00  0.158752  0.961620 -0.537751 -0.966655
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  0.490684
2020-11-09 16:45:00  1.519918  1.775301 -0.698176 -0.574481
2020-11-09 17:45:00  0.291662 -1.942303 -0.815735 -0.879539
2020-11-09 18:45:00 -1.038869  0.741431 -1.580924  0.351204

In [13]:
df.tail(4)

                            A         B         C         D
2020-11-09 20:45:00  0.471817  0.720013  0.836488 -0.047980
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  1.164409
2020-11-09 22:45:00 -0.045395 -1.025390 -0.973278 -0.063669
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959  0.772136

In [14]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.values

array([[ 0.15875245,  0.96162013, -0.53775127, -0.96665531],
       [-0.94144458, -0.60714939, -0.12751344,  0.49068387],
       [ 1.51991757,  1.77530096, -0.69817634, -0.57448092],
       [ 0.29166202, -1.94230288, -0.81573468, -0.8795388 ],
       [-1.03886917,  0.74143053, -1.58092355,  0.35120429],
       [ 0.68137838,  0.35536615, -0.50268214,  0.82737471],
       [ 0.47181746,  0.72001323,  0.83648818, -0.04797993],
       [-0.09354643,  0.55447989,  0.2885909 ,  1.16440873],
       [-0.04539451, -1.02539018, -0.97327787, -0.06366888],
       [-0.81960848, -1.73251404, -0.23595948,  0.77213622]])

In [17]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.018466  -0.019915  -0.434694   0.107348
std     0.799447   1.236865   0.675498   0.740110
min    -1.038869  -1.942303  -1.580924  -0.966655
25%    -0.638093  -0.920830  -0.786345  -0.446778
50%     0.056679   0.454923  -0.520217   0.151612
75%     0.426779   0.736076  -0.154625   0.701773
max     1.519918   1.775301   0.836488   1.164409

In [18]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,0.158752,-0.941445,1.519918,0.291662,-1.038869,0.681378,0.471817,-0.093546,-0.045395,-0.819608
B,0.961620,-0.607149,1.775301,-1.942303,0.741431,0.355366,0.720013,0.554480,-1.025390,-1.732514
C,-0.537751,-0.127513,-0.698176,-0.815735,-1.580924,-0.502682,0.836488,0.288591,-0.973278,-0.235959
D,-0.966655,0.490684,-0.574481,-0.879539,0.351204,0.827375,-0.047980,1.164409,-0.063669,0.772136

In [19]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00 -0.966655 -0.537751  0.961620  0.158752
2020-11-09 15:45:00  0.490684 -0.127513 -0.607149 -0.941445
2020-11-09 16:45:00 -0.574481 -0.698176  1.775301  1.519918
2020-11-09 17:45:00 -0.879539 -0.815735 -1.942303  0.291662
2020-11-09 18:45:00  0.351204 -1.580924  0.741431 -1.038869
2020-11-09 19:45:00  0.827375 -0.502682  0.355366  0.681378
2020-11-09 20:45:00 -0.047980  0.836488  0.720013  0.471817
2020-11-09 21:45:00  1.164409  0.288591  0.554480 -0.093546
2020-11-09 22:45:00 -0.063669 -0.973278 -1.025390 -0.045395
2020-11-09 23:45:00  0.772136 -0.235959 -1.732514 -0.819608

In [20]:
df.sort_values(by="C")

                            A         B         C         D
2020-11-09 18:45:00 -1.038869  0.741431 -1.580924  0.351204
2020-11-09 22:45:00 -0.045395 -1.025390 -0.973278 -0.063669
2020-11-09 17:45:00  0.291662 -1.942303 -0.815735 -0.879539
2020-11-09 16:45:00  1.519918  1.775301 -0.698176 -0.574481
2020-11-09 14:45:00  0.158752  0.961620 -0.537751 -0.966655
2020-11-09 19:45:00  0.681378  0.355366 -0.502682  0.827375
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959  0.772136
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  0.490684
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  1.164409
2020-11-09 20:45:00  0.471817  0.720013  0.836488 -0.047980

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [21]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00    0.158752
2020-11-09 15:45:00   -0.941445
2020-11-09 16:45:00    1.519918
2020-11-09 17:45:00    0.291662
2020-11-09 18:45:00   -1.038869
2020-11-09 19:45:00    0.681378
2020-11-09 20:45:00    0.471817
2020-11-09 21:45:00   -0.093546
2020-11-09 22:45:00   -0.045395
2020-11-09 23:45:00   -0.819608
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00    0.158752
2020-11-09 15:45:00   -0.941445
2020-11-09 16:45:00    1.519918
2020-11-09 17:45:00    0.291662
2020-11-09 18:45:00   -1.038869
2020-11-09 19:45:00    0.681378
2020-11-09 20:45:00    0.471817
2020-11-09 21:45:00   -0.093546
2020-11-09 22:45:00   -0.045395
2020-11-09 23:45:00   -0.819608
Freq: H, Name: A, dtype: float64

In [22]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])

                            A         B         C         D
2020-11-09 14:45:00  0.158752  0.961620 -0.537751 -0.966655
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  0.490684
2020-11-09 16:45:00  1.519918  1.775301 -0.698176 -0.574481
                            A         B         C         D
2020-11-09 14:45:00  0.158752  0.961620 -0.537751 -0.966655
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  0.490684
2020-11-09 16:45:00  1.519918  1.775301 -0.698176 -0.574481

### Selection by label

In [23]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    0.158752
B    0.961620
C   -0.537751
D   -0.966655
Name: 2020-11-09 14:45:00, dtype: float64

In [24]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2020-11-09 14:45:00  0.158752  0.961620
2020-11-09 15:45:00 -0.941445 -0.607149
2020-11-09 16:45:00  1.519918  1.775301
2020-11-09 17:45:00  0.291662 -1.942303
2020-11-09 18:45:00 -1.038869  0.741431
2020-11-09 19:45:00  0.681378  0.355366
2020-11-09 20:45:00  0.471817  0.720013
2020-11-09 21:45:00 -0.093546  0.554480
2020-11-09 22:45:00 -0.045395 -1.025390
2020-11-09 23:45:00 -0.819608 -1.732514

In [25]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00 -1.038869  0.741431
2020-11-09 19:45:00  0.681378  0.355366
2020-11-09 20:45:00  0.471817  0.720013

In [26]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-0.9414445750014068
-0.9414445750014068

### Selecting by position

In [27]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.291662
B   -1.942303
C   -0.815735
D   -0.879539
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00  0.291662 -1.942303
2020-11-09 18:45:00 -1.038869  0.741431

In [28]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00 -0.941445 -0.127513
2020-11-09 16:45:00  1.519918 -0.698176
2020-11-09 18:45:00 -1.038869 -1.580924

In [29]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  0.490684
2020-11-09 16:45:00  1.519918  1.775301 -0.698176 -0.574481

                            B         C
2020-11-09 14:45:00  0.961620 -0.537751
2020-11-09 15:45:00 -0.607149 -0.127513
2020-11-09 16:45:00  1.775301 -0.698176
2020-11-09 17:45:00 -1.942303 -0.815735
2020-11-09 18:45:00  0.741431 -1.580924
2020-11-09 19:45:00  0.355366 -0.502682
2020-11-09 20:45:00  0.720013  0.836488
2020-11-09 21:45:00  0.554480  0.288591
2020-11-09 22:45:00 -1.025390 -0.973278
2020-11-09 23:45:00 -1.732514 -0.235959

In [30]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.6071493947208604

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [31]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 14:45:00  0.158752  0.961620 -0.537751 -0.966655
2020-11-09 16:45:00  1.519918  1.775301 -0.698176 -0.574481
2020-11-09 18:45:00 -1.038869  0.741431 -1.580924  0.351204
2020-11-09 19:45:00  0.681378  0.355366 -0.502682  0.827375
2020-11-09 20:45:00  0.471817  0.720013  0.836488 -0.047980
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  1.164409

In [32]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00  0.158752  0.961620       NaN       NaN
2020-11-09 15:45:00       NaN       NaN       NaN  0.490684
2020-11-09 16:45:00  1.519918  1.775301       NaN       NaN
2020-11-09 17:45:00  0.291662       NaN       NaN       NaN
2020-11-09 18:45:00       NaN  0.741431       NaN  0.351204
2020-11-09 19:45:00  0.681378  0.355366       NaN  0.827375
2020-11-09 20:45:00  0.471817  0.720013  0.836488       NaN
2020-11-09 21:45:00       NaN  0.554480  0.288591  1.164409
2020-11-09 22:45:00       NaN       NaN       NaN       NaN
2020-11-09 23:45:00       NaN       NaN       NaN  0.772136

### Setting

Combination of selection and setting of values

In [33]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [34]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.961620 -0.537751  5  0.0        0  1.000000
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  5  0.5        2  0.999962
2020-11-09 16:45:00  1.519918  1.775301 -0.698176  5  1.0        4  0.999848
2020-11-09 17:45:00  0.291662 -1.942303 -0.815735  5  1.5        6  0.999657
2020-11-09 18:45:00 -1.038869  0.741431 -1.580924  5  2.0        8  0.999391
2020-11-09 19:45:00  0.681378  0.355366 -0.502682  5  2.5       10  0.999048
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.045395 -1.025390 -0.973278  5  4.0       16  0.997564
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959  5  4.5       18  0.996917

In [35]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.961620 -0.537751 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -1.519918 -1.775301 -0.698176 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -0.291662 -1.942303 -0.815735 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -1.038869 -0.741431 -1.580924 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -0.681378 -0.355366 -0.502682 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -0.471817 -0.720013 -0.836488 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -0.093546 -0.554480 -0.288591 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -0.045395 -1.025390 -0.973278 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [36]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2020-11-09 14:45:00  0.000000  0.961620 -0.537751  5  0.0  1.000000
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  5  0.5  0.999962
2020-11-09 16:45:00  1.519918  1.775301 -0.698176  5  1.0  0.999848
2020-11-09 17:45:00  0.291662 -1.942303 -0.815735  5  1.5  0.999657
2020-11-09 18:45:00 -1.038869  0.741431 -1.580924  5  2.0  0.999391
2020-11-09 19:45:00  0.681378  0.355366 -0.502682  5  2.5  0.999048
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0  0.998630
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  5  3.5  0.998135
2020-11-09 22:45:00 -0.045395 -1.025390 -0.973278  5  4.0  0.997564
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959  5  4.5  0.996917

In [37]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.961620 -0.537751  5  0.0        0  1.000000
2020-11-09 19:45:00  0.681378  0.355366 -0.502682  5  2.5       10  0.999048
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.045395 -1.025390 -0.973278  5  4.0       16  0.997564
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959  5  4.5       18  0.996917

In [38]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.961620 -0.537751  5  0.0        0  1.000000
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  5  0.5        2  0.999962
2020-11-09 16:45:00  1.519918  1.775301 -0.698176  5  1.0        4  0.999848
2020-11-09 17:45:00  0.291662 -1.942303 -0.815735  5  1.5        6  0.999657
2020-11-09 18:45:00 -1.038869  0.741431 -1.580924  5  2.0        8  0.999391
2020-11-09 19:45:00  0.681378  0.355366 -0.502682  5  2.5       10  0.999048
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  5  3.5       14  0.998135
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [39]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  0.961620       NaN  5  NaN      NaN  1.000000
2020-11-09 15:45:00       NaN       NaN       NaN  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.519918  1.775301       NaN  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.291662       NaN       NaN  5  1.5      6.0  0.999657
2020-11-09 18:45:00       NaN  0.741431       NaN  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.681378  0.355366       NaN  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0     12.0  0.998630
2020-11-09 21:45:00       NaN  0.554480  0.288591  5  3.5     14.0  0.998135
2020-11-09 22:45:00       NaN       NaN       NaN  5  4.0     16.0  0.997564
2020-11-09 23:45:00       NaN       NaN       NaN  5  4.5     18.0  0.996917

In [40]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime   cosine
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0     12.0  0.99863

In [41]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True  False   True  False   True     True   False
2020-11-09 15:45:00   True   True   True  False  False    False   False
2020-11-09 16:45:00  False  False   True  False  False    False   False
2020-11-09 17:45:00  False   True   True  False  False    False   False
2020-11-09 18:45:00   True  False   True  False  False    False   False
2020-11-09 19:45:00  False  False   True  False  False    False   False
2020-11-09 20:45:00  False  False  False  False  False    False   False
2020-11-09 21:45:00   True  False  False  False  False    False   False
2020-11-09 22:45:00   True   True   True  False  False    False   False
2020-11-09 23:45:00   True   True   True  False  False    False   False

In [42]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.961620  0.000000  5  0.0      0.0  1.000000
2020-11-09 15:45:00  0.000000  0.000000  0.000000  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.519918  1.775301  0.000000  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.291662  0.000000  0.000000  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.000000  0.741431  0.000000  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.681378  0.355366  0.000000  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.000000  0.554480  0.288591  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.000000  0.000000  0.000000  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.000000  0.000000  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [43]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  0.961620       NaN  5  NaN      NaN  1.000000
2020-11-09 15:45:00       NaN  0.961620       NaN  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.519918  1.775301       NaN  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.291662  1.775301       NaN  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.291662  0.741431       NaN  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.681378  0.355366       NaN  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.471817  0.554480  0.288591  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.471817  0.554480  0.288591  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.471817  0.554480  0.288591  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [44]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.002591
B         -0.019915
C         -0.434694
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    0.917696
2020-11-09 15:45:00    0.974836
2020-11-09 16:45:00    1.942413
2020-11-09 17:45:00    1.576183
2020-11-09 18:45:00    2.017290
2020-11-09 19:45:00    2.719016
2020-11-09 20:45:00    3.289564
2020-11-09 21:45:00    3.463951
2020-11-09 22:45:00    3.421929
2020-11-09 23:45:00    3.672691
Freq: H, dtype: float64

In [45]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.961620 -0.537751   5   0.0        0  1.000000
2020-11-09 15:45:00 -0.941445  0.354471 -0.665265  10   0.5        2  1.999962
2020-11-09 16:45:00  0.578473  2.129772 -1.363441  15   1.5        6  2.999810
2020-11-09 17:45:00  0.870135  0.187469 -2.179176  20   3.0       12  3.999467
2020-11-09 18:45:00 -0.168734  0.928899 -3.760099  25   5.0       20  4.998858
2020-11-09 19:45:00  0.512644  1.284265 -4.262781  30   7.5       30  5.997906
2020-11-09 20:45:00  0.984462  2.004279 -3.426293  35  10.5       42  6.996536
2020-11-09 21:45:00  0.890915  2.558759 -3.137702  40  14.0       56  7.994670
2020-11-09 22:45:00  0.845521  1.533368 -4.110980  45  18.0       72  8.992234
2020-11-09 23:45:00  0.025912 -0.199146 -4.346940  50  22.5       90  9.989152

In [46]:
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.961620 -0.537751  5  0.0        0  1.000000
2020-11-09 15:45:00 -0.941445 -0.607149 -0.127513  5  0.5        2  0.999962
2020-11-09 16:45:00  1.519918  1.775301 -0.698176  5  1.0        4  0.999848
2020-11-09 17:45:00  0.291662 -1.942303 -0.815735  5  1.5        6  0.999657
2020-11-09 18:45:00 -1.038869  0.741431 -1.580924  5  2.0        8  0.999391
2020-11-09 19:45:00  0.681378  0.355366 -0.502682  5  2.5       10  0.999048
2020-11-09 20:45:00  0.471817  0.720013  0.836488  5  3.0       12  0.998630
2020-11-09 21:45:00 -0.093546  0.554480  0.288591  5  3.5       14  0.998135
2020-11-09 22:45:00 -0.045395 -1.025390 -0.973278  5  4.0       16  0.997564
2020-11-09 23:45:00 -0.819608 -1.732514 -0.235959  5  4.5       18  0.996917

In [47]:
df.apply(lambda x: x.max() - x.min())

A           2.558787
B           3.717604
C           2.417412
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [48]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2020-11-09 14:45:00    0.961620
2020-11-09 15:45:00   -1.548594
2020-11-09 16:45:00    3.295219
2020-11-09 17:45:00   -1.650641
2020-11-09 18:45:00   -0.297439
2020-11-09 19:45:00    1.036745
2020-11-09 20:45:00    1.191831
2020-11-09 21:45:00    0.460933
2020-11-09 22:45:00   -1.070785
2020-11-09 23:45:00   -2.552123
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [52]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
!rm -r ~/data
data

--2020-11-09 16:01:48--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Risoluzione di www.dropbox.com (www.dropbox.com)... 162.125.69.1, 2620:100:6025:1::a27d:4501
Connessione a www.dropbox.com (www.dropbox.com)|162.125.69.1|:443... connesso.
Richiesta HTTP inviata, in attesa di risposta... 301 Moved Permanently
Posizione: /s/raw/xvjzaxzz3ysphme/data_000637.txt [segue]
--2020-11-09 16:01:49--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Riutilizzo della connessione esistente a www.dropbox.com:443.
Richiesta HTTP inviata, in attesa di risposta... 302 Found
Posizione: https://uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com/cd/0/inline/BC7uJuIVcUQMEMylVkJR5DTP98jjh5JTJE39qKpagGkZUEyP0ZqRNcfCUFuPwr_jhU6rtL1FSg3s5KYNf8PW4B91lulgiodLd-pmci9VMAQa0oERikUTlNxySM-Vtz3nQeo/file# [segue]
--2020-11-09 16:01:49--  https://uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com/cd/0/inline/BC7uJuIVcUQMEMylVkJR5DTP98jjh5JTJE39qKpagGkZUEyP0ZqRNcfCUFuPwr_jhU6rtL1FSg3s5KYNf8PW4B91lulgiodLd-pmci9VMAQa0oERikUTlNxySM-Vtz3nQeo/file
Risoluzione di uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com (uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com)... 162.125.69.15, 2620:100:6025:15::a27d:450f
Connessione a uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com (uc374e361209784e3f3543dcb2e9.dl.dropboxusercontent.com)|162.125.69.15|:443... connesso.
Richiesta HTTP inviata, in attesa di risposta... 200 OK
Lunghezza: 33179236 (32M) [text/plain]
Salvataggio in: "/home/dario/data/data_000637.txt"

data_000637.txt     100%[===================>]  31,64M  6,26MB/s    in 5,0s

2020-11-09 16:01:55 (6,35 MB/s) - "/home/dario/data/data_000637.txt" salvato [33179236/33179236]

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

Let's now do some operations among (elements of) columns

In [53]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [54]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')