# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [2]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [4]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [5]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a   -1.351636
b   -0.485218
c   -0.149143
d    0.632597
e   -0.320463
dtype: float64
a         NaN
b   -0.970436
c   -0.298286
d    1.265193
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [6]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
#date = 'Nov 9 2020'
# or alternatively
#date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-23
2020-11-09 14:45:10.000015
2020-11-09 14:45:10.000015
DatetimeIndex(['2020-11-09 14:45:10.000015', '2020-11-10 14:45:10.000015',
               '2020-11-11 14:45:10.000015', '2020-11-12 14:45:10.000015',
               '2020-11-13 14:45:10.000015', '2020-11-14 14:45:10.000015',
               '2020-11-15 14:45:10.000015'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-11-09 14:45:10.000015', '2020-11-09 14:45:11.000015',
               '2020-11-09 14:45:12.000015', '2020-11-09 14:45:13.000015',
               '2020-11-09 14:45:14.000015', '2020-11-09 14:45:15.000015',
               '2020-11-09 14:45:16.000015', '2020-11-09 14:45:17.000015',
               '2020-11-09 14:45:18.000015', '2020-11-09 14:45:19.000015',
               ...
               '2020-11-09 15:45:00.000015', '2020-11-09 15:45:01.000015',
               '2020-11-09 15:45:02.000015', '2020-11-09 15:45:03.000015',
               '2020-11-09 15:45:04.000015', '2020-11-09 15:45:05.000015',
               '2020-11-09 15:45:06.000015', '2020-11-09 15:45:07.000015',
               '2020-11-09 15:45:08.000015', '2020-11-09 15:45:09.000015'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [7]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [8]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-11-9':'2020-11-11'], '\n') # Note - includes end time

2020-11-09 14:45:10.000015    10.738512
2020-11-10 14:45:10.000015     8.830150
2020-11-11 14:45:10.000015    10.491679
2020-11-12 14:45:10.000015     9.650282
Freq: D, dtype: float64

2020-11-09 14:45:10.000015    10.738512
2020-11-10 14:45:10.000015     8.830150
2020-11-11 14:45:10.000015    10.491679
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [9]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [53]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df
print(np.random.randn(entries,4))

[[-0.4257852  -1.5596664  -0.16768466 -0.24130602]
 [ 0.87690937  0.48805003  0.17620011  0.4017174 ]
 [-2.19077238 -1.11174636  0.20704127 -0.62404135]
 [-0.85852384 -0.2733962   1.05909232  0.57031841]
 [ 0.25046803 -0.6913393   0.15741341 -1.2716531 ]
 [ 0.16570607 -0.96226179 -1.28745162 -0.05237271]
 [-1.02100311  1.08466891 -0.02579258  0.44424125]
 [ 0.60261598  1.20116374 -1.15529848 -0.01063542]
 [ 0.24512529 -1.55025056 -0.66298549 -1.84445758]
 [ 1.07248449  0.05133943 -0.23510595  0.68913526]]

or by means of a dictionary:

In [11]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [12]:
df.head()

                            A         B         C         D
2020-11-09 14:45:00  0.110273  0.034317 -0.543550 -0.701344
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  0.411176
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217 -0.014731
2020-11-09 17:45:00 -0.969738 -0.924668  0.162511 -0.742197
2020-11-09 18:45:00 -0.440098  0.869630 -0.116739 -0.052817

In [13]:
df.tail(4)

                            A         B         C         D
2020-11-09 20:45:00 -0.846070 -1.910507  0.556573 -0.087691
2020-11-09 21:45:00  1.390196  1.256462 -0.178025 -1.703812
2020-11-09 22:45:00  0.228531 -0.297126 -0.063751 -0.293334
2020-11-09 23:45:00  0.603218 -0.546966  1.759492 -0.269142

In [14]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.values

array([[ 0.11027257,  0.03431715, -0.54355037, -0.70134353],
       [ 1.1506961 , -0.83568373, -1.92359862,  0.41117555],
       [-0.56444002, -0.04558966, -0.61421691, -0.01473056],
       [-0.96973796, -0.92466769,  0.16251126, -0.74219696],
       [-0.44009765,  0.86963049, -0.1167387 , -0.05281746],
       [-1.24517741, -0.74895186,  0.45305719,  0.85502808],
       [-0.8460704 , -1.91050659,  0.5565733 , -0.08769145],
       [ 1.39019574,  1.25646236, -0.17802523, -1.70381167],
       [ 0.22853099, -0.29712582, -0.06375081, -0.29333416],
       [ 0.60321795, -0.54696559,  1.75949223, -0.26914189]])

In [17]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.058261  -0.314908  -0.050825  -0.259886
std     0.904927   0.912770   0.944796   0.694392
min    -1.245177  -1.910507  -1.923599  -1.703812
25%    -0.775663  -0.814001  -0.452169  -0.599341
50%    -0.164913  -0.422046  -0.090245  -0.178417
75%     0.509546   0.014340   0.380421  -0.024252
max     1.390196   1.256462   1.759492   0.855028

In [18]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,0.110273,1.150696,-0.564440,-0.969738,-0.440098,-1.245177,-0.846070,1.390196,0.228531,0.603218
B,0.034317,-0.835684,-0.045590,-0.924668,0.869630,-0.748952,-1.910507,1.256462,-0.297126,-0.546966
C,-0.543550,-1.923599,-0.614217,0.162511,-0.116739,0.453057,0.556573,-0.178025,-0.063751,1.759492
D,-0.701344,0.411176,-0.014731,-0.742197,-0.052817,0.855028,-0.087691,-1.703812,-0.293334,-0.269142

In [19]:
df.sort_index(axis=1,ascending=False)
#axis mi dice quale asse considero, dopo ci va la condizione, asecnding=False significa che si va dal più piccolo al più grande

                            D         C         B         A
2020-11-09 14:45:00 -0.701344 -0.543550  0.034317  0.110273
2020-11-09 15:45:00  0.411176 -1.923599 -0.835684  1.150696
2020-11-09 16:45:00 -0.014731 -0.614217 -0.045590 -0.564440
2020-11-09 17:45:00 -0.742197  0.162511 -0.924668 -0.969738
2020-11-09 18:45:00 -0.052817 -0.116739  0.869630 -0.440098
2020-11-09 19:45:00  0.855028  0.453057 -0.748952 -1.245177
2020-11-09 20:45:00 -0.087691  0.556573 -1.910507 -0.846070
2020-11-09 21:45:00 -1.703812 -0.178025  1.256462  1.390196
2020-11-09 22:45:00 -0.293334 -0.063751 -0.297126  0.228531
2020-11-09 23:45:00 -0.269142  1.759492 -0.546966  0.603218

In [20]:
df.sort_values(by="C")

                            A         B         C         D
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  0.411176
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217 -0.014731
2020-11-09 14:45:00  0.110273  0.034317 -0.543550 -0.701344
2020-11-09 21:45:00  1.390196  1.256462 -0.178025 -1.703812
2020-11-09 18:45:00 -0.440098  0.869630 -0.116739 -0.052817
2020-11-09 22:45:00  0.228531 -0.297126 -0.063751 -0.293334
2020-11-09 17:45:00 -0.969738 -0.924668  0.162511 -0.742197
2020-11-09 19:45:00 -1.245177 -0.748952  0.453057  0.855028
2020-11-09 20:45:00 -0.846070 -1.910507  0.556573 -0.087691
2020-11-09 23:45:00  0.603218 -0.546966  1.759492 -0.269142

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [21]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00    0.110273
2020-11-09 15:45:00    1.150696
2020-11-09 16:45:00   -0.564440
2020-11-09 17:45:00   -0.969738
2020-11-09 18:45:00   -0.440098
2020-11-09 19:45:00   -1.245177
2020-11-09 20:45:00   -0.846070
2020-11-09 21:45:00    1.390196
2020-11-09 22:45:00    0.228531
2020-11-09 23:45:00    0.603218
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00    0.110273
2020-11-09 15:45:00    1.150696
2020-11-09 16:45:00   -0.564440
2020-11-09 17:45:00   -0.969738
2020-11-09 18:45:00   -0.440098
2020-11-09 19:45:00   -1.245177
2020-11-09 20:45:00   -0.846070
2020-11-09 21:45:00    1.390196
2020-11-09 22:45:00    0.228531
2020-11-09 23:45:00    0.603218
Freq: H, Name: A, dtype: float64

In [22]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])

                            A         B         C         D
2020-11-09 14:45:00  0.110273  0.034317 -0.543550 -0.701344
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  0.411176
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217 -0.014731
                            A         B         C         D
2020-11-09 14:45:00  0.110273  0.034317 -0.543550 -0.701344
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  0.411176
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217 -0.014731

### Selection by label
.loc[ ] creates a copy!!

In [23]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    0.110273
B    0.034317
C   -0.543550
D   -0.701344
Name: 2020-11-09 14:45:00, dtype: float64

In [24]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#df.loc[rows, columns]

                            A         B
2020-11-09 14:45:00  0.110273  0.034317
2020-11-09 15:45:00  1.150696 -0.835684
2020-11-09 16:45:00 -0.564440 -0.045590
2020-11-09 17:45:00 -0.969738 -0.924668
2020-11-09 18:45:00 -0.440098  0.869630
2020-11-09 19:45:00 -1.245177 -0.748952
2020-11-09 20:45:00 -0.846070 -1.910507
2020-11-09 21:45:00  1.390196  1.256462
2020-11-09 22:45:00  0.228531 -0.297126
2020-11-09 23:45:00  0.603218 -0.546966

In [25]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00 -0.440098  0.869630
2020-11-09 19:45:00 -1.245177 -0.748952
2020-11-09 20:45:00 -0.846070 -1.910507

In [26]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

1.1506961047097912
1.1506961047097912

### Selecting by position
.iloc[ ] creates a view!! (to modify the dataframe)

In [27]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -0.969738
B   -0.924668
C    0.162511
D   -0.742197
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00 -0.969738 -0.924668
2020-11-09 18:45:00 -0.440098  0.869630

In [28]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00  1.150696 -1.923599
2020-11-09 16:45:00 -0.564440 -0.614217
2020-11-09 18:45:00 -0.440098 -0.116739

In [29]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  0.411176
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217 -0.014731

                            B         C
2020-11-09 14:45:00  0.034317 -0.543550
2020-11-09 15:45:00 -0.835684 -1.923599
2020-11-09 16:45:00 -0.045590 -0.614217
2020-11-09 17:45:00 -0.924668  0.162511
2020-11-09 18:45:00  0.869630 -0.116739
2020-11-09 19:45:00 -0.748952  0.453057
2020-11-09 20:45:00 -1.910507  0.556573
2020-11-09 21:45:00  1.256462 -0.178025
2020-11-09 22:45:00 -0.297126 -0.063751
2020-11-09 23:45:00 -0.546966  1.759492

In [30]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.8356837250115283

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [31]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 14:45:00  0.110273  0.034317 -0.543550 -0.701344
2020-11-09 18:45:00 -0.440098  0.869630 -0.116739 -0.052817
2020-11-09 21:45:00  1.390196  1.256462 -0.178025 -1.703812

In [32]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00  0.110273  0.034317       NaN       NaN
2020-11-09 15:45:00  1.150696       NaN       NaN  0.411176
2020-11-09 16:45:00       NaN       NaN       NaN       NaN
2020-11-09 17:45:00       NaN       NaN  0.162511       NaN
2020-11-09 18:45:00       NaN  0.869630       NaN       NaN
2020-11-09 19:45:00       NaN       NaN  0.453057  0.855028
2020-11-09 20:45:00       NaN       NaN  0.556573       NaN
2020-11-09 21:45:00  1.390196  1.256462       NaN       NaN
2020-11-09 22:45:00  0.228531       NaN       NaN       NaN
2020-11-09 23:45:00  0.603218       NaN  1.759492       NaN

### Setting

Combination of selection and setting of values

In [33]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [34]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.034317 -0.543550  5  0.0        0  1.000000
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217  5  1.0        4  0.999848
2020-11-09 17:45:00 -0.969738 -0.924668  0.162511  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.440098  0.869630 -0.116739  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.245177 -0.748952  0.453057  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.846070 -1.910507  0.556573  5  3.0       12  0.998630
2020-11-09 21:45:00  1.390196  1.256462 -0.178025  5  3.5       14  0.998135
2020-11-09 22:45:00  0.228531 -0.297126 -0.063751  5  4.0       16  0.997564
2020-11-09 23:45:00  0.603218 -0.546966  1.759492  5  4.5       18  0.996917

In [35]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -0.034317 -0.543550 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -1.150696 -0.835684 -1.923599 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -0.969738 -0.924668 -0.162511 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -0.440098 -0.869630 -0.116739 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -1.245177 -0.748952 -0.453057 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -0.846070 -1.910507 -0.556573 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -1.390196 -1.256462 -0.178025 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -0.228531 -0.297126 -0.063751 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -0.603218 -0.546966 -1.759492 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [36]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2020-11-09 14:45:00  0.000000  0.034317 -0.543550  5  0.0  1.000000
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  5  0.5  0.999962
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217  5  1.0  0.999848
2020-11-09 17:45:00 -0.969738 -0.924668  0.162511  5  1.5  0.999657
2020-11-09 18:45:00 -0.440098  0.869630 -0.116739  5  2.0  0.999391
2020-11-09 19:45:00 -1.245177 -0.748952  0.453057  5  2.5  0.999048
2020-11-09 20:45:00 -0.846070 -1.910507  0.556573  5  3.0  0.998630
2020-11-09 21:45:00  1.390196  1.256462 -0.178025  5  3.5  0.998135
2020-11-09 22:45:00  0.228531 -0.297126 -0.063751  5  4.0  0.997564
2020-11-09 23:45:00  0.603218 -0.546966  1.759492  5  4.5  0.996917

In [37]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.034317 -0.543550  5  0.0        0  1.000000
2020-11-09 19:45:00 -1.245177 -0.748952  0.453057  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.846070 -1.910507  0.556573  5  3.0       12  0.998630
2020-11-09 21:45:00  1.390196  1.256462 -0.178025  5  3.5       14  0.998135
2020-11-09 22:45:00  0.228531 -0.297126 -0.063751  5  4.0       16  0.997564
2020-11-09 23:45:00  0.603218 -0.546966  1.759492  5  4.5       18  0.996917

In [38]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.034317 -0.543550  5  0.0        0  1.000000
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217  5  1.0        4  0.999848
2020-11-09 17:45:00 -0.969738 -0.924668  0.162511  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.440098  0.869630 -0.116739  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.245177 -0.748952  0.453057  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.846070 -1.910507  0.556573  5  3.0       12  0.998630
2020-11-09 21:45:00  1.390196  1.256462 -0.178025  5  3.5       14  0.998135
2020-11-09 23:45:00  0.603218 -0.546966  1.759492  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [39]:
df_wNan = df[df>0]
df_wNan
#Nan indica un numero in notazione binaria in cui tutti i bit delle diverse sezioni sono saturi
#in pandas equivale proprio a dire che non c'è il numero

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  0.034317       NaN  5  NaN      NaN  1.000000
2020-11-09 15:45:00  1.150696       NaN       NaN  5  0.5      2.0  0.999962
2020-11-09 16:45:00       NaN       NaN       NaN  5  1.0      4.0  0.999848
2020-11-09 17:45:00       NaN       NaN  0.162511  5  1.5      6.0  0.999657
2020-11-09 18:45:00       NaN  0.869630       NaN  5  2.0      8.0  0.999391
2020-11-09 19:45:00       NaN       NaN  0.453057  5  2.5     10.0  0.999048
2020-11-09 20:45:00       NaN       NaN  0.556573  5  3.0     12.0  0.998630
2020-11-09 21:45:00  1.390196  1.256462       NaN  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.228531       NaN       NaN  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.603218       NaN  1.759492  5  4.5     18.0  0.996917

In [40]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, E, E prime, cosine]
Index: []

In [41]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True  False   True  False   True     True   False
2020-11-09 15:45:00  False   True   True  False  False    False   False
2020-11-09 16:45:00   True   True   True  False  False    False   False
2020-11-09 17:45:00   True   True  False  False  False    False   False
2020-11-09 18:45:00   True  False   True  False  False    False   False
2020-11-09 19:45:00   True   True  False  False  False    False   False
2020-11-09 20:45:00   True   True  False  False  False    False   False
2020-11-09 21:45:00  False  False   True  False  False    False   False
2020-11-09 22:45:00  False   True   True  False  False    False   False
2020-11-09 23:45:00  False   True  False  False  False    False   False

In [42]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.034317  0.000000  5  0.0      0.0  1.000000
2020-11-09 15:45:00  1.150696  0.000000  0.000000  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.000000  0.000000  0.000000  5  1.0      4.0  0.999848
2020-11-09 17:45:00  0.000000  0.000000  0.162511  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.000000  0.869630  0.000000  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.000000  0.000000  0.453057  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.000000  0.000000  0.556573  5  3.0     12.0  0.998630
2020-11-09 21:45:00  1.390196  1.256462  0.000000  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.228531  0.000000  0.000000  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.603218  0.000000  1.759492  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [43]:
#pandas cerca di riempire le caselle mancanti in modo intelligente. Molto rischioso
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  0.034317       NaN  5  NaN      NaN  1.000000
2020-11-09 15:45:00  1.150696  0.034317       NaN  5  0.5      2.0  0.999962
2020-11-09 16:45:00  1.150696  0.034317       NaN  5  1.0      4.0  0.999848
2020-11-09 17:45:00  1.150696  0.034317  0.162511  5  1.5      6.0  0.999657
2020-11-09 18:45:00  1.150696  0.869630  0.162511  5  2.0      8.0  0.999391
2020-11-09 19:45:00  1.150696  0.869630  0.453057  5  2.5     10.0  0.999048
2020-11-09 20:45:00  1.150696  0.869630  0.556573  5  3.0     12.0  0.998630
2020-11-09 21:45:00  1.390196  1.256462  0.556573  5  3.5     14.0  0.998135
2020-11-09 22:45:00  0.228531  1.256462  0.556573  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.603218  1.256462  1.759492  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [44]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A         -0.069288
B         -0.314908
C         -0.050825
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    0.784395
2020-11-09 15:45:00    0.984482
2020-11-09 16:45:00    1.396514
2020-11-09 17:45:00    1.681109
2020-11-09 18:45:00    2.330312
2020-11-09 19:45:00    2.422568
2020-11-09 20:45:00    2.685518
2020-11-09 21:45:00    3.709538
2020-11-09 22:45:00    3.695031
2020-11-09 23:45:00    4.330380
Freq: H, dtype: float64

In [45]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.034317 -0.543550   5   0.0        0  1.000000
2020-11-09 15:45:00  1.150696 -0.801367 -2.467149  10   0.5        2  1.999962
2020-11-09 16:45:00  0.586256 -0.846956 -3.081366  15   1.5        6  2.999810
2020-11-09 17:45:00 -0.383482 -1.771624 -2.918855  20   3.0       12  3.999467
2020-11-09 18:45:00 -0.823580 -0.901993 -3.035593  25   5.0       20  4.998858
2020-11-09 19:45:00 -2.068757 -1.650945 -2.582536  30   7.5       30  5.997906
2020-11-09 20:45:00 -2.914827 -3.561452 -2.025963  35  10.5       42  6.996536
2020-11-09 21:45:00 -1.524632 -2.304990 -2.203988  40  14.0       56  7.994670
2020-11-09 22:45:00 -1.296101 -2.602115 -2.267739  45  18.0       72  8.992234
2020-11-09 23:45:00 -0.692883 -3.149081 -0.508247  50  22.5       90  9.989152

In [46]:
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  0.034317 -0.543550  5  0.0        0  1.000000
2020-11-09 15:45:00  1.150696 -0.835684 -1.923599  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.564440 -0.045590 -0.614217  5  1.0        4  0.999848
2020-11-09 17:45:00 -0.969738 -0.924668  0.162511  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.440098  0.869630 -0.116739  5  2.0        8  0.999391
2020-11-09 19:45:00 -1.245177 -0.748952  0.453057  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.846070 -1.910507  0.556573  5  3.0       12  0.998630
2020-11-09 21:45:00  1.390196  1.256462 -0.178025  5  3.5       14  0.998135
2020-11-09 22:45:00  0.228531 -0.297126 -0.063751  5  4.0       16  0.997564
2020-11-09 23:45:00  0.603218 -0.546966  1.759492  5  4.5       18  0.996917

In [47]:
df.apply(lambda x: x.max() - x.min())

A           2.635373
B           3.166969
C           3.683091
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [48]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2020-11-09 14:45:00    0.034317
2020-11-09 15:45:00    0.315012
2020-11-09 16:45:00   -0.610030
2020-11-09 17:45:00   -1.894406
2020-11-09 18:45:00    0.429533
2020-11-09 19:45:00   -1.994129
2020-11-09 20:45:00   -2.756577
2020-11-09 21:45:00    2.646658
2020-11-09 22:45:00   -0.068595
2020-11-09 23:45:00    0.056252
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [49]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

    HEAD  FPGA  TDC_CHANNEL     ORB_CNT    BX  TDC_MEAS
0      1     0          122  3869200167  2374        27
1      1     0          123  3869200167  2374        28
2      1     0           62  3869200167  2553        29
3      1     0           63  3869200167  2558        20
4      1     0           63  3869200167  2760        26
..   ...   ...          ...         ...   ...       ...
95     1     0           63  3869200168  1506         5
96     1     1            5  3869200168  1503         7
97     1     0           60  3869200168  1609        11
98     1     0           58  3869200168  1614        17
99     1     0          138  3869200168  1616         1

[100 rows x 6 columns]

Let's now do some operations among (elements of) columns

In [50]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX']*25

In [51]:
data['timens']

0     59372.500000
1     59373.333333
2     63849.166667
3     63966.666667
4     69021.666667
          ...
95    37654.166667
96    37580.833333
97    40234.166667
98    40364.166667
99    40400.833333
Name: timens, Length: 100, dtype: float64

In [52]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

KeyError: 'BX_COUNTER'

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')