## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [ ]:
# If you didn't download it yet, please get the relevant file now!
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [11]:
import pandas as pd
import numpy as np

In [12]:
#1) Import N rows from the data file

N = 20000 #value between 10k and 1310720 (nr of rows)
file_name = "~/data/data_000637.txt"
data = pd.read_csv(file_name, nrows=N)
data #to check
#data.groupby('ORBIT_CNT').sum()
#max_x = data.max('BX_COUNTER')
#print(max_x)

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0         1     0          123  3869200167        2374        26
1         1     0          124  3869200167        2374        27
2         1     0           63  3869200167        2553        28
3         1     0           64  3869200167        2558        19
4         1     0           64  3869200167        2760        25
...     ...   ...          ...         ...         ...       ...
19995     1     0           27  3869200366        2513        29
19996     1     0           63  3869200366        2517         6
19997     1     0           32  3869200366        2519         5
19998     1     0           17  3869200366        2522        21
19999     1     0           64  3869200366        2522         0

[20000 rows x 6 columns]

In [16]:
#2) Find 'x': max of BX_COUNTER, so 3563

data.apply(lambda x: x.max())
xmax = 3563

In [14]:
#3) How much the data taking lasted: approx 2.7 s for the whole dataset 

%timeit pd.read_csv(file_name)

2.7 s ± 465 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [18]:
#4) New column with the absolute time in ns

data['timens'] = data['TDC_MEAS']*25/30 + (data['BX_COUNTER']+data['ORBIT_CNT']*xmax)*25 
data

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS        timens
0         1     0          123  3869200167        2374        26  3.446490e+14
1         1     0          124  3869200167        2374        27  3.446490e+14
2         1     0           63  3869200167        2553        28  3.446490e+14
3         1     0           64  3869200167        2558        19  3.446490e+14
4         1     0           64  3869200167        2760        25  3.446490e+14
...     ...   ...          ...         ...         ...       ...           ...
19995     1     0           27  3869200366        2513        29  3.446490e+14
19996     1     0           63  3869200366        2517         6  3.446490e+14
19997     1     0           32  3869200366        2519         5  3.446490e+14
19998     1     0           17  3869200366        2522        21  3.446490e+14
19999     1     0           64  3869200366        2522         0  3.446490e+14

[20000 rows x 7 columns]

In [25]:
#5) Replacing the values of the HEAD column randomly with 0 or 1.

data.at[:,'HEAD'] = np.random.randrange(0, 2) #qui metti una list di 0 e 1! così l'assegnazione dovrebbe funzionare
data

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS        timens
0         0     0          123  3869200167        2374        26  3.446490e+14
1         0     0          124  3869200167        2374        27  3.446490e+14
2         0     0           63  3869200167        2553        28  3.446490e+14
3         0     0           64  3869200167        2558        19  3.446490e+14
4         0     0           64  3869200167        2760        25  3.446490e+14
...     ...   ...          ...         ...         ...       ...           ...
19995     0     0           27  3869200366        2513        29  3.446490e+14
19996     0     0           63  3869200366        2517         6  3.446490e+14
19997     0     0           32  3869200366        2519         5  3.446490e+14
19998     0     0           17  3869200366        2522        21  3.446490e+14
19999     0     0           64  3869200366        2522         0  3.446490e+14

[20000 rows x 7 columns]

In [26]:
data.apply(lambda x: x.max())

HEAD           0.000000e+00
FPGA           1.000000e+00
TDC_CHANNEL    1.390000e+02
ORBIT_CNT      3.869200e+09
BX_COUNTER     3.563000e+03
TDC_MEAS       2.900000e+01
timens         3.446490e+14
dtype: float64